/* ********** GENERATED IMPORTS START ********** */
@import "./css/b.css";
@import "./css/bb.css";
@import "./css/bl.css";
@import "./css/br.css";
@import "./css/bt.css";
@import "./css/fs.css";
@import "./css/h.css";
@import "./css/lh.css";
@import "./css/m.css";
@import "./css/max-h.css";
@import "./css/max-w.css";
@import "./css/mb.css";
@import "./css/min-h.css";
@import "./css/min-w.css";
@import "./css/ml.css";
@import "./css/mr.css";
@import "./css/mt.css";
@import "./css/mx.css";
@import "./css/my.css";
@import "./css/p.css";
@import "./css/pb.css";
@import "./css/pl.css";
@import "./css/pr.css";
@import "./css/pt.css";
@import "./css/px.css";
@import "./css/py.css";
@import "./css/r.css";
@import "./css/rb.css";
@import "./css/rbl.css";
@import "./css/rbr.css";
@import "./css/rl.css";
@import "./css/rr.css";
@import "./css/rt.css";
@import "./css/rtl.css";
@import "./css/rtr.css";
@import "./css/w.css";
/* ********** GENERATED IMPORTS END ************ */

/* Inter, Hind */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
	--round-tl: 0;
	--round-tr: 0;
	--round-br: 0;
	--round-bl: 0;
	--border-t: 0;
	--border-r: 0;
	--border-b: 0;
	--border-l: 0;
	--border-color: transparent;
	--border-style: solid;
	--ml: 0;
	--mr: 0;
	--mt: 0;
	--mb: 0;
	--pl: 0;
	--pr: 0;
	--pt: 0;
	--pb: 0;
	background: transparent;
	border-top: var(--border-t) var(--border-style) var(--border-color);
	border-right: var(--border-r) var(--border-style) var(--border-color);
	border-bottom: var(--border-b) var(--border-style) var(--border-color);
	border-left: var(--border-l) var(--border-style) var(--border-color);
	border-top-left-radius: var(--round-tl);
	border-top-right-radius: var(--round-tr);
	border-bottom-right-radius: var(--round-br);
	border-bottom-left-radius: var(--round-bl);
	box-sizing: border-box;
	color: inherit;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	list-style: none;
	margin: var(--mt) var(--mr) var(--mb) var(--ml);
	outline: none;
	padding: var(--pt) var(--pr) var(--pb) var(--pl);
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root {
	font-size: 16px;
	line-height: 1.5;
}
code,
pre {
	font-family: "Fira Code", monospace;
}
img,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.hidden {
	display: none;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.inline-grid {
	display: inline-grid;
}

.aic {
	align-items: center;
}
.aifs {
	align-items: flex-start;
}
.aife {
	align-items: flex-end;
}
.aib {
	align-items: baseline;
}
