/* Inter, Hind */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	/* Colors */
	--white: 255, 255, 255;
	--black: 0, 0, 0;

	--gray-300: 237, 237, 237;
	--gray-400: 193, 193, 193;
	--gray-500: 149, 149, 149;
	--gray-600: 105, 105, 105;
	--gray-700: 61, 61, 61;
	--gray-800: 17, 17, 17;

	--blue-300: 191, 220, 254;
	--blue-400: 128, 185, 255;
	--blue-500: 0, 114, 255;
	--blue-600: 0, 85, 191;
	--blue-700: 0, 57, 127;
	--blue-800: 0, 42, 95;

	/* Property Overlay */
	--bg-alpha: 1;
	--text-alpha: 1;

	--bg: rgba(var(--gray-300), var(--bg-alpha));
	--text: rgba(var(--gray-800), var(--text-alpha));
	--primary: rgba(var(--blue-500), var(--bg-alpha));
	--secondary: rgba(var(--blue-300), var(--bg-alpha));

	font-size: 16px;
}
@media (prefers-color-scheme: light) {
	:root {
		--bg: rgba(var(--gray-300), var(--bg-alpha));
		--text: rgba(var(--gray-800), var(--text-alpha));
		--primary: rgba(var(--blue-500), var(--bg-alpha));
		--secondary: rgba(var(--blue-300), var(--bg-alpha));
	}
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--bg: rgba(var(--gray-800), var(--bg-alpha));
		--text: rgba(var(--gray-300), var(--text-alpha));
		--primary: rgba(var(--blue-500), var(--bg-alpha));
		--secondary: rgba(var(--blue-800), var(--bg-alpha));
	}
} */
*,
*::before,
*::after {
	/* Reset */
	border: none;
	border-radius: none;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	/* Theme */
	background: var(--bg);
	color: var(--text);
}
code,
pre {
	font-family: "Fira Code", monospace;
}
/* img,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
} */

.bg-white {
	background: rgba(var(--white), var(--bg-alpha));
}
.bg-black {
	background: rgba(var(--black), var(--bg-alpha));
}
.bg-gray-300 {
	background: rgba(var(--gray-300), var(--bg-alpha));
}
.bg-gray-400 {
	background: rgba(var(--gray-400), var(--bg-alpha));
}
.bg-gray-500 {
	background: rgba(var(--gray-500), var(--bg-alpha));
}
.bg-gray-600 {
	background: rgba(var(--gray-600), var(--bg-alpha));
}
.bg-gray-700 {
	background: rgba(var(--gray-700), var(--bg-alpha));
}
.bg-gray-800 {
	background: rgba(var(--gray-800), var(--bg-alpha));
}
.bg-blue-300 {
	background: rgba(var(--blue-300), var(--bg-alpha));
}
.bg-blue-400 {
	background: rgba(var(--blue-400), var(--bg-alpha));
}
.bg-blue-500 {
	background: rgba(var(--blue-500), var(--bg-alpha));
}
.bg-blue-600 {
	background: rgba(var(--blue-600), var(--bg-alpha));
}
.bg-blue-700 {
	background: rgba(var(--blue-700), var(--bg-alpha));
}
.bg-blue-800 {
	background: rgba(var(--blue-800), var(--bg-alpha));
}
.text-white {
	color: rgba(var(--white), var(--text-alpha));
}
.text-black {
	color: rgba(var(--black), var(--text-alpha));
}
.text-gray-300 {
	color: rgba(var(--gray-300), var(--text-alpha));
}
.text-gray-400 {
	color: rgba(var(--gray-400), var(--text-alpha));
}
.text-gray-500 {
	color: rgba(var(--gray-500), var(--text-alpha));
}
.text-gray-600 {
	color: rgba(var(--gray-600), var(--text-alpha));
}
.text-gray-700 {
	color: rgba(var(--gray-700), var(--text-alpha));
}
.text-gray-800 {
	color: rgba(var(--gray-800), var(--text-alpha));
}
.text-blue-300 {
	color: rgba(var(--blue-300), var(--text-alpha));
}
.text-blue-400 {
	color: rgba(var(--blue-400), var(--text-alpha));
}
.text-blue-500 {
	color: rgba(var(--blue-500), var(--text-alpha));
}
.text-blue-600 {
	color: rgba(var(--blue-600), var(--text-alpha));
}
.text-blue-700 {
	color: rgba(var(--blue-700), var(--text-alpha));
}
.text-blue-800 {
	color: rgba(var(--blue-800), var(--text-alpha));
}
.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}