.b-0 { --border-t: 0.000px; --border-r: 0.000px; --border-b: 0.000px; --border-l: 0.000px }
.b-1 { --border-t: 1.000px; --border-r: 1.000px; --border-b: 1.000px; --border-l: 1.000px }
.b-2 { --border-t: 2.000px; --border-r: 2.000px; --border-b: 2.000px; --border-l: 2.000px }
.b-3 { --border-t: 3.000px; --border-r: 3.000px; --border-b: 3.000px; --border-l: 3.000px }
.b-4 { --border-t: 4.000px; --border-r: 4.000px; --border-b: 4.000px; --border-l: 4.000px }
.b-5 { --border-t: 5.000px; --border-r: 5.000px; --border-b: 5.000px; --border-l: 5.000px }
.b-6 { --border-t: 6.000px; --border-r: 6.000px; --border-b: 6.000px; --border-l: 6.000px }
.b-7 { --border-t: 7.000px; --border-r: 7.000px; --border-b: 7.000px; --border-l: 7.000px }
.b-8 { --border-t: 8.000px; --border-r: 8.000px; --border-b: 8.000px; --border-l: 8.000px }
.b-9 { --border-t: 9.000px; --border-r: 9.000px; --border-b: 9.000px; --border-l: 9.000px }
.b-10 { --border-t: 10.000px; --border-r: 10.000px; --border-b: 10.000px; --border-l: 10.000px }
.b-11 { --border-t: 11.000px; --border-r: 11.000px; --border-b: 11.000px; --border-l: 11.000px }
.b-12 { --border-t: 12.000px; --border-r: 12.000px; --border-b: 12.000px; --border-l: 12.000px }
.b-13 { --border-t: 13.000px; --border-r: 13.000px; --border-b: 13.000px; --border-l: 13.000px }
.b-14 { --border-t: 14.000px; --border-r: 14.000px; --border-b: 14.000px; --border-l: 14.000px }
.b-15 { --border-t: 15.000px; --border-r: 15.000px; --border-b: 15.000px; --border-l: 15.000px }
.b-16 { --border-t: 16.000px; --border-r: 16.000px; --border-b: 16.000px; --border-l: 16.000px }
.b-1\/2 { --border-t: 50.000%; --border-r: 50.000%; --border-b: 50.000%; --border-l: 50.000% }
.b-1\/3 { --border-t: 33.333%; --border-r: 33.333%; --border-b: 33.333%; --border-l: 33.333% }
.b-2\/3 { --border-t: 66.667%; --border-r: 66.667%; --border-b: 66.667%; --border-l: 66.667% }
.b-1\/4 { --border-t: 25.000%; --border-r: 25.000%; --border-b: 25.000%; --border-l: 25.000% }
.b-3\/4 { --border-t: 75.000%; --border-r: 75.000%; --border-b: 75.000%; --border-l: 75.000% }
.b-1\/5 { --border-t: 20.000%; --border-r: 20.000%; --border-b: 20.000%; --border-l: 20.000% }
.b-2\/5 { --border-t: 40.000%; --border-r: 40.000%; --border-b: 40.000%; --border-l: 40.000% }
.b-3\/5 { --border-t: 60.000%; --border-r: 60.000%; --border-b: 60.000%; --border-l: 60.000% }
.b-4\/5 { --border-t: 80.000%; --border-r: 80.000%; --border-b: 80.000%; --border-l: 80.000% }
.b-1\/6 { --border-t: 16.667%; --border-r: 16.667%; --border-b: 16.667%; --border-l: 16.667% }
.b-5\/6 { --border-t: 83.333%; --border-r: 83.333%; --border-b: 83.333%; --border-l: 83.333% }
.b-1\/8 { --border-t: 12.500%; --border-r: 12.500%; --border-b: 12.500%; --border-l: 12.500% }
.b-3\/8 { --border-t: 37.500%; --border-r: 37.500%; --border-b: 37.500%; --border-l: 37.500% }
.b-5\/8 { --border-t: 62.500%; --border-r: 62.500%; --border-b: 62.500%; --border-l: 62.500% }
.b-7\/8 { --border-t: 87.500%; --border-r: 87.500%; --border-b: 87.500%; --border-l: 87.500% }
.b-1\/9 { --border-t: 11.111%; --border-r: 11.111%; --border-b: 11.111%; --border-l: 11.111% }
.b-2\/9 { --border-t: 22.222%; --border-r: 22.222%; --border-b: 22.222%; --border-l: 22.222% }
.b-4\/9 { --border-t: 44.444%; --border-r: 44.444%; --border-b: 44.444%; --border-l: 44.444% }
.b-5\/9 { --border-t: 55.556%; --border-r: 55.556%; --border-b: 55.556%; --border-l: 55.556% }
.b-7\/9 { --border-t: 77.778%; --border-r: 77.778%; --border-b: 77.778%; --border-l: 77.778% }
.b-8\/9 { --border-t: 88.889%; --border-r: 88.889%; --border-b: 88.889%; --border-l: 88.889% }
.b-1\/10 { --border-t: 10.000%; --border-r: 10.000%; --border-b: 10.000%; --border-l: 10.000% }
.b-3\/10 { --border-t: 30.000%; --border-r: 30.000%; --border-b: 30.000%; --border-l: 30.000% }
.b-7\/10 { --border-t: 70.000%; --border-r: 70.000%; --border-b: 70.000%; --border-l: 70.000% }
.b-9\/10 { --border-t: 90.000%; --border-r: 90.000%; --border-b: 90.000%; --border-l: 90.000% }
.b-1\/12 { --border-t: 8.333%; --border-r: 8.333%; --border-b: 8.333%; --border-l: 8.333% }
.b-5\/12 { --border-t: 41.667%; --border-r: 41.667%; --border-b: 41.667%; --border-l: 41.667% }
.b-7\/12 { --border-t: 58.333%; --border-r: 58.333%; --border-b: 58.333%; --border-l: 58.333% }
.b-11\/12 { --border-t: 91.667%; --border-r: 91.667%; --border-b: 91.667%; --border-l: 91.667% }
.b-1\/16 { --border-t: 6.250%; --border-r: 6.250%; --border-b: 6.250%; --border-l: 6.250% }
.b-3\/16 { --border-t: 18.750%; --border-r: 18.750%; --border-b: 18.750%; --border-l: 18.750% }
.b-5\/16 { --border-t: 31.250%; --border-r: 31.250%; --border-b: 31.250%; --border-l: 31.250% }
.b-7\/16 { --border-t: 43.750%; --border-r: 43.750%; --border-b: 43.750%; --border-l: 43.750% }
.b-9\/16 { --border-t: 56.250%; --border-r: 56.250%; --border-b: 56.250%; --border-l: 56.250% }
.b-11\/16 { --border-t: 68.750%; --border-r: 68.750%; --border-b: 68.750%; --border-l: 68.750% }
.b-13\/16 { --border-t: 81.250%; --border-r: 81.250%; --border-b: 81.250%; --border-l: 81.250% }
.b-15\/16 { --border-t: 93.750%; --border-r: 93.750%; --border-b: 93.750%; --border-l: 93.750% }