.by-0 { border-top-width: 0.000px; border-bottom-width: 0.000px }
.by-1 { border-top-width: 1.000px; border-bottom-width: 1.000px }
.by-2 { border-top-width: 2.000px; border-bottom-width: 2.000px }
.by-3 { border-top-width: 3.000px; border-bottom-width: 3.000px }
.by-4 { border-top-width: 4.000px; border-bottom-width: 4.000px }
.by-5 { border-top-width: 5.000px; border-bottom-width: 5.000px }
.by-6 { border-top-width: 6.000px; border-bottom-width: 6.000px }
.by-7 { border-top-width: 7.000px; border-bottom-width: 7.000px }
.by-8 { border-top-width: 8.000px; border-bottom-width: 8.000px }
.by-9 { border-top-width: 9.000px; border-bottom-width: 9.000px }
.by-10 { border-top-width: 10.000px; border-bottom-width: 10.000px }
.by-11 { border-top-width: 11.000px; border-bottom-width: 11.000px }
.by-12 { border-top-width: 12.000px; border-bottom-width: 12.000px }
.by-13 { border-top-width: 13.000px; border-bottom-width: 13.000px }
.by-14 { border-top-width: 14.000px; border-bottom-width: 14.000px }
.by-15 { border-top-width: 15.000px; border-bottom-width: 15.000px }
.by-16 { border-top-width: 16.000px; border-bottom-width: 16.000px }
.by-17 { border-top-width: 17.000px; border-bottom-width: 17.000px }
.by-18 { border-top-width: 18.000px; border-bottom-width: 18.000px }
.by-19 { border-top-width: 19.000px; border-bottom-width: 19.000px }
.by-20 { border-top-width: 20.000px; border-bottom-width: 20.000px }
.by-21 { border-top-width: 21.000px; border-bottom-width: 21.000px }
.by-22 { border-top-width: 22.000px; border-bottom-width: 22.000px }
.by-23 { border-top-width: 23.000px; border-bottom-width: 23.000px }
.by-24 { border-top-width: 24.000px; border-bottom-width: 24.000px }
.by-25 { border-top-width: 25.000px; border-bottom-width: 25.000px }
.by-26 { border-top-width: 26.000px; border-bottom-width: 26.000px }
.by-27 { border-top-width: 27.000px; border-bottom-width: 27.000px }
.by-28 { border-top-width: 28.000px; border-bottom-width: 28.000px }
.by-29 { border-top-width: 29.000px; border-bottom-width: 29.000px }
.by-30 { border-top-width: 30.000px; border-bottom-width: 30.000px }
.by-31 { border-top-width: 31.000px; border-bottom-width: 31.000px }
.by-32 { border-top-width: 32.000px; border-bottom-width: 32.000px }
.by-33 { border-top-width: 33.000px; border-bottom-width: 33.000px }
.by-34 { border-top-width: 34.000px; border-bottom-width: 34.000px }
.by-35 { border-top-width: 35.000px; border-bottom-width: 35.000px }
.by-36 { border-top-width: 36.000px; border-bottom-width: 36.000px }
.by-37 { border-top-width: 37.000px; border-bottom-width: 37.000px }
.by-38 { border-top-width: 38.000px; border-bottom-width: 38.000px }
.by-39 { border-top-width: 39.000px; border-bottom-width: 39.000px }
.by-40 { border-top-width: 40.000px; border-bottom-width: 40.000px }
.by-41 { border-top-width: 41.000px; border-bottom-width: 41.000px }
.by-42 { border-top-width: 42.000px; border-bottom-width: 42.000px }
.by-43 { border-top-width: 43.000px; border-bottom-width: 43.000px }
.by-44 { border-top-width: 44.000px; border-bottom-width: 44.000px }
.by-45 { border-top-width: 45.000px; border-bottom-width: 45.000px }
.by-46 { border-top-width: 46.000px; border-bottom-width: 46.000px }
.by-47 { border-top-width: 47.000px; border-bottom-width: 47.000px }
.by-48 { border-top-width: 48.000px; border-bottom-width: 48.000px }
.by-49 { border-top-width: 49.000px; border-bottom-width: 49.000px }
.by-50 { border-top-width: 50.000px; border-bottom-width: 50.000px }
.by-51 { border-top-width: 51.000px; border-bottom-width: 51.000px }
.by-52 { border-top-width: 52.000px; border-bottom-width: 52.000px }
.by-53 { border-top-width: 53.000px; border-bottom-width: 53.000px }
.by-54 { border-top-width: 54.000px; border-bottom-width: 54.000px }
.by-55 { border-top-width: 55.000px; border-bottom-width: 55.000px }
.by-56 { border-top-width: 56.000px; border-bottom-width: 56.000px }
.by-57 { border-top-width: 57.000px; border-bottom-width: 57.000px }
.by-58 { border-top-width: 58.000px; border-bottom-width: 58.000px }
.by-59 { border-top-width: 59.000px; border-bottom-width: 59.000px }
.by-60 { border-top-width: 60.000px; border-bottom-width: 60.000px }
.by-61 { border-top-width: 61.000px; border-bottom-width: 61.000px }
.by-62 { border-top-width: 62.000px; border-bottom-width: 62.000px }
.by-63 { border-top-width: 63.000px; border-bottom-width: 63.000px }
.by-64 { border-top-width: 64.000px; border-bottom-width: 64.000px }
.by-1\/2 { border-top-width: 50.000%; border-bottom-width: 50.000% }
.by-1\/3 { border-top-width: 33.333%; border-bottom-width: 33.333% }
.by-2\/3 { border-top-width: 66.667%; border-bottom-width: 66.667% }
.by-1\/4 { border-top-width: 25.000%; border-bottom-width: 25.000% }
.by-3\/4 { border-top-width: 75.000%; border-bottom-width: 75.000% }
.by-1\/5 { border-top-width: 20.000%; border-bottom-width: 20.000% }
.by-2\/5 { border-top-width: 40.000%; border-bottom-width: 40.000% }
.by-3\/5 { border-top-width: 60.000%; border-bottom-width: 60.000% }
.by-4\/5 { border-top-width: 80.000%; border-bottom-width: 80.000% }
.by-1\/6 { border-top-width: 16.667%; border-bottom-width: 16.667% }
.by-5\/6 { border-top-width: 83.333%; border-bottom-width: 83.333% }
.by-1\/8 { border-top-width: 12.500%; border-bottom-width: 12.500% }
.by-3\/8 { border-top-width: 37.500%; border-bottom-width: 37.500% }
.by-5\/8 { border-top-width: 62.500%; border-bottom-width: 62.500% }
.by-7\/8 { border-top-width: 87.500%; border-bottom-width: 87.500% }
.by-1\/9 { border-top-width: 11.111%; border-bottom-width: 11.111% }
.by-2\/9 { border-top-width: 22.222%; border-bottom-width: 22.222% }
.by-4\/9 { border-top-width: 44.444%; border-bottom-width: 44.444% }
.by-5\/9 { border-top-width: 55.556%; border-bottom-width: 55.556% }
.by-7\/9 { border-top-width: 77.778%; border-bottom-width: 77.778% }
.by-8\/9 { border-top-width: 88.889%; border-bottom-width: 88.889% }
.by-1\/10 { border-top-width: 10.000%; border-bottom-width: 10.000% }
.by-3\/10 { border-top-width: 30.000%; border-bottom-width: 30.000% }
.by-7\/10 { border-top-width: 70.000%; border-bottom-width: 70.000% }
.by-9\/10 { border-top-width: 90.000%; border-bottom-width: 90.000% }
.by-1\/12 { border-top-width: 8.333%; border-bottom-width: 8.333% }
.by-5\/12 { border-top-width: 41.667%; border-bottom-width: 41.667% }
.by-7\/12 { border-top-width: 58.333%; border-bottom-width: 58.333% }
.by-11\/12 { border-top-width: 91.667%; border-bottom-width: 91.667% }
.by-1\/16 { border-top-width: 6.250%; border-bottom-width: 6.250% }
.by-3\/16 { border-top-width: 18.750%; border-bottom-width: 18.750% }
.by-5\/16 { border-top-width: 31.250%; border-bottom-width: 31.250% }
.by-7\/16 { border-top-width: 43.750%; border-bottom-width: 43.750% }
.by-9\/16 { border-top-width: 56.250%; border-bottom-width: 56.250% }
.by-11\/16 { border-top-width: 68.750%; border-bottom-width: 68.750% }
.by-13\/16 { border-top-width: 81.250%; border-bottom-width: 81.250% }
.by-15\/16 { border-top-width: 93.750%; border-bottom-width: 93.750% }