.mx-0 { margin-right: 0.000rem; margin-left: 0.000rem }
.mx-1 { margin-right: 0.125rem; margin-left: 0.125rem }
.mx-2 { margin-right: 0.250rem; margin-left: 0.250rem }
.mx-3 { margin-right: 0.375rem; margin-left: 0.375rem }
.mx-4 { margin-right: 0.500rem; margin-left: 0.500rem }
.mx-5 { margin-right: 0.625rem; margin-left: 0.625rem }
.mx-6 { margin-right: 0.750rem; margin-left: 0.750rem }
.mx-7 { margin-right: 0.875rem; margin-left: 0.875rem }
.mx-8 { margin-right: 1.000rem; margin-left: 1.000rem }
.mx-9 { margin-right: 1.125rem; margin-left: 1.125rem }
.mx-10 { margin-right: 1.250rem; margin-left: 1.250rem }
.mx-11 { margin-right: 1.375rem; margin-left: 1.375rem }
.mx-12 { margin-right: 1.500rem; margin-left: 1.500rem }
.mx-13 { margin-right: 1.625rem; margin-left: 1.625rem }
.mx-14 { margin-right: 1.750rem; margin-left: 1.750rem }
.mx-15 { margin-right: 1.875rem; margin-left: 1.875rem }
.mx-16 { margin-right: 2.000rem; margin-left: 2.000rem }
.mx-17 { margin-right: 2.125rem; margin-left: 2.125rem }
.mx-18 { margin-right: 2.250rem; margin-left: 2.250rem }
.mx-19 { margin-right: 2.375rem; margin-left: 2.375rem }
.mx-20 { margin-right: 2.500rem; margin-left: 2.500rem }
.mx-21 { margin-right: 2.625rem; margin-left: 2.625rem }
.mx-22 { margin-right: 2.750rem; margin-left: 2.750rem }
.mx-23 { margin-right: 2.875rem; margin-left: 2.875rem }
.mx-24 { margin-right: 3.000rem; margin-left: 3.000rem }
.mx-25 { margin-right: 3.125rem; margin-left: 3.125rem }
.mx-26 { margin-right: 3.250rem; margin-left: 3.250rem }
.mx-27 { margin-right: 3.375rem; margin-left: 3.375rem }
.mx-28 { margin-right: 3.500rem; margin-left: 3.500rem }
.mx-29 { margin-right: 3.625rem; margin-left: 3.625rem }
.mx-30 { margin-right: 3.750rem; margin-left: 3.750rem }
.mx-31 { margin-right: 3.875rem; margin-left: 3.875rem }
.mx-32 { margin-right: 4.000rem; margin-left: 4.000rem }
.mx-33 { margin-right: 4.125rem; margin-left: 4.125rem }
.mx-34 { margin-right: 4.250rem; margin-left: 4.250rem }
.mx-35 { margin-right: 4.375rem; margin-left: 4.375rem }
.mx-36 { margin-right: 4.500rem; margin-left: 4.500rem }
.mx-37 { margin-right: 4.625rem; margin-left: 4.625rem }
.mx-38 { margin-right: 4.750rem; margin-left: 4.750rem }
.mx-39 { margin-right: 4.875rem; margin-left: 4.875rem }
.mx-40 { margin-right: 5.000rem; margin-left: 5.000rem }
.mx-41 { margin-right: 5.125rem; margin-left: 5.125rem }
.mx-42 { margin-right: 5.250rem; margin-left: 5.250rem }
.mx-43 { margin-right: 5.375rem; margin-left: 5.375rem }
.mx-44 { margin-right: 5.500rem; margin-left: 5.500rem }
.mx-45 { margin-right: 5.625rem; margin-left: 5.625rem }
.mx-46 { margin-right: 5.750rem; margin-left: 5.750rem }
.mx-47 { margin-right: 5.875rem; margin-left: 5.875rem }
.mx-48 { margin-right: 6.000rem; margin-left: 6.000rem }
.mx-49 { margin-right: 6.125rem; margin-left: 6.125rem }
.mx-50 { margin-right: 6.250rem; margin-left: 6.250rem }
.mx-51 { margin-right: 6.375rem; margin-left: 6.375rem }
.mx-52 { margin-right: 6.500rem; margin-left: 6.500rem }
.mx-53 { margin-right: 6.625rem; margin-left: 6.625rem }
.mx-54 { margin-right: 6.750rem; margin-left: 6.750rem }
.mx-55 { margin-right: 6.875rem; margin-left: 6.875rem }
.mx-56 { margin-right: 7.000rem; margin-left: 7.000rem }
.mx-57 { margin-right: 7.125rem; margin-left: 7.125rem }
.mx-58 { margin-right: 7.250rem; margin-left: 7.250rem }
.mx-59 { margin-right: 7.375rem; margin-left: 7.375rem }
.mx-60 { margin-right: 7.500rem; margin-left: 7.500rem }
.mx-61 { margin-right: 7.625rem; margin-left: 7.625rem }
.mx-62 { margin-right: 7.750rem; margin-left: 7.750rem }
.mx-63 { margin-right: 7.875rem; margin-left: 7.875rem }
.mx-64 { margin-right: 8.000rem; margin-left: 8.000rem }
.mx-65 { margin-right: 8.125rem; margin-left: 8.125rem }
.mx-66 { margin-right: 8.250rem; margin-left: 8.250rem }
.mx-67 { margin-right: 8.375rem; margin-left: 8.375rem }
.mx-68 { margin-right: 8.500rem; margin-left: 8.500rem }
.mx-69 { margin-right: 8.625rem; margin-left: 8.625rem }
.mx-70 { margin-right: 8.750rem; margin-left: 8.750rem }
.mx-71 { margin-right: 8.875rem; margin-left: 8.875rem }
.mx-72 { margin-right: 9.000rem; margin-left: 9.000rem }
.mx-73 { margin-right: 9.125rem; margin-left: 9.125rem }
.mx-74 { margin-right: 9.250rem; margin-left: 9.250rem }
.mx-75 { margin-right: 9.375rem; margin-left: 9.375rem }
.mx-76 { margin-right: 9.500rem; margin-left: 9.500rem }
.mx-77 { margin-right: 9.625rem; margin-left: 9.625rem }
.mx-78 { margin-right: 9.750rem; margin-left: 9.750rem }
.mx-79 { margin-right: 9.875rem; margin-left: 9.875rem }
.mx-80 { margin-right: 10.000rem; margin-left: 10.000rem }
.mx-81 { margin-right: 10.125rem; margin-left: 10.125rem }
.mx-82 { margin-right: 10.250rem; margin-left: 10.250rem }
.mx-83 { margin-right: 10.375rem; margin-left: 10.375rem }
.mx-84 { margin-right: 10.500rem; margin-left: 10.500rem }
.mx-85 { margin-right: 10.625rem; margin-left: 10.625rem }
.mx-86 { margin-right: 10.750rem; margin-left: 10.750rem }
.mx-87 { margin-right: 10.875rem; margin-left: 10.875rem }
.mx-88 { margin-right: 11.000rem; margin-left: 11.000rem }
.mx-89 { margin-right: 11.125rem; margin-left: 11.125rem }
.mx-90 { margin-right: 11.250rem; margin-left: 11.250rem }
.mx-91 { margin-right: 11.375rem; margin-left: 11.375rem }
.mx-92 { margin-right: 11.500rem; margin-left: 11.500rem }
.mx-93 { margin-right: 11.625rem; margin-left: 11.625rem }
.mx-94 { margin-right: 11.750rem; margin-left: 11.750rem }
.mx-95 { margin-right: 11.875rem; margin-left: 11.875rem }
.mx-96 { margin-right: 12.000rem; margin-left: 12.000rem }
.mx-97 { margin-right: 12.125rem; margin-left: 12.125rem }
.mx-98 { margin-right: 12.250rem; margin-left: 12.250rem }
.mx-99 { margin-right: 12.375rem; margin-left: 12.375rem }
.mx-100 { margin-right: 12.500rem; margin-left: 12.500rem }
.mx-101 { margin-right: 12.625rem; margin-left: 12.625rem }
.mx-102 { margin-right: 12.750rem; margin-left: 12.750rem }
.mx-103 { margin-right: 12.875rem; margin-left: 12.875rem }
.mx-104 { margin-right: 13.000rem; margin-left: 13.000rem }
.mx-105 { margin-right: 13.125rem; margin-left: 13.125rem }
.mx-106 { margin-right: 13.250rem; margin-left: 13.250rem }
.mx-107 { margin-right: 13.375rem; margin-left: 13.375rem }
.mx-108 { margin-right: 13.500rem; margin-left: 13.500rem }
.mx-109 { margin-right: 13.625rem; margin-left: 13.625rem }
.mx-110 { margin-right: 13.750rem; margin-left: 13.750rem }
.mx-111 { margin-right: 13.875rem; margin-left: 13.875rem }
.mx-112 { margin-right: 14.000rem; margin-left: 14.000rem }
.mx-113 { margin-right: 14.125rem; margin-left: 14.125rem }
.mx-114 { margin-right: 14.250rem; margin-left: 14.250rem }
.mx-115 { margin-right: 14.375rem; margin-left: 14.375rem }
.mx-116 { margin-right: 14.500rem; margin-left: 14.500rem }
.mx-117 { margin-right: 14.625rem; margin-left: 14.625rem }
.mx-118 { margin-right: 14.750rem; margin-left: 14.750rem }
.mx-119 { margin-right: 14.875rem; margin-left: 14.875rem }
.mx-120 { margin-right: 15.000rem; margin-left: 15.000rem }
.mx-121 { margin-right: 15.125rem; margin-left: 15.125rem }
.mx-122 { margin-right: 15.250rem; margin-left: 15.250rem }
.mx-123 { margin-right: 15.375rem; margin-left: 15.375rem }
.mx-124 { margin-right: 15.500rem; margin-left: 15.500rem }
.mx-125 { margin-right: 15.625rem; margin-left: 15.625rem }
.mx-126 { margin-right: 15.750rem; margin-left: 15.750rem }
.mx-127 { margin-right: 15.875rem; margin-left: 15.875rem }
.mx-128 { margin-right: 16.000rem; margin-left: 16.000rem }
.mx-129 { margin-right: 16.125rem; margin-left: 16.125rem }
.mx-130 { margin-right: 16.250rem; margin-left: 16.250rem }
.mx-131 { margin-right: 16.375rem; margin-left: 16.375rem }
.mx-132 { margin-right: 16.500rem; margin-left: 16.500rem }
.mx-133 { margin-right: 16.625rem; margin-left: 16.625rem }
.mx-134 { margin-right: 16.750rem; margin-left: 16.750rem }
.mx-135 { margin-right: 16.875rem; margin-left: 16.875rem }
.mx-136 { margin-right: 17.000rem; margin-left: 17.000rem }
.mx-137 { margin-right: 17.125rem; margin-left: 17.125rem }
.mx-138 { margin-right: 17.250rem; margin-left: 17.250rem }
.mx-139 { margin-right: 17.375rem; margin-left: 17.375rem }
.mx-140 { margin-right: 17.500rem; margin-left: 17.500rem }
.mx-141 { margin-right: 17.625rem; margin-left: 17.625rem }
.mx-142 { margin-right: 17.750rem; margin-left: 17.750rem }
.mx-143 { margin-right: 17.875rem; margin-left: 17.875rem }
.mx-144 { margin-right: 18.000rem; margin-left: 18.000rem }
.mx-145 { margin-right: 18.125rem; margin-left: 18.125rem }
.mx-146 { margin-right: 18.250rem; margin-left: 18.250rem }
.mx-147 { margin-right: 18.375rem; margin-left: 18.375rem }
.mx-148 { margin-right: 18.500rem; margin-left: 18.500rem }
.mx-149 { margin-right: 18.625rem; margin-left: 18.625rem }
.mx-150 { margin-right: 18.750rem; margin-left: 18.750rem }
.mx-151 { margin-right: 18.875rem; margin-left: 18.875rem }
.mx-152 { margin-right: 19.000rem; margin-left: 19.000rem }
.mx-153 { margin-right: 19.125rem; margin-left: 19.125rem }
.mx-154 { margin-right: 19.250rem; margin-left: 19.250rem }
.mx-155 { margin-right: 19.375rem; margin-left: 19.375rem }
.mx-156 { margin-right: 19.500rem; margin-left: 19.500rem }
.mx-157 { margin-right: 19.625rem; margin-left: 19.625rem }
.mx-158 { margin-right: 19.750rem; margin-left: 19.750rem }
.mx-159 { margin-right: 19.875rem; margin-left: 19.875rem }
.mx-160 { margin-right: 20.000rem; margin-left: 20.000rem }
.mx-161 { margin-right: 20.125rem; margin-left: 20.125rem }
.mx-162 { margin-right: 20.250rem; margin-left: 20.250rem }
.mx-163 { margin-right: 20.375rem; margin-left: 20.375rem }
.mx-164 { margin-right: 20.500rem; margin-left: 20.500rem }
.mx-165 { margin-right: 20.625rem; margin-left: 20.625rem }
.mx-166 { margin-right: 20.750rem; margin-left: 20.750rem }
.mx-167 { margin-right: 20.875rem; margin-left: 20.875rem }
.mx-168 { margin-right: 21.000rem; margin-left: 21.000rem }
.mx-169 { margin-right: 21.125rem; margin-left: 21.125rem }
.mx-170 { margin-right: 21.250rem; margin-left: 21.250rem }
.mx-171 { margin-right: 21.375rem; margin-left: 21.375rem }
.mx-172 { margin-right: 21.500rem; margin-left: 21.500rem }
.mx-173 { margin-right: 21.625rem; margin-left: 21.625rem }
.mx-174 { margin-right: 21.750rem; margin-left: 21.750rem }
.mx-175 { margin-right: 21.875rem; margin-left: 21.875rem }
.mx-176 { margin-right: 22.000rem; margin-left: 22.000rem }
.mx-177 { margin-right: 22.125rem; margin-left: 22.125rem }
.mx-178 { margin-right: 22.250rem; margin-left: 22.250rem }
.mx-179 { margin-right: 22.375rem; margin-left: 22.375rem }
.mx-180 { margin-right: 22.500rem; margin-left: 22.500rem }
.mx-181 { margin-right: 22.625rem; margin-left: 22.625rem }
.mx-182 { margin-right: 22.750rem; margin-left: 22.750rem }
.mx-183 { margin-right: 22.875rem; margin-left: 22.875rem }
.mx-184 { margin-right: 23.000rem; margin-left: 23.000rem }
.mx-185 { margin-right: 23.125rem; margin-left: 23.125rem }
.mx-186 { margin-right: 23.250rem; margin-left: 23.250rem }
.mx-187 { margin-right: 23.375rem; margin-left: 23.375rem }
.mx-188 { margin-right: 23.500rem; margin-left: 23.500rem }
.mx-189 { margin-right: 23.625rem; margin-left: 23.625rem }
.mx-190 { margin-right: 23.750rem; margin-left: 23.750rem }
.mx-191 { margin-right: 23.875rem; margin-left: 23.875rem }
.mx-192 { margin-right: 24.000rem; margin-left: 24.000rem }
.mx-193 { margin-right: 24.125rem; margin-left: 24.125rem }
.mx-194 { margin-right: 24.250rem; margin-left: 24.250rem }
.mx-195 { margin-right: 24.375rem; margin-left: 24.375rem }
.mx-196 { margin-right: 24.500rem; margin-left: 24.500rem }
.mx-197 { margin-right: 24.625rem; margin-left: 24.625rem }
.mx-198 { margin-right: 24.750rem; margin-left: 24.750rem }
.mx-199 { margin-right: 24.875rem; margin-left: 24.875rem }
.mx-200 { margin-right: 25.000rem; margin-left: 25.000rem }
.mx-201 { margin-right: 25.125rem; margin-left: 25.125rem }
.mx-202 { margin-right: 25.250rem; margin-left: 25.250rem }
.mx-203 { margin-right: 25.375rem; margin-left: 25.375rem }
.mx-204 { margin-right: 25.500rem; margin-left: 25.500rem }
.mx-205 { margin-right: 25.625rem; margin-left: 25.625rem }
.mx-206 { margin-right: 25.750rem; margin-left: 25.750rem }
.mx-207 { margin-right: 25.875rem; margin-left: 25.875rem }
.mx-208 { margin-right: 26.000rem; margin-left: 26.000rem }
.mx-209 { margin-right: 26.125rem; margin-left: 26.125rem }
.mx-210 { margin-right: 26.250rem; margin-left: 26.250rem }
.mx-211 { margin-right: 26.375rem; margin-left: 26.375rem }
.mx-212 { margin-right: 26.500rem; margin-left: 26.500rem }
.mx-213 { margin-right: 26.625rem; margin-left: 26.625rem }
.mx-214 { margin-right: 26.750rem; margin-left: 26.750rem }
.mx-215 { margin-right: 26.875rem; margin-left: 26.875rem }
.mx-216 { margin-right: 27.000rem; margin-left: 27.000rem }
.mx-217 { margin-right: 27.125rem; margin-left: 27.125rem }
.mx-218 { margin-right: 27.250rem; margin-left: 27.250rem }
.mx-219 { margin-right: 27.375rem; margin-left: 27.375rem }
.mx-220 { margin-right: 27.500rem; margin-left: 27.500rem }
.mx-221 { margin-right: 27.625rem; margin-left: 27.625rem }
.mx-222 { margin-right: 27.750rem; margin-left: 27.750rem }
.mx-223 { margin-right: 27.875rem; margin-left: 27.875rem }
.mx-224 { margin-right: 28.000rem; margin-left: 28.000rem }
.mx-225 { margin-right: 28.125rem; margin-left: 28.125rem }
.mx-226 { margin-right: 28.250rem; margin-left: 28.250rem }
.mx-227 { margin-right: 28.375rem; margin-left: 28.375rem }
.mx-228 { margin-right: 28.500rem; margin-left: 28.500rem }
.mx-229 { margin-right: 28.625rem; margin-left: 28.625rem }
.mx-230 { margin-right: 28.750rem; margin-left: 28.750rem }
.mx-231 { margin-right: 28.875rem; margin-left: 28.875rem }
.mx-232 { margin-right: 29.000rem; margin-left: 29.000rem }
.mx-233 { margin-right: 29.125rem; margin-left: 29.125rem }
.mx-234 { margin-right: 29.250rem; margin-left: 29.250rem }
.mx-235 { margin-right: 29.375rem; margin-left: 29.375rem }
.mx-236 { margin-right: 29.500rem; margin-left: 29.500rem }
.mx-237 { margin-right: 29.625rem; margin-left: 29.625rem }
.mx-238 { margin-right: 29.750rem; margin-left: 29.750rem }
.mx-239 { margin-right: 29.875rem; margin-left: 29.875rem }
.mx-240 { margin-right: 30.000rem; margin-left: 30.000rem }
.mx-241 { margin-right: 30.125rem; margin-left: 30.125rem }
.mx-242 { margin-right: 30.250rem; margin-left: 30.250rem }
.mx-243 { margin-right: 30.375rem; margin-left: 30.375rem }
.mx-244 { margin-right: 30.500rem; margin-left: 30.500rem }
.mx-245 { margin-right: 30.625rem; margin-left: 30.625rem }
.mx-246 { margin-right: 30.750rem; margin-left: 30.750rem }
.mx-247 { margin-right: 30.875rem; margin-left: 30.875rem }
.mx-248 { margin-right: 31.000rem; margin-left: 31.000rem }
.mx-249 { margin-right: 31.125rem; margin-left: 31.125rem }
.mx-250 { margin-right: 31.250rem; margin-left: 31.250rem }
.mx-251 { margin-right: 31.375rem; margin-left: 31.375rem }
.mx-252 { margin-right: 31.500rem; margin-left: 31.500rem }
.mx-253 { margin-right: 31.625rem; margin-left: 31.625rem }
.mx-254 { margin-right: 31.750rem; margin-left: 31.750rem }
.mx-255 { margin-right: 31.875rem; margin-left: 31.875rem }
.mx-256 { margin-right: 32.000rem; margin-left: 32.000rem }
.mx-1\/2 { margin-right: 50.000%; margin-left: 50.000% }
.mx-1\/3 { margin-right: 33.333%; margin-left: 33.333% }
.mx-2\/3 { margin-right: 66.667%; margin-left: 66.667% }
.mx-1\/4 { margin-right: 25.000%; margin-left: 25.000% }
.mx-3\/4 { margin-right: 75.000%; margin-left: 75.000% }
.mx-1\/5 { margin-right: 20.000%; margin-left: 20.000% }
.mx-2\/5 { margin-right: 40.000%; margin-left: 40.000% }
.mx-3\/5 { margin-right: 60.000%; margin-left: 60.000% }
.mx-4\/5 { margin-right: 80.000%; margin-left: 80.000% }
.mx-1\/6 { margin-right: 16.667%; margin-left: 16.667% }
.mx-5\/6 { margin-right: 83.333%; margin-left: 83.333% }
.mx-1\/8 { margin-right: 12.500%; margin-left: 12.500% }
.mx-3\/8 { margin-right: 37.500%; margin-left: 37.500% }
.mx-5\/8 { margin-right: 62.500%; margin-left: 62.500% }
.mx-7\/8 { margin-right: 87.500%; margin-left: 87.500% }
.mx-1\/9 { margin-right: 11.111%; margin-left: 11.111% }
.mx-2\/9 { margin-right: 22.222%; margin-left: 22.222% }
.mx-4\/9 { margin-right: 44.444%; margin-left: 44.444% }
.mx-5\/9 { margin-right: 55.556%; margin-left: 55.556% }
.mx-7\/9 { margin-right: 77.778%; margin-left: 77.778% }
.mx-8\/9 { margin-right: 88.889%; margin-left: 88.889% }
.mx-1\/10 { margin-right: 10.000%; margin-left: 10.000% }
.mx-3\/10 { margin-right: 30.000%; margin-left: 30.000% }
.mx-7\/10 { margin-right: 70.000%; margin-left: 70.000% }
.mx-9\/10 { margin-right: 90.000%; margin-left: 90.000% }
.mx-1\/12 { margin-right: 8.333%; margin-left: 8.333% }
.mx-5\/12 { margin-right: 41.667%; margin-left: 41.667% }
.mx-7\/12 { margin-right: 58.333%; margin-left: 58.333% }
.mx-11\/12 { margin-right: 91.667%; margin-left: 91.667% }
.mx-1\/16 { margin-right: 6.250%; margin-left: 6.250% }
.mx-3\/16 { margin-right: 18.750%; margin-left: 18.750% }
.mx-5\/16 { margin-right: 31.250%; margin-left: 31.250% }
.mx-7\/16 { margin-right: 43.750%; margin-left: 43.750% }
.mx-9\/16 { margin-right: 56.250%; margin-left: 56.250% }
.mx-11\/16 { margin-right: 68.750%; margin-left: 68.750% }
.mx-13\/16 { margin-right: 81.250%; margin-left: 81.250% }
.mx-15\/16 { margin-right: 93.750%; margin-left: 93.750% }