.mx-0 { --mr: 0.000rem; --ml: 0.000rem }
.mx-1 { --mr: 0.125rem; --ml: 0.125rem }
.mx-2 { --mr: 0.250rem; --ml: 0.250rem }
.mx-3 { --mr: 0.375rem; --ml: 0.375rem }
.mx-4 { --mr: 0.500rem; --ml: 0.500rem }
.mx-5 { --mr: 0.625rem; --ml: 0.625rem }
.mx-6 { --mr: 0.750rem; --ml: 0.750rem }
.mx-7 { --mr: 0.875rem; --ml: 0.875rem }
.mx-8 { --mr: 1.000rem; --ml: 1.000rem }
.mx-9 { --mr: 1.125rem; --ml: 1.125rem }
.mx-10 { --mr: 1.250rem; --ml: 1.250rem }
.mx-11 { --mr: 1.375rem; --ml: 1.375rem }
.mx-12 { --mr: 1.500rem; --ml: 1.500rem }
.mx-13 { --mr: 1.625rem; --ml: 1.625rem }
.mx-14 { --mr: 1.750rem; --ml: 1.750rem }
.mx-15 { --mr: 1.875rem; --ml: 1.875rem }
.mx-16 { --mr: 2.000rem; --ml: 2.000rem }
.mx-17 { --mr: 2.125rem; --ml: 2.125rem }
.mx-18 { --mr: 2.250rem; --ml: 2.250rem }
.mx-19 { --mr: 2.375rem; --ml: 2.375rem }
.mx-20 { --mr: 2.500rem; --ml: 2.500rem }
.mx-21 { --mr: 2.625rem; --ml: 2.625rem }
.mx-22 { --mr: 2.750rem; --ml: 2.750rem }
.mx-23 { --mr: 2.875rem; --ml: 2.875rem }
.mx-24 { --mr: 3.000rem; --ml: 3.000rem }
.mx-25 { --mr: 3.125rem; --ml: 3.125rem }
.mx-26 { --mr: 3.250rem; --ml: 3.250rem }
.mx-27 { --mr: 3.375rem; --ml: 3.375rem }
.mx-28 { --mr: 3.500rem; --ml: 3.500rem }
.mx-29 { --mr: 3.625rem; --ml: 3.625rem }
.mx-30 { --mr: 3.750rem; --ml: 3.750rem }
.mx-31 { --mr: 3.875rem; --ml: 3.875rem }
.mx-32 { --mr: 4.000rem; --ml: 4.000rem }
.mx-33 { --mr: 4.125rem; --ml: 4.125rem }
.mx-34 { --mr: 4.250rem; --ml: 4.250rem }
.mx-35 { --mr: 4.375rem; --ml: 4.375rem }
.mx-36 { --mr: 4.500rem; --ml: 4.500rem }
.mx-37 { --mr: 4.625rem; --ml: 4.625rem }
.mx-38 { --mr: 4.750rem; --ml: 4.750rem }
.mx-39 { --mr: 4.875rem; --ml: 4.875rem }
.mx-40 { --mr: 5.000rem; --ml: 5.000rem }
.mx-41 { --mr: 5.125rem; --ml: 5.125rem }
.mx-42 { --mr: 5.250rem; --ml: 5.250rem }
.mx-43 { --mr: 5.375rem; --ml: 5.375rem }
.mx-44 { --mr: 5.500rem; --ml: 5.500rem }
.mx-45 { --mr: 5.625rem; --ml: 5.625rem }
.mx-46 { --mr: 5.750rem; --ml: 5.750rem }
.mx-47 { --mr: 5.875rem; --ml: 5.875rem }
.mx-48 { --mr: 6.000rem; --ml: 6.000rem }
.mx-49 { --mr: 6.125rem; --ml: 6.125rem }
.mx-50 { --mr: 6.250rem; --ml: 6.250rem }
.mx-51 { --mr: 6.375rem; --ml: 6.375rem }
.mx-52 { --mr: 6.500rem; --ml: 6.500rem }
.mx-53 { --mr: 6.625rem; --ml: 6.625rem }
.mx-54 { --mr: 6.750rem; --ml: 6.750rem }
.mx-55 { --mr: 6.875rem; --ml: 6.875rem }
.mx-56 { --mr: 7.000rem; --ml: 7.000rem }
.mx-57 { --mr: 7.125rem; --ml: 7.125rem }
.mx-58 { --mr: 7.250rem; --ml: 7.250rem }
.mx-59 { --mr: 7.375rem; --ml: 7.375rem }
.mx-60 { --mr: 7.500rem; --ml: 7.500rem }
.mx-61 { --mr: 7.625rem; --ml: 7.625rem }
.mx-62 { --mr: 7.750rem; --ml: 7.750rem }
.mx-63 { --mr: 7.875rem; --ml: 7.875rem }
.mx-64 { --mr: 8.000rem; --ml: 8.000rem }
.mx-65 { --mr: 8.125rem; --ml: 8.125rem }
.mx-66 { --mr: 8.250rem; --ml: 8.250rem }
.mx-67 { --mr: 8.375rem; --ml: 8.375rem }
.mx-68 { --mr: 8.500rem; --ml: 8.500rem }
.mx-69 { --mr: 8.625rem; --ml: 8.625rem }
.mx-70 { --mr: 8.750rem; --ml: 8.750rem }
.mx-71 { --mr: 8.875rem; --ml: 8.875rem }
.mx-72 { --mr: 9.000rem; --ml: 9.000rem }
.mx-73 { --mr: 9.125rem; --ml: 9.125rem }
.mx-74 { --mr: 9.250rem; --ml: 9.250rem }
.mx-75 { --mr: 9.375rem; --ml: 9.375rem }
.mx-76 { --mr: 9.500rem; --ml: 9.500rem }
.mx-77 { --mr: 9.625rem; --ml: 9.625rem }
.mx-78 { --mr: 9.750rem; --ml: 9.750rem }
.mx-79 { --mr: 9.875rem; --ml: 9.875rem }
.mx-80 { --mr: 10.000rem; --ml: 10.000rem }
.mx-81 { --mr: 10.125rem; --ml: 10.125rem }
.mx-82 { --mr: 10.250rem; --ml: 10.250rem }
.mx-83 { --mr: 10.375rem; --ml: 10.375rem }
.mx-84 { --mr: 10.500rem; --ml: 10.500rem }
.mx-85 { --mr: 10.625rem; --ml: 10.625rem }
.mx-86 { --mr: 10.750rem; --ml: 10.750rem }
.mx-87 { --mr: 10.875rem; --ml: 10.875rem }
.mx-88 { --mr: 11.000rem; --ml: 11.000rem }
.mx-89 { --mr: 11.125rem; --ml: 11.125rem }
.mx-90 { --mr: 11.250rem; --ml: 11.250rem }
.mx-91 { --mr: 11.375rem; --ml: 11.375rem }
.mx-92 { --mr: 11.500rem; --ml: 11.500rem }
.mx-93 { --mr: 11.625rem; --ml: 11.625rem }
.mx-94 { --mr: 11.750rem; --ml: 11.750rem }
.mx-95 { --mr: 11.875rem; --ml: 11.875rem }
.mx-96 { --mr: 12.000rem; --ml: 12.000rem }
.mx-97 { --mr: 12.125rem; --ml: 12.125rem }
.mx-98 { --mr: 12.250rem; --ml: 12.250rem }
.mx-99 { --mr: 12.375rem; --ml: 12.375rem }
.mx-100 { --mr: 12.500rem; --ml: 12.500rem }
.mx-101 { --mr: 12.625rem; --ml: 12.625rem }
.mx-102 { --mr: 12.750rem; --ml: 12.750rem }
.mx-103 { --mr: 12.875rem; --ml: 12.875rem }
.mx-104 { --mr: 13.000rem; --ml: 13.000rem }
.mx-105 { --mr: 13.125rem; --ml: 13.125rem }
.mx-106 { --mr: 13.250rem; --ml: 13.250rem }
.mx-107 { --mr: 13.375rem; --ml: 13.375rem }
.mx-108 { --mr: 13.500rem; --ml: 13.500rem }
.mx-109 { --mr: 13.625rem; --ml: 13.625rem }
.mx-110 { --mr: 13.750rem; --ml: 13.750rem }
.mx-111 { --mr: 13.875rem; --ml: 13.875rem }
.mx-112 { --mr: 14.000rem; --ml: 14.000rem }
.mx-113 { --mr: 14.125rem; --ml: 14.125rem }
.mx-114 { --mr: 14.250rem; --ml: 14.250rem }
.mx-115 { --mr: 14.375rem; --ml: 14.375rem }
.mx-116 { --mr: 14.500rem; --ml: 14.500rem }
.mx-117 { --mr: 14.625rem; --ml: 14.625rem }
.mx-118 { --mr: 14.750rem; --ml: 14.750rem }
.mx-119 { --mr: 14.875rem; --ml: 14.875rem }
.mx-120 { --mr: 15.000rem; --ml: 15.000rem }
.mx-121 { --mr: 15.125rem; --ml: 15.125rem }
.mx-122 { --mr: 15.250rem; --ml: 15.250rem }
.mx-123 { --mr: 15.375rem; --ml: 15.375rem }
.mx-124 { --mr: 15.500rem; --ml: 15.500rem }
.mx-125 { --mr: 15.625rem; --ml: 15.625rem }
.mx-126 { --mr: 15.750rem; --ml: 15.750rem }
.mx-127 { --mr: 15.875rem; --ml: 15.875rem }
.mx-128 { --mr: 16.000rem; --ml: 16.000rem }
.mx-129 { --mr: 16.125rem; --ml: 16.125rem }
.mx-130 { --mr: 16.250rem; --ml: 16.250rem }
.mx-131 { --mr: 16.375rem; --ml: 16.375rem }
.mx-132 { --mr: 16.500rem; --ml: 16.500rem }
.mx-133 { --mr: 16.625rem; --ml: 16.625rem }
.mx-134 { --mr: 16.750rem; --ml: 16.750rem }
.mx-135 { --mr: 16.875rem; --ml: 16.875rem }
.mx-136 { --mr: 17.000rem; --ml: 17.000rem }
.mx-137 { --mr: 17.125rem; --ml: 17.125rem }
.mx-138 { --mr: 17.250rem; --ml: 17.250rem }
.mx-139 { --mr: 17.375rem; --ml: 17.375rem }
.mx-140 { --mr: 17.500rem; --ml: 17.500rem }
.mx-141 { --mr: 17.625rem; --ml: 17.625rem }
.mx-142 { --mr: 17.750rem; --ml: 17.750rem }
.mx-143 { --mr: 17.875rem; --ml: 17.875rem }
.mx-144 { --mr: 18.000rem; --ml: 18.000rem }
.mx-145 { --mr: 18.125rem; --ml: 18.125rem }
.mx-146 { --mr: 18.250rem; --ml: 18.250rem }
.mx-147 { --mr: 18.375rem; --ml: 18.375rem }
.mx-148 { --mr: 18.500rem; --ml: 18.500rem }
.mx-149 { --mr: 18.625rem; --ml: 18.625rem }
.mx-150 { --mr: 18.750rem; --ml: 18.750rem }
.mx-151 { --mr: 18.875rem; --ml: 18.875rem }
.mx-152 { --mr: 19.000rem; --ml: 19.000rem }
.mx-153 { --mr: 19.125rem; --ml: 19.125rem }
.mx-154 { --mr: 19.250rem; --ml: 19.250rem }
.mx-155 { --mr: 19.375rem; --ml: 19.375rem }
.mx-156 { --mr: 19.500rem; --ml: 19.500rem }
.mx-157 { --mr: 19.625rem; --ml: 19.625rem }
.mx-158 { --mr: 19.750rem; --ml: 19.750rem }
.mx-159 { --mr: 19.875rem; --ml: 19.875rem }
.mx-160 { --mr: 20.000rem; --ml: 20.000rem }
.mx-161 { --mr: 20.125rem; --ml: 20.125rem }
.mx-162 { --mr: 20.250rem; --ml: 20.250rem }
.mx-163 { --mr: 20.375rem; --ml: 20.375rem }
.mx-164 { --mr: 20.500rem; --ml: 20.500rem }
.mx-165 { --mr: 20.625rem; --ml: 20.625rem }
.mx-166 { --mr: 20.750rem; --ml: 20.750rem }
.mx-167 { --mr: 20.875rem; --ml: 20.875rem }
.mx-168 { --mr: 21.000rem; --ml: 21.000rem }
.mx-169 { --mr: 21.125rem; --ml: 21.125rem }
.mx-170 { --mr: 21.250rem; --ml: 21.250rem }
.mx-171 { --mr: 21.375rem; --ml: 21.375rem }
.mx-172 { --mr: 21.500rem; --ml: 21.500rem }
.mx-173 { --mr: 21.625rem; --ml: 21.625rem }
.mx-174 { --mr: 21.750rem; --ml: 21.750rem }
.mx-175 { --mr: 21.875rem; --ml: 21.875rem }
.mx-176 { --mr: 22.000rem; --ml: 22.000rem }
.mx-177 { --mr: 22.125rem; --ml: 22.125rem }
.mx-178 { --mr: 22.250rem; --ml: 22.250rem }
.mx-179 { --mr: 22.375rem; --ml: 22.375rem }
.mx-180 { --mr: 22.500rem; --ml: 22.500rem }
.mx-181 { --mr: 22.625rem; --ml: 22.625rem }
.mx-182 { --mr: 22.750rem; --ml: 22.750rem }
.mx-183 { --mr: 22.875rem; --ml: 22.875rem }
.mx-184 { --mr: 23.000rem; --ml: 23.000rem }
.mx-185 { --mr: 23.125rem; --ml: 23.125rem }
.mx-186 { --mr: 23.250rem; --ml: 23.250rem }
.mx-187 { --mr: 23.375rem; --ml: 23.375rem }
.mx-188 { --mr: 23.500rem; --ml: 23.500rem }
.mx-189 { --mr: 23.625rem; --ml: 23.625rem }
.mx-190 { --mr: 23.750rem; --ml: 23.750rem }
.mx-191 { --mr: 23.875rem; --ml: 23.875rem }
.mx-192 { --mr: 24.000rem; --ml: 24.000rem }
.mx-193 { --mr: 24.125rem; --ml: 24.125rem }
.mx-194 { --mr: 24.250rem; --ml: 24.250rem }
.mx-195 { --mr: 24.375rem; --ml: 24.375rem }
.mx-196 { --mr: 24.500rem; --ml: 24.500rem }
.mx-197 { --mr: 24.625rem; --ml: 24.625rem }
.mx-198 { --mr: 24.750rem; --ml: 24.750rem }
.mx-199 { --mr: 24.875rem; --ml: 24.875rem }
.mx-200 { --mr: 25.000rem; --ml: 25.000rem }
.mx-201 { --mr: 25.125rem; --ml: 25.125rem }
.mx-202 { --mr: 25.250rem; --ml: 25.250rem }
.mx-203 { --mr: 25.375rem; --ml: 25.375rem }
.mx-204 { --mr: 25.500rem; --ml: 25.500rem }
.mx-205 { --mr: 25.625rem; --ml: 25.625rem }
.mx-206 { --mr: 25.750rem; --ml: 25.750rem }
.mx-207 { --mr: 25.875rem; --ml: 25.875rem }
.mx-208 { --mr: 26.000rem; --ml: 26.000rem }
.mx-209 { --mr: 26.125rem; --ml: 26.125rem }
.mx-210 { --mr: 26.250rem; --ml: 26.250rem }
.mx-211 { --mr: 26.375rem; --ml: 26.375rem }
.mx-212 { --mr: 26.500rem; --ml: 26.500rem }
.mx-213 { --mr: 26.625rem; --ml: 26.625rem }
.mx-214 { --mr: 26.750rem; --ml: 26.750rem }
.mx-215 { --mr: 26.875rem; --ml: 26.875rem }
.mx-216 { --mr: 27.000rem; --ml: 27.000rem }
.mx-217 { --mr: 27.125rem; --ml: 27.125rem }
.mx-218 { --mr: 27.250rem; --ml: 27.250rem }
.mx-219 { --mr: 27.375rem; --ml: 27.375rem }
.mx-220 { --mr: 27.500rem; --ml: 27.500rem }
.mx-221 { --mr: 27.625rem; --ml: 27.625rem }
.mx-222 { --mr: 27.750rem; --ml: 27.750rem }
.mx-223 { --mr: 27.875rem; --ml: 27.875rem }
.mx-224 { --mr: 28.000rem; --ml: 28.000rem }
.mx-225 { --mr: 28.125rem; --ml: 28.125rem }
.mx-226 { --mr: 28.250rem; --ml: 28.250rem }
.mx-227 { --mr: 28.375rem; --ml: 28.375rem }
.mx-228 { --mr: 28.500rem; --ml: 28.500rem }
.mx-229 { --mr: 28.625rem; --ml: 28.625rem }
.mx-230 { --mr: 28.750rem; --ml: 28.750rem }
.mx-231 { --mr: 28.875rem; --ml: 28.875rem }
.mx-232 { --mr: 29.000rem; --ml: 29.000rem }
.mx-233 { --mr: 29.125rem; --ml: 29.125rem }
.mx-234 { --mr: 29.250rem; --ml: 29.250rem }
.mx-235 { --mr: 29.375rem; --ml: 29.375rem }
.mx-236 { --mr: 29.500rem; --ml: 29.500rem }
.mx-237 { --mr: 29.625rem; --ml: 29.625rem }
.mx-238 { --mr: 29.750rem; --ml: 29.750rem }
.mx-239 { --mr: 29.875rem; --ml: 29.875rem }
.mx-240 { --mr: 30.000rem; --ml: 30.000rem }
.mx-241 { --mr: 30.125rem; --ml: 30.125rem }
.mx-242 { --mr: 30.250rem; --ml: 30.250rem }
.mx-243 { --mr: 30.375rem; --ml: 30.375rem }
.mx-244 { --mr: 30.500rem; --ml: 30.500rem }
.mx-245 { --mr: 30.625rem; --ml: 30.625rem }
.mx-246 { --mr: 30.750rem; --ml: 30.750rem }
.mx-247 { --mr: 30.875rem; --ml: 30.875rem }
.mx-248 { --mr: 31.000rem; --ml: 31.000rem }
.mx-249 { --mr: 31.125rem; --ml: 31.125rem }
.mx-250 { --mr: 31.250rem; --ml: 31.250rem }
.mx-251 { --mr: 31.375rem; --ml: 31.375rem }
.mx-252 { --mr: 31.500rem; --ml: 31.500rem }
.mx-253 { --mr: 31.625rem; --ml: 31.625rem }
.mx-254 { --mr: 31.750rem; --ml: 31.750rem }
.mx-255 { --mr: 31.875rem; --ml: 31.875rem }
.mx-256 { --mr: 32.000rem; --ml: 32.000rem }
.mx-1\/2 { --mr: 50.000%; --ml: 50.000% }
.mx-1\/3 { --mr: 33.333%; --ml: 33.333% }
.mx-2\/3 { --mr: 66.667%; --ml: 66.667% }
.mx-1\/4 { --mr: 25.000%; --ml: 25.000% }
.mx-3\/4 { --mr: 75.000%; --ml: 75.000% }
.mx-1\/5 { --mr: 20.000%; --ml: 20.000% }
.mx-2\/5 { --mr: 40.000%; --ml: 40.000% }
.mx-3\/5 { --mr: 60.000%; --ml: 60.000% }
.mx-4\/5 { --mr: 80.000%; --ml: 80.000% }
.mx-1\/6 { --mr: 16.667%; --ml: 16.667% }
.mx-5\/6 { --mr: 83.333%; --ml: 83.333% }
.mx-1\/8 { --mr: 12.500%; --ml: 12.500% }
.mx-3\/8 { --mr: 37.500%; --ml: 37.500% }
.mx-5\/8 { --mr: 62.500%; --ml: 62.500% }
.mx-7\/8 { --mr: 87.500%; --ml: 87.500% }
.mx-1\/9 { --mr: 11.111%; --ml: 11.111% }
.mx-2\/9 { --mr: 22.222%; --ml: 22.222% }
.mx-4\/9 { --mr: 44.444%; --ml: 44.444% }
.mx-5\/9 { --mr: 55.556%; --ml: 55.556% }
.mx-7\/9 { --mr: 77.778%; --ml: 77.778% }
.mx-8\/9 { --mr: 88.889%; --ml: 88.889% }
.mx-1\/10 { --mr: 10.000%; --ml: 10.000% }
.mx-3\/10 { --mr: 30.000%; --ml: 30.000% }
.mx-7\/10 { --mr: 70.000%; --ml: 70.000% }
.mx-9\/10 { --mr: 90.000%; --ml: 90.000% }
.mx-1\/12 { --mr: 8.333%; --ml: 8.333% }
.mx-5\/12 { --mr: 41.667%; --ml: 41.667% }
.mx-7\/12 { --mr: 58.333%; --ml: 58.333% }
.mx-11\/12 { --mr: 91.667%; --ml: 91.667% }
.mx-1\/16 { --mr: 6.250%; --ml: 6.250% }
.mx-3\/16 { --mr: 18.750%; --ml: 18.750% }
.mx-5\/16 { --mr: 31.250%; --ml: 31.250% }
.mx-7\/16 { --mr: 43.750%; --ml: 43.750% }
.mx-9\/16 { --mr: 56.250%; --ml: 56.250% }
.mx-11\/16 { --mr: 68.750%; --ml: 68.750% }
.mx-13\/16 { --mr: 81.250%; --ml: 81.250% }
.mx-15\/16 { --mr: 93.750%; --ml: 93.750% }