.my-0 { --mt: 0.000rem; --mb: 0.000rem }
.my-1 { --mt: 0.125rem; --mb: 0.125rem }
.my-2 { --mt: 0.250rem; --mb: 0.250rem }
.my-3 { --mt: 0.375rem; --mb: 0.375rem }
.my-4 { --mt: 0.500rem; --mb: 0.500rem }
.my-5 { --mt: 0.625rem; --mb: 0.625rem }
.my-6 { --mt: 0.750rem; --mb: 0.750rem }
.my-7 { --mt: 0.875rem; --mb: 0.875rem }
.my-8 { --mt: 1.000rem; --mb: 1.000rem }
.my-9 { --mt: 1.125rem; --mb: 1.125rem }
.my-10 { --mt: 1.250rem; --mb: 1.250rem }
.my-11 { --mt: 1.375rem; --mb: 1.375rem }
.my-12 { --mt: 1.500rem; --mb: 1.500rem }
.my-13 { --mt: 1.625rem; --mb: 1.625rem }
.my-14 { --mt: 1.750rem; --mb: 1.750rem }
.my-15 { --mt: 1.875rem; --mb: 1.875rem }
.my-16 { --mt: 2.000rem; --mb: 2.000rem }
.my-17 { --mt: 2.125rem; --mb: 2.125rem }
.my-18 { --mt: 2.250rem; --mb: 2.250rem }
.my-19 { --mt: 2.375rem; --mb: 2.375rem }
.my-20 { --mt: 2.500rem; --mb: 2.500rem }
.my-21 { --mt: 2.625rem; --mb: 2.625rem }
.my-22 { --mt: 2.750rem; --mb: 2.750rem }
.my-23 { --mt: 2.875rem; --mb: 2.875rem }
.my-24 { --mt: 3.000rem; --mb: 3.000rem }
.my-25 { --mt: 3.125rem; --mb: 3.125rem }
.my-26 { --mt: 3.250rem; --mb: 3.250rem }
.my-27 { --mt: 3.375rem; --mb: 3.375rem }
.my-28 { --mt: 3.500rem; --mb: 3.500rem }
.my-29 { --mt: 3.625rem; --mb: 3.625rem }
.my-30 { --mt: 3.750rem; --mb: 3.750rem }
.my-31 { --mt: 3.875rem; --mb: 3.875rem }
.my-32 { --mt: 4.000rem; --mb: 4.000rem }
.my-33 { --mt: 4.125rem; --mb: 4.125rem }
.my-34 { --mt: 4.250rem; --mb: 4.250rem }
.my-35 { --mt: 4.375rem; --mb: 4.375rem }
.my-36 { --mt: 4.500rem; --mb: 4.500rem }
.my-37 { --mt: 4.625rem; --mb: 4.625rem }
.my-38 { --mt: 4.750rem; --mb: 4.750rem }
.my-39 { --mt: 4.875rem; --mb: 4.875rem }
.my-40 { --mt: 5.000rem; --mb: 5.000rem }
.my-41 { --mt: 5.125rem; --mb: 5.125rem }
.my-42 { --mt: 5.250rem; --mb: 5.250rem }
.my-43 { --mt: 5.375rem; --mb: 5.375rem }
.my-44 { --mt: 5.500rem; --mb: 5.500rem }
.my-45 { --mt: 5.625rem; --mb: 5.625rem }
.my-46 { --mt: 5.750rem; --mb: 5.750rem }
.my-47 { --mt: 5.875rem; --mb: 5.875rem }
.my-48 { --mt: 6.000rem; --mb: 6.000rem }
.my-49 { --mt: 6.125rem; --mb: 6.125rem }
.my-50 { --mt: 6.250rem; --mb: 6.250rem }
.my-51 { --mt: 6.375rem; --mb: 6.375rem }
.my-52 { --mt: 6.500rem; --mb: 6.500rem }
.my-53 { --mt: 6.625rem; --mb: 6.625rem }
.my-54 { --mt: 6.750rem; --mb: 6.750rem }
.my-55 { --mt: 6.875rem; --mb: 6.875rem }
.my-56 { --mt: 7.000rem; --mb: 7.000rem }
.my-57 { --mt: 7.125rem; --mb: 7.125rem }
.my-58 { --mt: 7.250rem; --mb: 7.250rem }
.my-59 { --mt: 7.375rem; --mb: 7.375rem }
.my-60 { --mt: 7.500rem; --mb: 7.500rem }
.my-61 { --mt: 7.625rem; --mb: 7.625rem }
.my-62 { --mt: 7.750rem; --mb: 7.750rem }
.my-63 { --mt: 7.875rem; --mb: 7.875rem }
.my-64 { --mt: 8.000rem; --mb: 8.000rem }
.my-65 { --mt: 8.125rem; --mb: 8.125rem }
.my-66 { --mt: 8.250rem; --mb: 8.250rem }
.my-67 { --mt: 8.375rem; --mb: 8.375rem }
.my-68 { --mt: 8.500rem; --mb: 8.500rem }
.my-69 { --mt: 8.625rem; --mb: 8.625rem }
.my-70 { --mt: 8.750rem; --mb: 8.750rem }
.my-71 { --mt: 8.875rem; --mb: 8.875rem }
.my-72 { --mt: 9.000rem; --mb: 9.000rem }
.my-73 { --mt: 9.125rem; --mb: 9.125rem }
.my-74 { --mt: 9.250rem; --mb: 9.250rem }
.my-75 { --mt: 9.375rem; --mb: 9.375rem }
.my-76 { --mt: 9.500rem; --mb: 9.500rem }
.my-77 { --mt: 9.625rem; --mb: 9.625rem }
.my-78 { --mt: 9.750rem; --mb: 9.750rem }
.my-79 { --mt: 9.875rem; --mb: 9.875rem }
.my-80 { --mt: 10.000rem; --mb: 10.000rem }
.my-81 { --mt: 10.125rem; --mb: 10.125rem }
.my-82 { --mt: 10.250rem; --mb: 10.250rem }
.my-83 { --mt: 10.375rem; --mb: 10.375rem }
.my-84 { --mt: 10.500rem; --mb: 10.500rem }
.my-85 { --mt: 10.625rem; --mb: 10.625rem }
.my-86 { --mt: 10.750rem; --mb: 10.750rem }
.my-87 { --mt: 10.875rem; --mb: 10.875rem }
.my-88 { --mt: 11.000rem; --mb: 11.000rem }
.my-89 { --mt: 11.125rem; --mb: 11.125rem }
.my-90 { --mt: 11.250rem; --mb: 11.250rem }
.my-91 { --mt: 11.375rem; --mb: 11.375rem }
.my-92 { --mt: 11.500rem; --mb: 11.500rem }
.my-93 { --mt: 11.625rem; --mb: 11.625rem }
.my-94 { --mt: 11.750rem; --mb: 11.750rem }
.my-95 { --mt: 11.875rem; --mb: 11.875rem }
.my-96 { --mt: 12.000rem; --mb: 12.000rem }
.my-97 { --mt: 12.125rem; --mb: 12.125rem }
.my-98 { --mt: 12.250rem; --mb: 12.250rem }
.my-99 { --mt: 12.375rem; --mb: 12.375rem }
.my-100 { --mt: 12.500rem; --mb: 12.500rem }
.my-101 { --mt: 12.625rem; --mb: 12.625rem }
.my-102 { --mt: 12.750rem; --mb: 12.750rem }
.my-103 { --mt: 12.875rem; --mb: 12.875rem }
.my-104 { --mt: 13.000rem; --mb: 13.000rem }
.my-105 { --mt: 13.125rem; --mb: 13.125rem }
.my-106 { --mt: 13.250rem; --mb: 13.250rem }
.my-107 { --mt: 13.375rem; --mb: 13.375rem }
.my-108 { --mt: 13.500rem; --mb: 13.500rem }
.my-109 { --mt: 13.625rem; --mb: 13.625rem }
.my-110 { --mt: 13.750rem; --mb: 13.750rem }
.my-111 { --mt: 13.875rem; --mb: 13.875rem }
.my-112 { --mt: 14.000rem; --mb: 14.000rem }
.my-113 { --mt: 14.125rem; --mb: 14.125rem }
.my-114 { --mt: 14.250rem; --mb: 14.250rem }
.my-115 { --mt: 14.375rem; --mb: 14.375rem }
.my-116 { --mt: 14.500rem; --mb: 14.500rem }
.my-117 { --mt: 14.625rem; --mb: 14.625rem }
.my-118 { --mt: 14.750rem; --mb: 14.750rem }
.my-119 { --mt: 14.875rem; --mb: 14.875rem }
.my-120 { --mt: 15.000rem; --mb: 15.000rem }
.my-121 { --mt: 15.125rem; --mb: 15.125rem }
.my-122 { --mt: 15.250rem; --mb: 15.250rem }
.my-123 { --mt: 15.375rem; --mb: 15.375rem }
.my-124 { --mt: 15.500rem; --mb: 15.500rem }
.my-125 { --mt: 15.625rem; --mb: 15.625rem }
.my-126 { --mt: 15.750rem; --mb: 15.750rem }
.my-127 { --mt: 15.875rem; --mb: 15.875rem }
.my-128 { --mt: 16.000rem; --mb: 16.000rem }
.my-129 { --mt: 16.125rem; --mb: 16.125rem }
.my-130 { --mt: 16.250rem; --mb: 16.250rem }
.my-131 { --mt: 16.375rem; --mb: 16.375rem }
.my-132 { --mt: 16.500rem; --mb: 16.500rem }
.my-133 { --mt: 16.625rem; --mb: 16.625rem }
.my-134 { --mt: 16.750rem; --mb: 16.750rem }
.my-135 { --mt: 16.875rem; --mb: 16.875rem }
.my-136 { --mt: 17.000rem; --mb: 17.000rem }
.my-137 { --mt: 17.125rem; --mb: 17.125rem }
.my-138 { --mt: 17.250rem; --mb: 17.250rem }
.my-139 { --mt: 17.375rem; --mb: 17.375rem }
.my-140 { --mt: 17.500rem; --mb: 17.500rem }
.my-141 { --mt: 17.625rem; --mb: 17.625rem }
.my-142 { --mt: 17.750rem; --mb: 17.750rem }
.my-143 { --mt: 17.875rem; --mb: 17.875rem }
.my-144 { --mt: 18.000rem; --mb: 18.000rem }
.my-145 { --mt: 18.125rem; --mb: 18.125rem }
.my-146 { --mt: 18.250rem; --mb: 18.250rem }
.my-147 { --mt: 18.375rem; --mb: 18.375rem }
.my-148 { --mt: 18.500rem; --mb: 18.500rem }
.my-149 { --mt: 18.625rem; --mb: 18.625rem }
.my-150 { --mt: 18.750rem; --mb: 18.750rem }
.my-151 { --mt: 18.875rem; --mb: 18.875rem }
.my-152 { --mt: 19.000rem; --mb: 19.000rem }
.my-153 { --mt: 19.125rem; --mb: 19.125rem }
.my-154 { --mt: 19.250rem; --mb: 19.250rem }
.my-155 { --mt: 19.375rem; --mb: 19.375rem }
.my-156 { --mt: 19.500rem; --mb: 19.500rem }
.my-157 { --mt: 19.625rem; --mb: 19.625rem }
.my-158 { --mt: 19.750rem; --mb: 19.750rem }
.my-159 { --mt: 19.875rem; --mb: 19.875rem }
.my-160 { --mt: 20.000rem; --mb: 20.000rem }
.my-161 { --mt: 20.125rem; --mb: 20.125rem }
.my-162 { --mt: 20.250rem; --mb: 20.250rem }
.my-163 { --mt: 20.375rem; --mb: 20.375rem }
.my-164 { --mt: 20.500rem; --mb: 20.500rem }
.my-165 { --mt: 20.625rem; --mb: 20.625rem }
.my-166 { --mt: 20.750rem; --mb: 20.750rem }
.my-167 { --mt: 20.875rem; --mb: 20.875rem }
.my-168 { --mt: 21.000rem; --mb: 21.000rem }
.my-169 { --mt: 21.125rem; --mb: 21.125rem }
.my-170 { --mt: 21.250rem; --mb: 21.250rem }
.my-171 { --mt: 21.375rem; --mb: 21.375rem }
.my-172 { --mt: 21.500rem; --mb: 21.500rem }
.my-173 { --mt: 21.625rem; --mb: 21.625rem }
.my-174 { --mt: 21.750rem; --mb: 21.750rem }
.my-175 { --mt: 21.875rem; --mb: 21.875rem }
.my-176 { --mt: 22.000rem; --mb: 22.000rem }
.my-177 { --mt: 22.125rem; --mb: 22.125rem }
.my-178 { --mt: 22.250rem; --mb: 22.250rem }
.my-179 { --mt: 22.375rem; --mb: 22.375rem }
.my-180 { --mt: 22.500rem; --mb: 22.500rem }
.my-181 { --mt: 22.625rem; --mb: 22.625rem }
.my-182 { --mt: 22.750rem; --mb: 22.750rem }
.my-183 { --mt: 22.875rem; --mb: 22.875rem }
.my-184 { --mt: 23.000rem; --mb: 23.000rem }
.my-185 { --mt: 23.125rem; --mb: 23.125rem }
.my-186 { --mt: 23.250rem; --mb: 23.250rem }
.my-187 { --mt: 23.375rem; --mb: 23.375rem }
.my-188 { --mt: 23.500rem; --mb: 23.500rem }
.my-189 { --mt: 23.625rem; --mb: 23.625rem }
.my-190 { --mt: 23.750rem; --mb: 23.750rem }
.my-191 { --mt: 23.875rem; --mb: 23.875rem }
.my-192 { --mt: 24.000rem; --mb: 24.000rem }
.my-193 { --mt: 24.125rem; --mb: 24.125rem }
.my-194 { --mt: 24.250rem; --mb: 24.250rem }
.my-195 { --mt: 24.375rem; --mb: 24.375rem }
.my-196 { --mt: 24.500rem; --mb: 24.500rem }
.my-197 { --mt: 24.625rem; --mb: 24.625rem }
.my-198 { --mt: 24.750rem; --mb: 24.750rem }
.my-199 { --mt: 24.875rem; --mb: 24.875rem }
.my-200 { --mt: 25.000rem; --mb: 25.000rem }
.my-201 { --mt: 25.125rem; --mb: 25.125rem }
.my-202 { --mt: 25.250rem; --mb: 25.250rem }
.my-203 { --mt: 25.375rem; --mb: 25.375rem }
.my-204 { --mt: 25.500rem; --mb: 25.500rem }
.my-205 { --mt: 25.625rem; --mb: 25.625rem }
.my-206 { --mt: 25.750rem; --mb: 25.750rem }
.my-207 { --mt: 25.875rem; --mb: 25.875rem }
.my-208 { --mt: 26.000rem; --mb: 26.000rem }
.my-209 { --mt: 26.125rem; --mb: 26.125rem }
.my-210 { --mt: 26.250rem; --mb: 26.250rem }
.my-211 { --mt: 26.375rem; --mb: 26.375rem }
.my-212 { --mt: 26.500rem; --mb: 26.500rem }
.my-213 { --mt: 26.625rem; --mb: 26.625rem }
.my-214 { --mt: 26.750rem; --mb: 26.750rem }
.my-215 { --mt: 26.875rem; --mb: 26.875rem }
.my-216 { --mt: 27.000rem; --mb: 27.000rem }
.my-217 { --mt: 27.125rem; --mb: 27.125rem }
.my-218 { --mt: 27.250rem; --mb: 27.250rem }
.my-219 { --mt: 27.375rem; --mb: 27.375rem }
.my-220 { --mt: 27.500rem; --mb: 27.500rem }
.my-221 { --mt: 27.625rem; --mb: 27.625rem }
.my-222 { --mt: 27.750rem; --mb: 27.750rem }
.my-223 { --mt: 27.875rem; --mb: 27.875rem }
.my-224 { --mt: 28.000rem; --mb: 28.000rem }
.my-225 { --mt: 28.125rem; --mb: 28.125rem }
.my-226 { --mt: 28.250rem; --mb: 28.250rem }
.my-227 { --mt: 28.375rem; --mb: 28.375rem }
.my-228 { --mt: 28.500rem; --mb: 28.500rem }
.my-229 { --mt: 28.625rem; --mb: 28.625rem }
.my-230 { --mt: 28.750rem; --mb: 28.750rem }
.my-231 { --mt: 28.875rem; --mb: 28.875rem }
.my-232 { --mt: 29.000rem; --mb: 29.000rem }
.my-233 { --mt: 29.125rem; --mb: 29.125rem }
.my-234 { --mt: 29.250rem; --mb: 29.250rem }
.my-235 { --mt: 29.375rem; --mb: 29.375rem }
.my-236 { --mt: 29.500rem; --mb: 29.500rem }
.my-237 { --mt: 29.625rem; --mb: 29.625rem }
.my-238 { --mt: 29.750rem; --mb: 29.750rem }
.my-239 { --mt: 29.875rem; --mb: 29.875rem }
.my-240 { --mt: 30.000rem; --mb: 30.000rem }
.my-241 { --mt: 30.125rem; --mb: 30.125rem }
.my-242 { --mt: 30.250rem; --mb: 30.250rem }
.my-243 { --mt: 30.375rem; --mb: 30.375rem }
.my-244 { --mt: 30.500rem; --mb: 30.500rem }
.my-245 { --mt: 30.625rem; --mb: 30.625rem }
.my-246 { --mt: 30.750rem; --mb: 30.750rem }
.my-247 { --mt: 30.875rem; --mb: 30.875rem }
.my-248 { --mt: 31.000rem; --mb: 31.000rem }
.my-249 { --mt: 31.125rem; --mb: 31.125rem }
.my-250 { --mt: 31.250rem; --mb: 31.250rem }
.my-251 { --mt: 31.375rem; --mb: 31.375rem }
.my-252 { --mt: 31.500rem; --mb: 31.500rem }
.my-253 { --mt: 31.625rem; --mb: 31.625rem }
.my-254 { --mt: 31.750rem; --mb: 31.750rem }
.my-255 { --mt: 31.875rem; --mb: 31.875rem }
.my-256 { --mt: 32.000rem; --mb: 32.000rem }
.my-1\/2 { --mt: 50.000%; --mb: 50.000% }
.my-1\/3 { --mt: 33.333%; --mb: 33.333% }
.my-2\/3 { --mt: 66.667%; --mb: 66.667% }
.my-1\/4 { --mt: 25.000%; --mb: 25.000% }
.my-3\/4 { --mt: 75.000%; --mb: 75.000% }
.my-1\/5 { --mt: 20.000%; --mb: 20.000% }
.my-2\/5 { --mt: 40.000%; --mb: 40.000% }
.my-3\/5 { --mt: 60.000%; --mb: 60.000% }
.my-4\/5 { --mt: 80.000%; --mb: 80.000% }
.my-1\/6 { --mt: 16.667%; --mb: 16.667% }
.my-5\/6 { --mt: 83.333%; --mb: 83.333% }
.my-1\/8 { --mt: 12.500%; --mb: 12.500% }
.my-3\/8 { --mt: 37.500%; --mb: 37.500% }
.my-5\/8 { --mt: 62.500%; --mb: 62.500% }
.my-7\/8 { --mt: 87.500%; --mb: 87.500% }
.my-1\/9 { --mt: 11.111%; --mb: 11.111% }
.my-2\/9 { --mt: 22.222%; --mb: 22.222% }
.my-4\/9 { --mt: 44.444%; --mb: 44.444% }
.my-5\/9 { --mt: 55.556%; --mb: 55.556% }
.my-7\/9 { --mt: 77.778%; --mb: 77.778% }
.my-8\/9 { --mt: 88.889%; --mb: 88.889% }
.my-1\/10 { --mt: 10.000%; --mb: 10.000% }
.my-3\/10 { --mt: 30.000%; --mb: 30.000% }
.my-7\/10 { --mt: 70.000%; --mb: 70.000% }
.my-9\/10 { --mt: 90.000%; --mb: 90.000% }
.my-1\/12 { --mt: 8.333%; --mb: 8.333% }
.my-5\/12 { --mt: 41.667%; --mb: 41.667% }
.my-7\/12 { --mt: 58.333%; --mb: 58.333% }
.my-11\/12 { --mt: 91.667%; --mb: 91.667% }
.my-1\/16 { --mt: 6.250%; --mb: 6.250% }
.my-3\/16 { --mt: 18.750%; --mb: 18.750% }
.my-5\/16 { --mt: 31.250%; --mb: 31.250% }
.my-7\/16 { --mt: 43.750%; --mb: 43.750% }
.my-9\/16 { --mt: 56.250%; --mb: 56.250% }
.my-11\/16 { --mt: 68.750%; --mb: 68.750% }
.my-13\/16 { --mt: 81.250%; --mb: 81.250% }
.my-15\/16 { --mt: 93.750%; --mb: 93.750% }