.p-0 { --pt: 0.000rem; --pr: 0.000rem; --pb: 0.000rem; --pl: 0.000rem }
.p-1 { --pt: 0.125rem; --pr: 0.125rem; --pb: 0.125rem; --pl: 0.125rem }
.p-2 { --pt: 0.250rem; --pr: 0.250rem; --pb: 0.250rem; --pl: 0.250rem }
.p-3 { --pt: 0.375rem; --pr: 0.375rem; --pb: 0.375rem; --pl: 0.375rem }
.p-4 { --pt: 0.500rem; --pr: 0.500rem; --pb: 0.500rem; --pl: 0.500rem }
.p-5 { --pt: 0.625rem; --pr: 0.625rem; --pb: 0.625rem; --pl: 0.625rem }
.p-6 { --pt: 0.750rem; --pr: 0.750rem; --pb: 0.750rem; --pl: 0.750rem }
.p-7 { --pt: 0.875rem; --pr: 0.875rem; --pb: 0.875rem; --pl: 0.875rem }
.p-8 { --pt: 1.000rem; --pr: 1.000rem; --pb: 1.000rem; --pl: 1.000rem }
.p-9 { --pt: 1.125rem; --pr: 1.125rem; --pb: 1.125rem; --pl: 1.125rem }
.p-10 { --pt: 1.250rem; --pr: 1.250rem; --pb: 1.250rem; --pl: 1.250rem }
.p-11 { --pt: 1.375rem; --pr: 1.375rem; --pb: 1.375rem; --pl: 1.375rem }
.p-12 { --pt: 1.500rem; --pr: 1.500rem; --pb: 1.500rem; --pl: 1.500rem }
.p-13 { --pt: 1.625rem; --pr: 1.625rem; --pb: 1.625rem; --pl: 1.625rem }
.p-14 { --pt: 1.750rem; --pr: 1.750rem; --pb: 1.750rem; --pl: 1.750rem }
.p-15 { --pt: 1.875rem; --pr: 1.875rem; --pb: 1.875rem; --pl: 1.875rem }
.p-16 { --pt: 2.000rem; --pr: 2.000rem; --pb: 2.000rem; --pl: 2.000rem }
.p-17 { --pt: 2.125rem; --pr: 2.125rem; --pb: 2.125rem; --pl: 2.125rem }
.p-18 { --pt: 2.250rem; --pr: 2.250rem; --pb: 2.250rem; --pl: 2.250rem }
.p-19 { --pt: 2.375rem; --pr: 2.375rem; --pb: 2.375rem; --pl: 2.375rem }
.p-20 { --pt: 2.500rem; --pr: 2.500rem; --pb: 2.500rem; --pl: 2.500rem }
.p-21 { --pt: 2.625rem; --pr: 2.625rem; --pb: 2.625rem; --pl: 2.625rem }
.p-22 { --pt: 2.750rem; --pr: 2.750rem; --pb: 2.750rem; --pl: 2.750rem }
.p-23 { --pt: 2.875rem; --pr: 2.875rem; --pb: 2.875rem; --pl: 2.875rem }
.p-24 { --pt: 3.000rem; --pr: 3.000rem; --pb: 3.000rem; --pl: 3.000rem }
.p-25 { --pt: 3.125rem; --pr: 3.125rem; --pb: 3.125rem; --pl: 3.125rem }
.p-26 { --pt: 3.250rem; --pr: 3.250rem; --pb: 3.250rem; --pl: 3.250rem }
.p-27 { --pt: 3.375rem; --pr: 3.375rem; --pb: 3.375rem; --pl: 3.375rem }
.p-28 { --pt: 3.500rem; --pr: 3.500rem; --pb: 3.500rem; --pl: 3.500rem }
.p-29 { --pt: 3.625rem; --pr: 3.625rem; --pb: 3.625rem; --pl: 3.625rem }
.p-30 { --pt: 3.750rem; --pr: 3.750rem; --pb: 3.750rem; --pl: 3.750rem }
.p-31 { --pt: 3.875rem; --pr: 3.875rem; --pb: 3.875rem; --pl: 3.875rem }
.p-32 { --pt: 4.000rem; --pr: 4.000rem; --pb: 4.000rem; --pl: 4.000rem }
.p-33 { --pt: 4.125rem; --pr: 4.125rem; --pb: 4.125rem; --pl: 4.125rem }
.p-34 { --pt: 4.250rem; --pr: 4.250rem; --pb: 4.250rem; --pl: 4.250rem }
.p-35 { --pt: 4.375rem; --pr: 4.375rem; --pb: 4.375rem; --pl: 4.375rem }
.p-36 { --pt: 4.500rem; --pr: 4.500rem; --pb: 4.500rem; --pl: 4.500rem }
.p-37 { --pt: 4.625rem; --pr: 4.625rem; --pb: 4.625rem; --pl: 4.625rem }
.p-38 { --pt: 4.750rem; --pr: 4.750rem; --pb: 4.750rem; --pl: 4.750rem }
.p-39 { --pt: 4.875rem; --pr: 4.875rem; --pb: 4.875rem; --pl: 4.875rem }
.p-40 { --pt: 5.000rem; --pr: 5.000rem; --pb: 5.000rem; --pl: 5.000rem }
.p-41 { --pt: 5.125rem; --pr: 5.125rem; --pb: 5.125rem; --pl: 5.125rem }
.p-42 { --pt: 5.250rem; --pr: 5.250rem; --pb: 5.250rem; --pl: 5.250rem }
.p-43 { --pt: 5.375rem; --pr: 5.375rem; --pb: 5.375rem; --pl: 5.375rem }
.p-44 { --pt: 5.500rem; --pr: 5.500rem; --pb: 5.500rem; --pl: 5.500rem }
.p-45 { --pt: 5.625rem; --pr: 5.625rem; --pb: 5.625rem; --pl: 5.625rem }
.p-46 { --pt: 5.750rem; --pr: 5.750rem; --pb: 5.750rem; --pl: 5.750rem }
.p-47 { --pt: 5.875rem; --pr: 5.875rem; --pb: 5.875rem; --pl: 5.875rem }
.p-48 { --pt: 6.000rem; --pr: 6.000rem; --pb: 6.000rem; --pl: 6.000rem }
.p-49 { --pt: 6.125rem; --pr: 6.125rem; --pb: 6.125rem; --pl: 6.125rem }
.p-50 { --pt: 6.250rem; --pr: 6.250rem; --pb: 6.250rem; --pl: 6.250rem }
.p-51 { --pt: 6.375rem; --pr: 6.375rem; --pb: 6.375rem; --pl: 6.375rem }
.p-52 { --pt: 6.500rem; --pr: 6.500rem; --pb: 6.500rem; --pl: 6.500rem }
.p-53 { --pt: 6.625rem; --pr: 6.625rem; --pb: 6.625rem; --pl: 6.625rem }
.p-54 { --pt: 6.750rem; --pr: 6.750rem; --pb: 6.750rem; --pl: 6.750rem }
.p-55 { --pt: 6.875rem; --pr: 6.875rem; --pb: 6.875rem; --pl: 6.875rem }
.p-56 { --pt: 7.000rem; --pr: 7.000rem; --pb: 7.000rem; --pl: 7.000rem }
.p-57 { --pt: 7.125rem; --pr: 7.125rem; --pb: 7.125rem; --pl: 7.125rem }
.p-58 { --pt: 7.250rem; --pr: 7.250rem; --pb: 7.250rem; --pl: 7.250rem }
.p-59 { --pt: 7.375rem; --pr: 7.375rem; --pb: 7.375rem; --pl: 7.375rem }
.p-60 { --pt: 7.500rem; --pr: 7.500rem; --pb: 7.500rem; --pl: 7.500rem }
.p-61 { --pt: 7.625rem; --pr: 7.625rem; --pb: 7.625rem; --pl: 7.625rem }
.p-62 { --pt: 7.750rem; --pr: 7.750rem; --pb: 7.750rem; --pl: 7.750rem }
.p-63 { --pt: 7.875rem; --pr: 7.875rem; --pb: 7.875rem; --pl: 7.875rem }
.p-64 { --pt: 8.000rem; --pr: 8.000rem; --pb: 8.000rem; --pl: 8.000rem }
.p-65 { --pt: 8.125rem; --pr: 8.125rem; --pb: 8.125rem; --pl: 8.125rem }
.p-66 { --pt: 8.250rem; --pr: 8.250rem; --pb: 8.250rem; --pl: 8.250rem }
.p-67 { --pt: 8.375rem; --pr: 8.375rem; --pb: 8.375rem; --pl: 8.375rem }
.p-68 { --pt: 8.500rem; --pr: 8.500rem; --pb: 8.500rem; --pl: 8.500rem }
.p-69 { --pt: 8.625rem; --pr: 8.625rem; --pb: 8.625rem; --pl: 8.625rem }
.p-70 { --pt: 8.750rem; --pr: 8.750rem; --pb: 8.750rem; --pl: 8.750rem }
.p-71 { --pt: 8.875rem; --pr: 8.875rem; --pb: 8.875rem; --pl: 8.875rem }
.p-72 { --pt: 9.000rem; --pr: 9.000rem; --pb: 9.000rem; --pl: 9.000rem }
.p-73 { --pt: 9.125rem; --pr: 9.125rem; --pb: 9.125rem; --pl: 9.125rem }
.p-74 { --pt: 9.250rem; --pr: 9.250rem; --pb: 9.250rem; --pl: 9.250rem }
.p-75 { --pt: 9.375rem; --pr: 9.375rem; --pb: 9.375rem; --pl: 9.375rem }
.p-76 { --pt: 9.500rem; --pr: 9.500rem; --pb: 9.500rem; --pl: 9.500rem }
.p-77 { --pt: 9.625rem; --pr: 9.625rem; --pb: 9.625rem; --pl: 9.625rem }
.p-78 { --pt: 9.750rem; --pr: 9.750rem; --pb: 9.750rem; --pl: 9.750rem }
.p-79 { --pt: 9.875rem; --pr: 9.875rem; --pb: 9.875rem; --pl: 9.875rem }
.p-80 { --pt: 10.000rem; --pr: 10.000rem; --pb: 10.000rem; --pl: 10.000rem }
.p-81 { --pt: 10.125rem; --pr: 10.125rem; --pb: 10.125rem; --pl: 10.125rem }
.p-82 { --pt: 10.250rem; --pr: 10.250rem; --pb: 10.250rem; --pl: 10.250rem }
.p-83 { --pt: 10.375rem; --pr: 10.375rem; --pb: 10.375rem; --pl: 10.375rem }
.p-84 { --pt: 10.500rem; --pr: 10.500rem; --pb: 10.500rem; --pl: 10.500rem }
.p-85 { --pt: 10.625rem; --pr: 10.625rem; --pb: 10.625rem; --pl: 10.625rem }
.p-86 { --pt: 10.750rem; --pr: 10.750rem; --pb: 10.750rem; --pl: 10.750rem }
.p-87 { --pt: 10.875rem; --pr: 10.875rem; --pb: 10.875rem; --pl: 10.875rem }
.p-88 { --pt: 11.000rem; --pr: 11.000rem; --pb: 11.000rem; --pl: 11.000rem }
.p-89 { --pt: 11.125rem; --pr: 11.125rem; --pb: 11.125rem; --pl: 11.125rem }
.p-90 { --pt: 11.250rem; --pr: 11.250rem; --pb: 11.250rem; --pl: 11.250rem }
.p-91 { --pt: 11.375rem; --pr: 11.375rem; --pb: 11.375rem; --pl: 11.375rem }
.p-92 { --pt: 11.500rem; --pr: 11.500rem; --pb: 11.500rem; --pl: 11.500rem }
.p-93 { --pt: 11.625rem; --pr: 11.625rem; --pb: 11.625rem; --pl: 11.625rem }
.p-94 { --pt: 11.750rem; --pr: 11.750rem; --pb: 11.750rem; --pl: 11.750rem }
.p-95 { --pt: 11.875rem; --pr: 11.875rem; --pb: 11.875rem; --pl: 11.875rem }
.p-96 { --pt: 12.000rem; --pr: 12.000rem; --pb: 12.000rem; --pl: 12.000rem }
.p-97 { --pt: 12.125rem; --pr: 12.125rem; --pb: 12.125rem; --pl: 12.125rem }
.p-98 { --pt: 12.250rem; --pr: 12.250rem; --pb: 12.250rem; --pl: 12.250rem }
.p-99 { --pt: 12.375rem; --pr: 12.375rem; --pb: 12.375rem; --pl: 12.375rem }
.p-100 { --pt: 12.500rem; --pr: 12.500rem; --pb: 12.500rem; --pl: 12.500rem }
.p-101 { --pt: 12.625rem; --pr: 12.625rem; --pb: 12.625rem; --pl: 12.625rem }
.p-102 { --pt: 12.750rem; --pr: 12.750rem; --pb: 12.750rem; --pl: 12.750rem }
.p-103 { --pt: 12.875rem; --pr: 12.875rem; --pb: 12.875rem; --pl: 12.875rem }
.p-104 { --pt: 13.000rem; --pr: 13.000rem; --pb: 13.000rem; --pl: 13.000rem }
.p-105 { --pt: 13.125rem; --pr: 13.125rem; --pb: 13.125rem; --pl: 13.125rem }
.p-106 { --pt: 13.250rem; --pr: 13.250rem; --pb: 13.250rem; --pl: 13.250rem }
.p-107 { --pt: 13.375rem; --pr: 13.375rem; --pb: 13.375rem; --pl: 13.375rem }
.p-108 { --pt: 13.500rem; --pr: 13.500rem; --pb: 13.500rem; --pl: 13.500rem }
.p-109 { --pt: 13.625rem; --pr: 13.625rem; --pb: 13.625rem; --pl: 13.625rem }
.p-110 { --pt: 13.750rem; --pr: 13.750rem; --pb: 13.750rem; --pl: 13.750rem }
.p-111 { --pt: 13.875rem; --pr: 13.875rem; --pb: 13.875rem; --pl: 13.875rem }
.p-112 { --pt: 14.000rem; --pr: 14.000rem; --pb: 14.000rem; --pl: 14.000rem }
.p-113 { --pt: 14.125rem; --pr: 14.125rem; --pb: 14.125rem; --pl: 14.125rem }
.p-114 { --pt: 14.250rem; --pr: 14.250rem; --pb: 14.250rem; --pl: 14.250rem }
.p-115 { --pt: 14.375rem; --pr: 14.375rem; --pb: 14.375rem; --pl: 14.375rem }
.p-116 { --pt: 14.500rem; --pr: 14.500rem; --pb: 14.500rem; --pl: 14.500rem }
.p-117 { --pt: 14.625rem; --pr: 14.625rem; --pb: 14.625rem; --pl: 14.625rem }
.p-118 { --pt: 14.750rem; --pr: 14.750rem; --pb: 14.750rem; --pl: 14.750rem }
.p-119 { --pt: 14.875rem; --pr: 14.875rem; --pb: 14.875rem; --pl: 14.875rem }
.p-120 { --pt: 15.000rem; --pr: 15.000rem; --pb: 15.000rem; --pl: 15.000rem }
.p-121 { --pt: 15.125rem; --pr: 15.125rem; --pb: 15.125rem; --pl: 15.125rem }
.p-122 { --pt: 15.250rem; --pr: 15.250rem; --pb: 15.250rem; --pl: 15.250rem }
.p-123 { --pt: 15.375rem; --pr: 15.375rem; --pb: 15.375rem; --pl: 15.375rem }
.p-124 { --pt: 15.500rem; --pr: 15.500rem; --pb: 15.500rem; --pl: 15.500rem }
.p-125 { --pt: 15.625rem; --pr: 15.625rem; --pb: 15.625rem; --pl: 15.625rem }
.p-126 { --pt: 15.750rem; --pr: 15.750rem; --pb: 15.750rem; --pl: 15.750rem }
.p-127 { --pt: 15.875rem; --pr: 15.875rem; --pb: 15.875rem; --pl: 15.875rem }
.p-128 { --pt: 16.000rem; --pr: 16.000rem; --pb: 16.000rem; --pl: 16.000rem }
.p-129 { --pt: 16.125rem; --pr: 16.125rem; --pb: 16.125rem; --pl: 16.125rem }
.p-130 { --pt: 16.250rem; --pr: 16.250rem; --pb: 16.250rem; --pl: 16.250rem }
.p-131 { --pt: 16.375rem; --pr: 16.375rem; --pb: 16.375rem; --pl: 16.375rem }
.p-132 { --pt: 16.500rem; --pr: 16.500rem; --pb: 16.500rem; --pl: 16.500rem }
.p-133 { --pt: 16.625rem; --pr: 16.625rem; --pb: 16.625rem; --pl: 16.625rem }
.p-134 { --pt: 16.750rem; --pr: 16.750rem; --pb: 16.750rem; --pl: 16.750rem }
.p-135 { --pt: 16.875rem; --pr: 16.875rem; --pb: 16.875rem; --pl: 16.875rem }
.p-136 { --pt: 17.000rem; --pr: 17.000rem; --pb: 17.000rem; --pl: 17.000rem }
.p-137 { --pt: 17.125rem; --pr: 17.125rem; --pb: 17.125rem; --pl: 17.125rem }
.p-138 { --pt: 17.250rem; --pr: 17.250rem; --pb: 17.250rem; --pl: 17.250rem }
.p-139 { --pt: 17.375rem; --pr: 17.375rem; --pb: 17.375rem; --pl: 17.375rem }
.p-140 { --pt: 17.500rem; --pr: 17.500rem; --pb: 17.500rem; --pl: 17.500rem }
.p-141 { --pt: 17.625rem; --pr: 17.625rem; --pb: 17.625rem; --pl: 17.625rem }
.p-142 { --pt: 17.750rem; --pr: 17.750rem; --pb: 17.750rem; --pl: 17.750rem }
.p-143 { --pt: 17.875rem; --pr: 17.875rem; --pb: 17.875rem; --pl: 17.875rem }
.p-144 { --pt: 18.000rem; --pr: 18.000rem; --pb: 18.000rem; --pl: 18.000rem }
.p-145 { --pt: 18.125rem; --pr: 18.125rem; --pb: 18.125rem; --pl: 18.125rem }
.p-146 { --pt: 18.250rem; --pr: 18.250rem; --pb: 18.250rem; --pl: 18.250rem }
.p-147 { --pt: 18.375rem; --pr: 18.375rem; --pb: 18.375rem; --pl: 18.375rem }
.p-148 { --pt: 18.500rem; --pr: 18.500rem; --pb: 18.500rem; --pl: 18.500rem }
.p-149 { --pt: 18.625rem; --pr: 18.625rem; --pb: 18.625rem; --pl: 18.625rem }
.p-150 { --pt: 18.750rem; --pr: 18.750rem; --pb: 18.750rem; --pl: 18.750rem }
.p-151 { --pt: 18.875rem; --pr: 18.875rem; --pb: 18.875rem; --pl: 18.875rem }
.p-152 { --pt: 19.000rem; --pr: 19.000rem; --pb: 19.000rem; --pl: 19.000rem }
.p-153 { --pt: 19.125rem; --pr: 19.125rem; --pb: 19.125rem; --pl: 19.125rem }
.p-154 { --pt: 19.250rem; --pr: 19.250rem; --pb: 19.250rem; --pl: 19.250rem }
.p-155 { --pt: 19.375rem; --pr: 19.375rem; --pb: 19.375rem; --pl: 19.375rem }
.p-156 { --pt: 19.500rem; --pr: 19.500rem; --pb: 19.500rem; --pl: 19.500rem }
.p-157 { --pt: 19.625rem; --pr: 19.625rem; --pb: 19.625rem; --pl: 19.625rem }
.p-158 { --pt: 19.750rem; --pr: 19.750rem; --pb: 19.750rem; --pl: 19.750rem }
.p-159 { --pt: 19.875rem; --pr: 19.875rem; --pb: 19.875rem; --pl: 19.875rem }
.p-160 { --pt: 20.000rem; --pr: 20.000rem; --pb: 20.000rem; --pl: 20.000rem }
.p-161 { --pt: 20.125rem; --pr: 20.125rem; --pb: 20.125rem; --pl: 20.125rem }
.p-162 { --pt: 20.250rem; --pr: 20.250rem; --pb: 20.250rem; --pl: 20.250rem }
.p-163 { --pt: 20.375rem; --pr: 20.375rem; --pb: 20.375rem; --pl: 20.375rem }
.p-164 { --pt: 20.500rem; --pr: 20.500rem; --pb: 20.500rem; --pl: 20.500rem }
.p-165 { --pt: 20.625rem; --pr: 20.625rem; --pb: 20.625rem; --pl: 20.625rem }
.p-166 { --pt: 20.750rem; --pr: 20.750rem; --pb: 20.750rem; --pl: 20.750rem }
.p-167 { --pt: 20.875rem; --pr: 20.875rem; --pb: 20.875rem; --pl: 20.875rem }
.p-168 { --pt: 21.000rem; --pr: 21.000rem; --pb: 21.000rem; --pl: 21.000rem }
.p-169 { --pt: 21.125rem; --pr: 21.125rem; --pb: 21.125rem; --pl: 21.125rem }
.p-170 { --pt: 21.250rem; --pr: 21.250rem; --pb: 21.250rem; --pl: 21.250rem }
.p-171 { --pt: 21.375rem; --pr: 21.375rem; --pb: 21.375rem; --pl: 21.375rem }
.p-172 { --pt: 21.500rem; --pr: 21.500rem; --pb: 21.500rem; --pl: 21.500rem }
.p-173 { --pt: 21.625rem; --pr: 21.625rem; --pb: 21.625rem; --pl: 21.625rem }
.p-174 { --pt: 21.750rem; --pr: 21.750rem; --pb: 21.750rem; --pl: 21.750rem }
.p-175 { --pt: 21.875rem; --pr: 21.875rem; --pb: 21.875rem; --pl: 21.875rem }
.p-176 { --pt: 22.000rem; --pr: 22.000rem; --pb: 22.000rem; --pl: 22.000rem }
.p-177 { --pt: 22.125rem; --pr: 22.125rem; --pb: 22.125rem; --pl: 22.125rem }
.p-178 { --pt: 22.250rem; --pr: 22.250rem; --pb: 22.250rem; --pl: 22.250rem }
.p-179 { --pt: 22.375rem; --pr: 22.375rem; --pb: 22.375rem; --pl: 22.375rem }
.p-180 { --pt: 22.500rem; --pr: 22.500rem; --pb: 22.500rem; --pl: 22.500rem }
.p-181 { --pt: 22.625rem; --pr: 22.625rem; --pb: 22.625rem; --pl: 22.625rem }
.p-182 { --pt: 22.750rem; --pr: 22.750rem; --pb: 22.750rem; --pl: 22.750rem }
.p-183 { --pt: 22.875rem; --pr: 22.875rem; --pb: 22.875rem; --pl: 22.875rem }
.p-184 { --pt: 23.000rem; --pr: 23.000rem; --pb: 23.000rem; --pl: 23.000rem }
.p-185 { --pt: 23.125rem; --pr: 23.125rem; --pb: 23.125rem; --pl: 23.125rem }
.p-186 { --pt: 23.250rem; --pr: 23.250rem; --pb: 23.250rem; --pl: 23.250rem }
.p-187 { --pt: 23.375rem; --pr: 23.375rem; --pb: 23.375rem; --pl: 23.375rem }
.p-188 { --pt: 23.500rem; --pr: 23.500rem; --pb: 23.500rem; --pl: 23.500rem }
.p-189 { --pt: 23.625rem; --pr: 23.625rem; --pb: 23.625rem; --pl: 23.625rem }
.p-190 { --pt: 23.750rem; --pr: 23.750rem; --pb: 23.750rem; --pl: 23.750rem }
.p-191 { --pt: 23.875rem; --pr: 23.875rem; --pb: 23.875rem; --pl: 23.875rem }
.p-192 { --pt: 24.000rem; --pr: 24.000rem; --pb: 24.000rem; --pl: 24.000rem }
.p-193 { --pt: 24.125rem; --pr: 24.125rem; --pb: 24.125rem; --pl: 24.125rem }
.p-194 { --pt: 24.250rem; --pr: 24.250rem; --pb: 24.250rem; --pl: 24.250rem }
.p-195 { --pt: 24.375rem; --pr: 24.375rem; --pb: 24.375rem; --pl: 24.375rem }
.p-196 { --pt: 24.500rem; --pr: 24.500rem; --pb: 24.500rem; --pl: 24.500rem }
.p-197 { --pt: 24.625rem; --pr: 24.625rem; --pb: 24.625rem; --pl: 24.625rem }
.p-198 { --pt: 24.750rem; --pr: 24.750rem; --pb: 24.750rem; --pl: 24.750rem }
.p-199 { --pt: 24.875rem; --pr: 24.875rem; --pb: 24.875rem; --pl: 24.875rem }
.p-200 { --pt: 25.000rem; --pr: 25.000rem; --pb: 25.000rem; --pl: 25.000rem }
.p-201 { --pt: 25.125rem; --pr: 25.125rem; --pb: 25.125rem; --pl: 25.125rem }
.p-202 { --pt: 25.250rem; --pr: 25.250rem; --pb: 25.250rem; --pl: 25.250rem }
.p-203 { --pt: 25.375rem; --pr: 25.375rem; --pb: 25.375rem; --pl: 25.375rem }
.p-204 { --pt: 25.500rem; --pr: 25.500rem; --pb: 25.500rem; --pl: 25.500rem }
.p-205 { --pt: 25.625rem; --pr: 25.625rem; --pb: 25.625rem; --pl: 25.625rem }
.p-206 { --pt: 25.750rem; --pr: 25.750rem; --pb: 25.750rem; --pl: 25.750rem }
.p-207 { --pt: 25.875rem; --pr: 25.875rem; --pb: 25.875rem; --pl: 25.875rem }
.p-208 { --pt: 26.000rem; --pr: 26.000rem; --pb: 26.000rem; --pl: 26.000rem }
.p-209 { --pt: 26.125rem; --pr: 26.125rem; --pb: 26.125rem; --pl: 26.125rem }
.p-210 { --pt: 26.250rem; --pr: 26.250rem; --pb: 26.250rem; --pl: 26.250rem }
.p-211 { --pt: 26.375rem; --pr: 26.375rem; --pb: 26.375rem; --pl: 26.375rem }
.p-212 { --pt: 26.500rem; --pr: 26.500rem; --pb: 26.500rem; --pl: 26.500rem }
.p-213 { --pt: 26.625rem; --pr: 26.625rem; --pb: 26.625rem; --pl: 26.625rem }
.p-214 { --pt: 26.750rem; --pr: 26.750rem; --pb: 26.750rem; --pl: 26.750rem }
.p-215 { --pt: 26.875rem; --pr: 26.875rem; --pb: 26.875rem; --pl: 26.875rem }
.p-216 { --pt: 27.000rem; --pr: 27.000rem; --pb: 27.000rem; --pl: 27.000rem }
.p-217 { --pt: 27.125rem; --pr: 27.125rem; --pb: 27.125rem; --pl: 27.125rem }
.p-218 { --pt: 27.250rem; --pr: 27.250rem; --pb: 27.250rem; --pl: 27.250rem }
.p-219 { --pt: 27.375rem; --pr: 27.375rem; --pb: 27.375rem; --pl: 27.375rem }
.p-220 { --pt: 27.500rem; --pr: 27.500rem; --pb: 27.500rem; --pl: 27.500rem }
.p-221 { --pt: 27.625rem; --pr: 27.625rem; --pb: 27.625rem; --pl: 27.625rem }
.p-222 { --pt: 27.750rem; --pr: 27.750rem; --pb: 27.750rem; --pl: 27.750rem }
.p-223 { --pt: 27.875rem; --pr: 27.875rem; --pb: 27.875rem; --pl: 27.875rem }
.p-224 { --pt: 28.000rem; --pr: 28.000rem; --pb: 28.000rem; --pl: 28.000rem }
.p-225 { --pt: 28.125rem; --pr: 28.125rem; --pb: 28.125rem; --pl: 28.125rem }
.p-226 { --pt: 28.250rem; --pr: 28.250rem; --pb: 28.250rem; --pl: 28.250rem }
.p-227 { --pt: 28.375rem; --pr: 28.375rem; --pb: 28.375rem; --pl: 28.375rem }
.p-228 { --pt: 28.500rem; --pr: 28.500rem; --pb: 28.500rem; --pl: 28.500rem }
.p-229 { --pt: 28.625rem; --pr: 28.625rem; --pb: 28.625rem; --pl: 28.625rem }
.p-230 { --pt: 28.750rem; --pr: 28.750rem; --pb: 28.750rem; --pl: 28.750rem }
.p-231 { --pt: 28.875rem; --pr: 28.875rem; --pb: 28.875rem; --pl: 28.875rem }
.p-232 { --pt: 29.000rem; --pr: 29.000rem; --pb: 29.000rem; --pl: 29.000rem }
.p-233 { --pt: 29.125rem; --pr: 29.125rem; --pb: 29.125rem; --pl: 29.125rem }
.p-234 { --pt: 29.250rem; --pr: 29.250rem; --pb: 29.250rem; --pl: 29.250rem }
.p-235 { --pt: 29.375rem; --pr: 29.375rem; --pb: 29.375rem; --pl: 29.375rem }
.p-236 { --pt: 29.500rem; --pr: 29.500rem; --pb: 29.500rem; --pl: 29.500rem }
.p-237 { --pt: 29.625rem; --pr: 29.625rem; --pb: 29.625rem; --pl: 29.625rem }
.p-238 { --pt: 29.750rem; --pr: 29.750rem; --pb: 29.750rem; --pl: 29.750rem }
.p-239 { --pt: 29.875rem; --pr: 29.875rem; --pb: 29.875rem; --pl: 29.875rem }
.p-240 { --pt: 30.000rem; --pr: 30.000rem; --pb: 30.000rem; --pl: 30.000rem }
.p-241 { --pt: 30.125rem; --pr: 30.125rem; --pb: 30.125rem; --pl: 30.125rem }
.p-242 { --pt: 30.250rem; --pr: 30.250rem; --pb: 30.250rem; --pl: 30.250rem }
.p-243 { --pt: 30.375rem; --pr: 30.375rem; --pb: 30.375rem; --pl: 30.375rem }
.p-244 { --pt: 30.500rem; --pr: 30.500rem; --pb: 30.500rem; --pl: 30.500rem }
.p-245 { --pt: 30.625rem; --pr: 30.625rem; --pb: 30.625rem; --pl: 30.625rem }
.p-246 { --pt: 30.750rem; --pr: 30.750rem; --pb: 30.750rem; --pl: 30.750rem }
.p-247 { --pt: 30.875rem; --pr: 30.875rem; --pb: 30.875rem; --pl: 30.875rem }
.p-248 { --pt: 31.000rem; --pr: 31.000rem; --pb: 31.000rem; --pl: 31.000rem }
.p-249 { --pt: 31.125rem; --pr: 31.125rem; --pb: 31.125rem; --pl: 31.125rem }
.p-250 { --pt: 31.250rem; --pr: 31.250rem; --pb: 31.250rem; --pl: 31.250rem }
.p-251 { --pt: 31.375rem; --pr: 31.375rem; --pb: 31.375rem; --pl: 31.375rem }
.p-252 { --pt: 31.500rem; --pr: 31.500rem; --pb: 31.500rem; --pl: 31.500rem }
.p-253 { --pt: 31.625rem; --pr: 31.625rem; --pb: 31.625rem; --pl: 31.625rem }
.p-254 { --pt: 31.750rem; --pr: 31.750rem; --pb: 31.750rem; --pl: 31.750rem }
.p-255 { --pt: 31.875rem; --pr: 31.875rem; --pb: 31.875rem; --pl: 31.875rem }
.p-256 { --pt: 32.000rem; --pr: 32.000rem; --pb: 32.000rem; --pl: 32.000rem }
.p-1\/2 { --pt: 50.000%; --pr: 50.000%; --pb: 50.000%; --pl: 50.000% }
.p-1\/3 { --pt: 33.333%; --pr: 33.333%; --pb: 33.333%; --pl: 33.333% }
.p-2\/3 { --pt: 66.667%; --pr: 66.667%; --pb: 66.667%; --pl: 66.667% }
.p-1\/4 { --pt: 25.000%; --pr: 25.000%; --pb: 25.000%; --pl: 25.000% }
.p-3\/4 { --pt: 75.000%; --pr: 75.000%; --pb: 75.000%; --pl: 75.000% }
.p-1\/5 { --pt: 20.000%; --pr: 20.000%; --pb: 20.000%; --pl: 20.000% }
.p-2\/5 { --pt: 40.000%; --pr: 40.000%; --pb: 40.000%; --pl: 40.000% }
.p-3\/5 { --pt: 60.000%; --pr: 60.000%; --pb: 60.000%; --pl: 60.000% }
.p-4\/5 { --pt: 80.000%; --pr: 80.000%; --pb: 80.000%; --pl: 80.000% }
.p-1\/6 { --pt: 16.667%; --pr: 16.667%; --pb: 16.667%; --pl: 16.667% }
.p-5\/6 { --pt: 83.333%; --pr: 83.333%; --pb: 83.333%; --pl: 83.333% }
.p-1\/8 { --pt: 12.500%; --pr: 12.500%; --pb: 12.500%; --pl: 12.500% }
.p-3\/8 { --pt: 37.500%; --pr: 37.500%; --pb: 37.500%; --pl: 37.500% }
.p-5\/8 { --pt: 62.500%; --pr: 62.500%; --pb: 62.500%; --pl: 62.500% }
.p-7\/8 { --pt: 87.500%; --pr: 87.500%; --pb: 87.500%; --pl: 87.500% }
.p-1\/9 { --pt: 11.111%; --pr: 11.111%; --pb: 11.111%; --pl: 11.111% }
.p-2\/9 { --pt: 22.222%; --pr: 22.222%; --pb: 22.222%; --pl: 22.222% }
.p-4\/9 { --pt: 44.444%; --pr: 44.444%; --pb: 44.444%; --pl: 44.444% }
.p-5\/9 { --pt: 55.556%; --pr: 55.556%; --pb: 55.556%; --pl: 55.556% }
.p-7\/9 { --pt: 77.778%; --pr: 77.778%; --pb: 77.778%; --pl: 77.778% }
.p-8\/9 { --pt: 88.889%; --pr: 88.889%; --pb: 88.889%; --pl: 88.889% }
.p-1\/10 { --pt: 10.000%; --pr: 10.000%; --pb: 10.000%; --pl: 10.000% }
.p-3\/10 { --pt: 30.000%; --pr: 30.000%; --pb: 30.000%; --pl: 30.000% }
.p-7\/10 { --pt: 70.000%; --pr: 70.000%; --pb: 70.000%; --pl: 70.000% }
.p-9\/10 { --pt: 90.000%; --pr: 90.000%; --pb: 90.000%; --pl: 90.000% }
.p-1\/12 { --pt: 8.333%; --pr: 8.333%; --pb: 8.333%; --pl: 8.333% }
.p-5\/12 { --pt: 41.667%; --pr: 41.667%; --pb: 41.667%; --pl: 41.667% }
.p-7\/12 { --pt: 58.333%; --pr: 58.333%; --pb: 58.333%; --pl: 58.333% }
.p-11\/12 { --pt: 91.667%; --pr: 91.667%; --pb: 91.667%; --pl: 91.667% }
.p-1\/16 { --pt: 6.250%; --pr: 6.250%; --pb: 6.250%; --pl: 6.250% }
.p-3\/16 { --pt: 18.750%; --pr: 18.750%; --pb: 18.750%; --pl: 18.750% }
.p-5\/16 { --pt: 31.250%; --pr: 31.250%; --pb: 31.250%; --pl: 31.250% }
.p-7\/16 { --pt: 43.750%; --pr: 43.750%; --pb: 43.750%; --pl: 43.750% }
.p-9\/16 { --pt: 56.250%; --pr: 56.250%; --pb: 56.250%; --pl: 56.250% }
.p-11\/16 { --pt: 68.750%; --pr: 68.750%; --pb: 68.750%; --pl: 68.750% }
.p-13\/16 { --pt: 81.250%; --pr: 81.250%; --pb: 81.250%; --pl: 81.250% }
.p-15\/16 { --pt: 93.750%; --pr: 93.750%; --pb: 93.750%; --pl: 93.750% }