.px-0 { --pr: 0.000rem; --pl: 0.000rem }
.px-1 { --pr: 0.125rem; --pl: 0.125rem }
.px-2 { --pr: 0.250rem; --pl: 0.250rem }
.px-3 { --pr: 0.375rem; --pl: 0.375rem }
.px-4 { --pr: 0.500rem; --pl: 0.500rem }
.px-5 { --pr: 0.625rem; --pl: 0.625rem }
.px-6 { --pr: 0.750rem; --pl: 0.750rem }
.px-7 { --pr: 0.875rem; --pl: 0.875rem }
.px-8 { --pr: 1.000rem; --pl: 1.000rem }
.px-9 { --pr: 1.125rem; --pl: 1.125rem }
.px-10 { --pr: 1.250rem; --pl: 1.250rem }
.px-11 { --pr: 1.375rem; --pl: 1.375rem }
.px-12 { --pr: 1.500rem; --pl: 1.500rem }
.px-13 { --pr: 1.625rem; --pl: 1.625rem }
.px-14 { --pr: 1.750rem; --pl: 1.750rem }
.px-15 { --pr: 1.875rem; --pl: 1.875rem }
.px-16 { --pr: 2.000rem; --pl: 2.000rem }
.px-17 { --pr: 2.125rem; --pl: 2.125rem }
.px-18 { --pr: 2.250rem; --pl: 2.250rem }
.px-19 { --pr: 2.375rem; --pl: 2.375rem }
.px-20 { --pr: 2.500rem; --pl: 2.500rem }
.px-21 { --pr: 2.625rem; --pl: 2.625rem }
.px-22 { --pr: 2.750rem; --pl: 2.750rem }
.px-23 { --pr: 2.875rem; --pl: 2.875rem }
.px-24 { --pr: 3.000rem; --pl: 3.000rem }
.px-25 { --pr: 3.125rem; --pl: 3.125rem }
.px-26 { --pr: 3.250rem; --pl: 3.250rem }
.px-27 { --pr: 3.375rem; --pl: 3.375rem }
.px-28 { --pr: 3.500rem; --pl: 3.500rem }
.px-29 { --pr: 3.625rem; --pl: 3.625rem }
.px-30 { --pr: 3.750rem; --pl: 3.750rem }
.px-31 { --pr: 3.875rem; --pl: 3.875rem }
.px-32 { --pr: 4.000rem; --pl: 4.000rem }
.px-33 { --pr: 4.125rem; --pl: 4.125rem }
.px-34 { --pr: 4.250rem; --pl: 4.250rem }
.px-35 { --pr: 4.375rem; --pl: 4.375rem }
.px-36 { --pr: 4.500rem; --pl: 4.500rem }
.px-37 { --pr: 4.625rem; --pl: 4.625rem }
.px-38 { --pr: 4.750rem; --pl: 4.750rem }
.px-39 { --pr: 4.875rem; --pl: 4.875rem }
.px-40 { --pr: 5.000rem; --pl: 5.000rem }
.px-41 { --pr: 5.125rem; --pl: 5.125rem }
.px-42 { --pr: 5.250rem; --pl: 5.250rem }
.px-43 { --pr: 5.375rem; --pl: 5.375rem }
.px-44 { --pr: 5.500rem; --pl: 5.500rem }
.px-45 { --pr: 5.625rem; --pl: 5.625rem }
.px-46 { --pr: 5.750rem; --pl: 5.750rem }
.px-47 { --pr: 5.875rem; --pl: 5.875rem }
.px-48 { --pr: 6.000rem; --pl: 6.000rem }
.px-49 { --pr: 6.125rem; --pl: 6.125rem }
.px-50 { --pr: 6.250rem; --pl: 6.250rem }
.px-51 { --pr: 6.375rem; --pl: 6.375rem }
.px-52 { --pr: 6.500rem; --pl: 6.500rem }
.px-53 { --pr: 6.625rem; --pl: 6.625rem }
.px-54 { --pr: 6.750rem; --pl: 6.750rem }
.px-55 { --pr: 6.875rem; --pl: 6.875rem }
.px-56 { --pr: 7.000rem; --pl: 7.000rem }
.px-57 { --pr: 7.125rem; --pl: 7.125rem }
.px-58 { --pr: 7.250rem; --pl: 7.250rem }
.px-59 { --pr: 7.375rem; --pl: 7.375rem }
.px-60 { --pr: 7.500rem; --pl: 7.500rem }
.px-61 { --pr: 7.625rem; --pl: 7.625rem }
.px-62 { --pr: 7.750rem; --pl: 7.750rem }
.px-63 { --pr: 7.875rem; --pl: 7.875rem }
.px-64 { --pr: 8.000rem; --pl: 8.000rem }
.px-65 { --pr: 8.125rem; --pl: 8.125rem }
.px-66 { --pr: 8.250rem; --pl: 8.250rem }
.px-67 { --pr: 8.375rem; --pl: 8.375rem }
.px-68 { --pr: 8.500rem; --pl: 8.500rem }
.px-69 { --pr: 8.625rem; --pl: 8.625rem }
.px-70 { --pr: 8.750rem; --pl: 8.750rem }
.px-71 { --pr: 8.875rem; --pl: 8.875rem }
.px-72 { --pr: 9.000rem; --pl: 9.000rem }
.px-73 { --pr: 9.125rem; --pl: 9.125rem }
.px-74 { --pr: 9.250rem; --pl: 9.250rem }
.px-75 { --pr: 9.375rem; --pl: 9.375rem }
.px-76 { --pr: 9.500rem; --pl: 9.500rem }
.px-77 { --pr: 9.625rem; --pl: 9.625rem }
.px-78 { --pr: 9.750rem; --pl: 9.750rem }
.px-79 { --pr: 9.875rem; --pl: 9.875rem }
.px-80 { --pr: 10.000rem; --pl: 10.000rem }
.px-81 { --pr: 10.125rem; --pl: 10.125rem }
.px-82 { --pr: 10.250rem; --pl: 10.250rem }
.px-83 { --pr: 10.375rem; --pl: 10.375rem }
.px-84 { --pr: 10.500rem; --pl: 10.500rem }
.px-85 { --pr: 10.625rem; --pl: 10.625rem }
.px-86 { --pr: 10.750rem; --pl: 10.750rem }
.px-87 { --pr: 10.875rem; --pl: 10.875rem }
.px-88 { --pr: 11.000rem; --pl: 11.000rem }
.px-89 { --pr: 11.125rem; --pl: 11.125rem }
.px-90 { --pr: 11.250rem; --pl: 11.250rem }
.px-91 { --pr: 11.375rem; --pl: 11.375rem }
.px-92 { --pr: 11.500rem; --pl: 11.500rem }
.px-93 { --pr: 11.625rem; --pl: 11.625rem }
.px-94 { --pr: 11.750rem; --pl: 11.750rem }
.px-95 { --pr: 11.875rem; --pl: 11.875rem }
.px-96 { --pr: 12.000rem; --pl: 12.000rem }
.px-97 { --pr: 12.125rem; --pl: 12.125rem }
.px-98 { --pr: 12.250rem; --pl: 12.250rem }
.px-99 { --pr: 12.375rem; --pl: 12.375rem }
.px-100 { --pr: 12.500rem; --pl: 12.500rem }
.px-101 { --pr: 12.625rem; --pl: 12.625rem }
.px-102 { --pr: 12.750rem; --pl: 12.750rem }
.px-103 { --pr: 12.875rem; --pl: 12.875rem }
.px-104 { --pr: 13.000rem; --pl: 13.000rem }
.px-105 { --pr: 13.125rem; --pl: 13.125rem }
.px-106 { --pr: 13.250rem; --pl: 13.250rem }
.px-107 { --pr: 13.375rem; --pl: 13.375rem }
.px-108 { --pr: 13.500rem; --pl: 13.500rem }
.px-109 { --pr: 13.625rem; --pl: 13.625rem }
.px-110 { --pr: 13.750rem; --pl: 13.750rem }
.px-111 { --pr: 13.875rem; --pl: 13.875rem }
.px-112 { --pr: 14.000rem; --pl: 14.000rem }
.px-113 { --pr: 14.125rem; --pl: 14.125rem }
.px-114 { --pr: 14.250rem; --pl: 14.250rem }
.px-115 { --pr: 14.375rem; --pl: 14.375rem }
.px-116 { --pr: 14.500rem; --pl: 14.500rem }
.px-117 { --pr: 14.625rem; --pl: 14.625rem }
.px-118 { --pr: 14.750rem; --pl: 14.750rem }
.px-119 { --pr: 14.875rem; --pl: 14.875rem }
.px-120 { --pr: 15.000rem; --pl: 15.000rem }
.px-121 { --pr: 15.125rem; --pl: 15.125rem }
.px-122 { --pr: 15.250rem; --pl: 15.250rem }
.px-123 { --pr: 15.375rem; --pl: 15.375rem }
.px-124 { --pr: 15.500rem; --pl: 15.500rem }
.px-125 { --pr: 15.625rem; --pl: 15.625rem }
.px-126 { --pr: 15.750rem; --pl: 15.750rem }
.px-127 { --pr: 15.875rem; --pl: 15.875rem }
.px-128 { --pr: 16.000rem; --pl: 16.000rem }
.px-129 { --pr: 16.125rem; --pl: 16.125rem }
.px-130 { --pr: 16.250rem; --pl: 16.250rem }
.px-131 { --pr: 16.375rem; --pl: 16.375rem }
.px-132 { --pr: 16.500rem; --pl: 16.500rem }
.px-133 { --pr: 16.625rem; --pl: 16.625rem }
.px-134 { --pr: 16.750rem; --pl: 16.750rem }
.px-135 { --pr: 16.875rem; --pl: 16.875rem }
.px-136 { --pr: 17.000rem; --pl: 17.000rem }
.px-137 { --pr: 17.125rem; --pl: 17.125rem }
.px-138 { --pr: 17.250rem; --pl: 17.250rem }
.px-139 { --pr: 17.375rem; --pl: 17.375rem }
.px-140 { --pr: 17.500rem; --pl: 17.500rem }
.px-141 { --pr: 17.625rem; --pl: 17.625rem }
.px-142 { --pr: 17.750rem; --pl: 17.750rem }
.px-143 { --pr: 17.875rem; --pl: 17.875rem }
.px-144 { --pr: 18.000rem; --pl: 18.000rem }
.px-145 { --pr: 18.125rem; --pl: 18.125rem }
.px-146 { --pr: 18.250rem; --pl: 18.250rem }
.px-147 { --pr: 18.375rem; --pl: 18.375rem }
.px-148 { --pr: 18.500rem; --pl: 18.500rem }
.px-149 { --pr: 18.625rem; --pl: 18.625rem }
.px-150 { --pr: 18.750rem; --pl: 18.750rem }
.px-151 { --pr: 18.875rem; --pl: 18.875rem }
.px-152 { --pr: 19.000rem; --pl: 19.000rem }
.px-153 { --pr: 19.125rem; --pl: 19.125rem }
.px-154 { --pr: 19.250rem; --pl: 19.250rem }
.px-155 { --pr: 19.375rem; --pl: 19.375rem }
.px-156 { --pr: 19.500rem; --pl: 19.500rem }
.px-157 { --pr: 19.625rem; --pl: 19.625rem }
.px-158 { --pr: 19.750rem; --pl: 19.750rem }
.px-159 { --pr: 19.875rem; --pl: 19.875rem }
.px-160 { --pr: 20.000rem; --pl: 20.000rem }
.px-161 { --pr: 20.125rem; --pl: 20.125rem }
.px-162 { --pr: 20.250rem; --pl: 20.250rem }
.px-163 { --pr: 20.375rem; --pl: 20.375rem }
.px-164 { --pr: 20.500rem; --pl: 20.500rem }
.px-165 { --pr: 20.625rem; --pl: 20.625rem }
.px-166 { --pr: 20.750rem; --pl: 20.750rem }
.px-167 { --pr: 20.875rem; --pl: 20.875rem }
.px-168 { --pr: 21.000rem; --pl: 21.000rem }
.px-169 { --pr: 21.125rem; --pl: 21.125rem }
.px-170 { --pr: 21.250rem; --pl: 21.250rem }
.px-171 { --pr: 21.375rem; --pl: 21.375rem }
.px-172 { --pr: 21.500rem; --pl: 21.500rem }
.px-173 { --pr: 21.625rem; --pl: 21.625rem }
.px-174 { --pr: 21.750rem; --pl: 21.750rem }
.px-175 { --pr: 21.875rem; --pl: 21.875rem }
.px-176 { --pr: 22.000rem; --pl: 22.000rem }
.px-177 { --pr: 22.125rem; --pl: 22.125rem }
.px-178 { --pr: 22.250rem; --pl: 22.250rem }
.px-179 { --pr: 22.375rem; --pl: 22.375rem }
.px-180 { --pr: 22.500rem; --pl: 22.500rem }
.px-181 { --pr: 22.625rem; --pl: 22.625rem }
.px-182 { --pr: 22.750rem; --pl: 22.750rem }
.px-183 { --pr: 22.875rem; --pl: 22.875rem }
.px-184 { --pr: 23.000rem; --pl: 23.000rem }
.px-185 { --pr: 23.125rem; --pl: 23.125rem }
.px-186 { --pr: 23.250rem; --pl: 23.250rem }
.px-187 { --pr: 23.375rem; --pl: 23.375rem }
.px-188 { --pr: 23.500rem; --pl: 23.500rem }
.px-189 { --pr: 23.625rem; --pl: 23.625rem }
.px-190 { --pr: 23.750rem; --pl: 23.750rem }
.px-191 { --pr: 23.875rem; --pl: 23.875rem }
.px-192 { --pr: 24.000rem; --pl: 24.000rem }
.px-193 { --pr: 24.125rem; --pl: 24.125rem }
.px-194 { --pr: 24.250rem; --pl: 24.250rem }
.px-195 { --pr: 24.375rem; --pl: 24.375rem }
.px-196 { --pr: 24.500rem; --pl: 24.500rem }
.px-197 { --pr: 24.625rem; --pl: 24.625rem }
.px-198 { --pr: 24.750rem; --pl: 24.750rem }
.px-199 { --pr: 24.875rem; --pl: 24.875rem }
.px-200 { --pr: 25.000rem; --pl: 25.000rem }
.px-201 { --pr: 25.125rem; --pl: 25.125rem }
.px-202 { --pr: 25.250rem; --pl: 25.250rem }
.px-203 { --pr: 25.375rem; --pl: 25.375rem }
.px-204 { --pr: 25.500rem; --pl: 25.500rem }
.px-205 { --pr: 25.625rem; --pl: 25.625rem }
.px-206 { --pr: 25.750rem; --pl: 25.750rem }
.px-207 { --pr: 25.875rem; --pl: 25.875rem }
.px-208 { --pr: 26.000rem; --pl: 26.000rem }
.px-209 { --pr: 26.125rem; --pl: 26.125rem }
.px-210 { --pr: 26.250rem; --pl: 26.250rem }
.px-211 { --pr: 26.375rem; --pl: 26.375rem }
.px-212 { --pr: 26.500rem; --pl: 26.500rem }
.px-213 { --pr: 26.625rem; --pl: 26.625rem }
.px-214 { --pr: 26.750rem; --pl: 26.750rem }
.px-215 { --pr: 26.875rem; --pl: 26.875rem }
.px-216 { --pr: 27.000rem; --pl: 27.000rem }
.px-217 { --pr: 27.125rem; --pl: 27.125rem }
.px-218 { --pr: 27.250rem; --pl: 27.250rem }
.px-219 { --pr: 27.375rem; --pl: 27.375rem }
.px-220 { --pr: 27.500rem; --pl: 27.500rem }
.px-221 { --pr: 27.625rem; --pl: 27.625rem }
.px-222 { --pr: 27.750rem; --pl: 27.750rem }
.px-223 { --pr: 27.875rem; --pl: 27.875rem }
.px-224 { --pr: 28.000rem; --pl: 28.000rem }
.px-225 { --pr: 28.125rem; --pl: 28.125rem }
.px-226 { --pr: 28.250rem; --pl: 28.250rem }
.px-227 { --pr: 28.375rem; --pl: 28.375rem }
.px-228 { --pr: 28.500rem; --pl: 28.500rem }
.px-229 { --pr: 28.625rem; --pl: 28.625rem }
.px-230 { --pr: 28.750rem; --pl: 28.750rem }
.px-231 { --pr: 28.875rem; --pl: 28.875rem }
.px-232 { --pr: 29.000rem; --pl: 29.000rem }
.px-233 { --pr: 29.125rem; --pl: 29.125rem }
.px-234 { --pr: 29.250rem; --pl: 29.250rem }
.px-235 { --pr: 29.375rem; --pl: 29.375rem }
.px-236 { --pr: 29.500rem; --pl: 29.500rem }
.px-237 { --pr: 29.625rem; --pl: 29.625rem }
.px-238 { --pr: 29.750rem; --pl: 29.750rem }
.px-239 { --pr: 29.875rem; --pl: 29.875rem }
.px-240 { --pr: 30.000rem; --pl: 30.000rem }
.px-241 { --pr: 30.125rem; --pl: 30.125rem }
.px-242 { --pr: 30.250rem; --pl: 30.250rem }
.px-243 { --pr: 30.375rem; --pl: 30.375rem }
.px-244 { --pr: 30.500rem; --pl: 30.500rem }
.px-245 { --pr: 30.625rem; --pl: 30.625rem }
.px-246 { --pr: 30.750rem; --pl: 30.750rem }
.px-247 { --pr: 30.875rem; --pl: 30.875rem }
.px-248 { --pr: 31.000rem; --pl: 31.000rem }
.px-249 { --pr: 31.125rem; --pl: 31.125rem }
.px-250 { --pr: 31.250rem; --pl: 31.250rem }
.px-251 { --pr: 31.375rem; --pl: 31.375rem }
.px-252 { --pr: 31.500rem; --pl: 31.500rem }
.px-253 { --pr: 31.625rem; --pl: 31.625rem }
.px-254 { --pr: 31.750rem; --pl: 31.750rem }
.px-255 { --pr: 31.875rem; --pl: 31.875rem }
.px-256 { --pr: 32.000rem; --pl: 32.000rem }
.px-1\/2 { --pr: 50.000%; --pl: 50.000% }
.px-1\/3 { --pr: 33.333%; --pl: 33.333% }
.px-2\/3 { --pr: 66.667%; --pl: 66.667% }
.px-1\/4 { --pr: 25.000%; --pl: 25.000% }
.px-3\/4 { --pr: 75.000%; --pl: 75.000% }
.px-1\/5 { --pr: 20.000%; --pl: 20.000% }
.px-2\/5 { --pr: 40.000%; --pl: 40.000% }
.px-3\/5 { --pr: 60.000%; --pl: 60.000% }
.px-4\/5 { --pr: 80.000%; --pl: 80.000% }
.px-1\/6 { --pr: 16.667%; --pl: 16.667% }
.px-5\/6 { --pr: 83.333%; --pl: 83.333% }
.px-1\/8 { --pr: 12.500%; --pl: 12.500% }
.px-3\/8 { --pr: 37.500%; --pl: 37.500% }
.px-5\/8 { --pr: 62.500%; --pl: 62.500% }
.px-7\/8 { --pr: 87.500%; --pl: 87.500% }
.px-1\/9 { --pr: 11.111%; --pl: 11.111% }
.px-2\/9 { --pr: 22.222%; --pl: 22.222% }
.px-4\/9 { --pr: 44.444%; --pl: 44.444% }
.px-5\/9 { --pr: 55.556%; --pl: 55.556% }
.px-7\/9 { --pr: 77.778%; --pl: 77.778% }
.px-8\/9 { --pr: 88.889%; --pl: 88.889% }
.px-1\/10 { --pr: 10.000%; --pl: 10.000% }
.px-3\/10 { --pr: 30.000%; --pl: 30.000% }
.px-7\/10 { --pr: 70.000%; --pl: 70.000% }
.px-9\/10 { --pr: 90.000%; --pl: 90.000% }
.px-1\/12 { --pr: 8.333%; --pl: 8.333% }
.px-5\/12 { --pr: 41.667%; --pl: 41.667% }
.px-7\/12 { --pr: 58.333%; --pl: 58.333% }
.px-11\/12 { --pr: 91.667%; --pl: 91.667% }
.px-1\/16 { --pr: 6.250%; --pl: 6.250% }
.px-3\/16 { --pr: 18.750%; --pl: 18.750% }
.px-5\/16 { --pr: 31.250%; --pl: 31.250% }
.px-7\/16 { --pr: 43.750%; --pl: 43.750% }
.px-9\/16 { --pr: 56.250%; --pl: 56.250% }
.px-11\/16 { --pr: 68.750%; --pl: 68.750% }
.px-13\/16 { --pr: 81.250%; --pl: 81.250% }
.px-15\/16 { --pr: 93.750%; --pl: 93.750% }