.py-0 { --pt: 0.000rem; --pb: 0.000rem }
.py-1 { --pt: 0.125rem; --pb: 0.125rem }
.py-2 { --pt: 0.250rem; --pb: 0.250rem }
.py-3 { --pt: 0.375rem; --pb: 0.375rem }
.py-4 { --pt: 0.500rem; --pb: 0.500rem }
.py-5 { --pt: 0.625rem; --pb: 0.625rem }
.py-6 { --pt: 0.750rem; --pb: 0.750rem }
.py-7 { --pt: 0.875rem; --pb: 0.875rem }
.py-8 { --pt: 1.000rem; --pb: 1.000rem }
.py-9 { --pt: 1.125rem; --pb: 1.125rem }
.py-10 { --pt: 1.250rem; --pb: 1.250rem }
.py-11 { --pt: 1.375rem; --pb: 1.375rem }
.py-12 { --pt: 1.500rem; --pb: 1.500rem }
.py-13 { --pt: 1.625rem; --pb: 1.625rem }
.py-14 { --pt: 1.750rem; --pb: 1.750rem }
.py-15 { --pt: 1.875rem; --pb: 1.875rem }
.py-16 { --pt: 2.000rem; --pb: 2.000rem }
.py-17 { --pt: 2.125rem; --pb: 2.125rem }
.py-18 { --pt: 2.250rem; --pb: 2.250rem }
.py-19 { --pt: 2.375rem; --pb: 2.375rem }
.py-20 { --pt: 2.500rem; --pb: 2.500rem }
.py-21 { --pt: 2.625rem; --pb: 2.625rem }
.py-22 { --pt: 2.750rem; --pb: 2.750rem }
.py-23 { --pt: 2.875rem; --pb: 2.875rem }
.py-24 { --pt: 3.000rem; --pb: 3.000rem }
.py-25 { --pt: 3.125rem; --pb: 3.125rem }
.py-26 { --pt: 3.250rem; --pb: 3.250rem }
.py-27 { --pt: 3.375rem; --pb: 3.375rem }
.py-28 { --pt: 3.500rem; --pb: 3.500rem }
.py-29 { --pt: 3.625rem; --pb: 3.625rem }
.py-30 { --pt: 3.750rem; --pb: 3.750rem }
.py-31 { --pt: 3.875rem; --pb: 3.875rem }
.py-32 { --pt: 4.000rem; --pb: 4.000rem }
.py-33 { --pt: 4.125rem; --pb: 4.125rem }
.py-34 { --pt: 4.250rem; --pb: 4.250rem }
.py-35 { --pt: 4.375rem; --pb: 4.375rem }
.py-36 { --pt: 4.500rem; --pb: 4.500rem }
.py-37 { --pt: 4.625rem; --pb: 4.625rem }
.py-38 { --pt: 4.750rem; --pb: 4.750rem }
.py-39 { --pt: 4.875rem; --pb: 4.875rem }
.py-40 { --pt: 5.000rem; --pb: 5.000rem }
.py-41 { --pt: 5.125rem; --pb: 5.125rem }
.py-42 { --pt: 5.250rem; --pb: 5.250rem }
.py-43 { --pt: 5.375rem; --pb: 5.375rem }
.py-44 { --pt: 5.500rem; --pb: 5.500rem }
.py-45 { --pt: 5.625rem; --pb: 5.625rem }
.py-46 { --pt: 5.750rem; --pb: 5.750rem }
.py-47 { --pt: 5.875rem; --pb: 5.875rem }
.py-48 { --pt: 6.000rem; --pb: 6.000rem }
.py-49 { --pt: 6.125rem; --pb: 6.125rem }
.py-50 { --pt: 6.250rem; --pb: 6.250rem }
.py-51 { --pt: 6.375rem; --pb: 6.375rem }
.py-52 { --pt: 6.500rem; --pb: 6.500rem }
.py-53 { --pt: 6.625rem; --pb: 6.625rem }
.py-54 { --pt: 6.750rem; --pb: 6.750rem }
.py-55 { --pt: 6.875rem; --pb: 6.875rem }
.py-56 { --pt: 7.000rem; --pb: 7.000rem }
.py-57 { --pt: 7.125rem; --pb: 7.125rem }
.py-58 { --pt: 7.250rem; --pb: 7.250rem }
.py-59 { --pt: 7.375rem; --pb: 7.375rem }
.py-60 { --pt: 7.500rem; --pb: 7.500rem }
.py-61 { --pt: 7.625rem; --pb: 7.625rem }
.py-62 { --pt: 7.750rem; --pb: 7.750rem }
.py-63 { --pt: 7.875rem; --pb: 7.875rem }
.py-64 { --pt: 8.000rem; --pb: 8.000rem }
.py-65 { --pt: 8.125rem; --pb: 8.125rem }
.py-66 { --pt: 8.250rem; --pb: 8.250rem }
.py-67 { --pt: 8.375rem; --pb: 8.375rem }
.py-68 { --pt: 8.500rem; --pb: 8.500rem }
.py-69 { --pt: 8.625rem; --pb: 8.625rem }
.py-70 { --pt: 8.750rem; --pb: 8.750rem }
.py-71 { --pt: 8.875rem; --pb: 8.875rem }
.py-72 { --pt: 9.000rem; --pb: 9.000rem }
.py-73 { --pt: 9.125rem; --pb: 9.125rem }
.py-74 { --pt: 9.250rem; --pb: 9.250rem }
.py-75 { --pt: 9.375rem; --pb: 9.375rem }
.py-76 { --pt: 9.500rem; --pb: 9.500rem }
.py-77 { --pt: 9.625rem; --pb: 9.625rem }
.py-78 { --pt: 9.750rem; --pb: 9.750rem }
.py-79 { --pt: 9.875rem; --pb: 9.875rem }
.py-80 { --pt: 10.000rem; --pb: 10.000rem }
.py-81 { --pt: 10.125rem; --pb: 10.125rem }
.py-82 { --pt: 10.250rem; --pb: 10.250rem }
.py-83 { --pt: 10.375rem; --pb: 10.375rem }
.py-84 { --pt: 10.500rem; --pb: 10.500rem }
.py-85 { --pt: 10.625rem; --pb: 10.625rem }
.py-86 { --pt: 10.750rem; --pb: 10.750rem }
.py-87 { --pt: 10.875rem; --pb: 10.875rem }
.py-88 { --pt: 11.000rem; --pb: 11.000rem }
.py-89 { --pt: 11.125rem; --pb: 11.125rem }
.py-90 { --pt: 11.250rem; --pb: 11.250rem }
.py-91 { --pt: 11.375rem; --pb: 11.375rem }
.py-92 { --pt: 11.500rem; --pb: 11.500rem }
.py-93 { --pt: 11.625rem; --pb: 11.625rem }
.py-94 { --pt: 11.750rem; --pb: 11.750rem }
.py-95 { --pt: 11.875rem; --pb: 11.875rem }
.py-96 { --pt: 12.000rem; --pb: 12.000rem }
.py-97 { --pt: 12.125rem; --pb: 12.125rem }
.py-98 { --pt: 12.250rem; --pb: 12.250rem }
.py-99 { --pt: 12.375rem; --pb: 12.375rem }
.py-100 { --pt: 12.500rem; --pb: 12.500rem }
.py-101 { --pt: 12.625rem; --pb: 12.625rem }
.py-102 { --pt: 12.750rem; --pb: 12.750rem }
.py-103 { --pt: 12.875rem; --pb: 12.875rem }
.py-104 { --pt: 13.000rem; --pb: 13.000rem }
.py-105 { --pt: 13.125rem; --pb: 13.125rem }
.py-106 { --pt: 13.250rem; --pb: 13.250rem }
.py-107 { --pt: 13.375rem; --pb: 13.375rem }
.py-108 { --pt: 13.500rem; --pb: 13.500rem }
.py-109 { --pt: 13.625rem; --pb: 13.625rem }
.py-110 { --pt: 13.750rem; --pb: 13.750rem }
.py-111 { --pt: 13.875rem; --pb: 13.875rem }
.py-112 { --pt: 14.000rem; --pb: 14.000rem }
.py-113 { --pt: 14.125rem; --pb: 14.125rem }
.py-114 { --pt: 14.250rem; --pb: 14.250rem }
.py-115 { --pt: 14.375rem; --pb: 14.375rem }
.py-116 { --pt: 14.500rem; --pb: 14.500rem }
.py-117 { --pt: 14.625rem; --pb: 14.625rem }
.py-118 { --pt: 14.750rem; --pb: 14.750rem }
.py-119 { --pt: 14.875rem; --pb: 14.875rem }
.py-120 { --pt: 15.000rem; --pb: 15.000rem }
.py-121 { --pt: 15.125rem; --pb: 15.125rem }
.py-122 { --pt: 15.250rem; --pb: 15.250rem }
.py-123 { --pt: 15.375rem; --pb: 15.375rem }
.py-124 { --pt: 15.500rem; --pb: 15.500rem }
.py-125 { --pt: 15.625rem; --pb: 15.625rem }
.py-126 { --pt: 15.750rem; --pb: 15.750rem }
.py-127 { --pt: 15.875rem; --pb: 15.875rem }
.py-128 { --pt: 16.000rem; --pb: 16.000rem }
.py-129 { --pt: 16.125rem; --pb: 16.125rem }
.py-130 { --pt: 16.250rem; --pb: 16.250rem }
.py-131 { --pt: 16.375rem; --pb: 16.375rem }
.py-132 { --pt: 16.500rem; --pb: 16.500rem }
.py-133 { --pt: 16.625rem; --pb: 16.625rem }
.py-134 { --pt: 16.750rem; --pb: 16.750rem }
.py-135 { --pt: 16.875rem; --pb: 16.875rem }
.py-136 { --pt: 17.000rem; --pb: 17.000rem }
.py-137 { --pt: 17.125rem; --pb: 17.125rem }
.py-138 { --pt: 17.250rem; --pb: 17.250rem }
.py-139 { --pt: 17.375rem; --pb: 17.375rem }
.py-140 { --pt: 17.500rem; --pb: 17.500rem }
.py-141 { --pt: 17.625rem; --pb: 17.625rem }
.py-142 { --pt: 17.750rem; --pb: 17.750rem }
.py-143 { --pt: 17.875rem; --pb: 17.875rem }
.py-144 { --pt: 18.000rem; --pb: 18.000rem }
.py-145 { --pt: 18.125rem; --pb: 18.125rem }
.py-146 { --pt: 18.250rem; --pb: 18.250rem }
.py-147 { --pt: 18.375rem; --pb: 18.375rem }
.py-148 { --pt: 18.500rem; --pb: 18.500rem }
.py-149 { --pt: 18.625rem; --pb: 18.625rem }
.py-150 { --pt: 18.750rem; --pb: 18.750rem }
.py-151 { --pt: 18.875rem; --pb: 18.875rem }
.py-152 { --pt: 19.000rem; --pb: 19.000rem }
.py-153 { --pt: 19.125rem; --pb: 19.125rem }
.py-154 { --pt: 19.250rem; --pb: 19.250rem }
.py-155 { --pt: 19.375rem; --pb: 19.375rem }
.py-156 { --pt: 19.500rem; --pb: 19.500rem }
.py-157 { --pt: 19.625rem; --pb: 19.625rem }
.py-158 { --pt: 19.750rem; --pb: 19.750rem }
.py-159 { --pt: 19.875rem; --pb: 19.875rem }
.py-160 { --pt: 20.000rem; --pb: 20.000rem }
.py-161 { --pt: 20.125rem; --pb: 20.125rem }
.py-162 { --pt: 20.250rem; --pb: 20.250rem }
.py-163 { --pt: 20.375rem; --pb: 20.375rem }
.py-164 { --pt: 20.500rem; --pb: 20.500rem }
.py-165 { --pt: 20.625rem; --pb: 20.625rem }
.py-166 { --pt: 20.750rem; --pb: 20.750rem }
.py-167 { --pt: 20.875rem; --pb: 20.875rem }
.py-168 { --pt: 21.000rem; --pb: 21.000rem }
.py-169 { --pt: 21.125rem; --pb: 21.125rem }
.py-170 { --pt: 21.250rem; --pb: 21.250rem }
.py-171 { --pt: 21.375rem; --pb: 21.375rem }
.py-172 { --pt: 21.500rem; --pb: 21.500rem }
.py-173 { --pt: 21.625rem; --pb: 21.625rem }
.py-174 { --pt: 21.750rem; --pb: 21.750rem }
.py-175 { --pt: 21.875rem; --pb: 21.875rem }
.py-176 { --pt: 22.000rem; --pb: 22.000rem }
.py-177 { --pt: 22.125rem; --pb: 22.125rem }
.py-178 { --pt: 22.250rem; --pb: 22.250rem }
.py-179 { --pt: 22.375rem; --pb: 22.375rem }
.py-180 { --pt: 22.500rem; --pb: 22.500rem }
.py-181 { --pt: 22.625rem; --pb: 22.625rem }
.py-182 { --pt: 22.750rem; --pb: 22.750rem }
.py-183 { --pt: 22.875rem; --pb: 22.875rem }
.py-184 { --pt: 23.000rem; --pb: 23.000rem }
.py-185 { --pt: 23.125rem; --pb: 23.125rem }
.py-186 { --pt: 23.250rem; --pb: 23.250rem }
.py-187 { --pt: 23.375rem; --pb: 23.375rem }
.py-188 { --pt: 23.500rem; --pb: 23.500rem }
.py-189 { --pt: 23.625rem; --pb: 23.625rem }
.py-190 { --pt: 23.750rem; --pb: 23.750rem }
.py-191 { --pt: 23.875rem; --pb: 23.875rem }
.py-192 { --pt: 24.000rem; --pb: 24.000rem }
.py-193 { --pt: 24.125rem; --pb: 24.125rem }
.py-194 { --pt: 24.250rem; --pb: 24.250rem }
.py-195 { --pt: 24.375rem; --pb: 24.375rem }
.py-196 { --pt: 24.500rem; --pb: 24.500rem }
.py-197 { --pt: 24.625rem; --pb: 24.625rem }
.py-198 { --pt: 24.750rem; --pb: 24.750rem }
.py-199 { --pt: 24.875rem; --pb: 24.875rem }
.py-200 { --pt: 25.000rem; --pb: 25.000rem }
.py-201 { --pt: 25.125rem; --pb: 25.125rem }
.py-202 { --pt: 25.250rem; --pb: 25.250rem }
.py-203 { --pt: 25.375rem; --pb: 25.375rem }
.py-204 { --pt: 25.500rem; --pb: 25.500rem }
.py-205 { --pt: 25.625rem; --pb: 25.625rem }
.py-206 { --pt: 25.750rem; --pb: 25.750rem }
.py-207 { --pt: 25.875rem; --pb: 25.875rem }
.py-208 { --pt: 26.000rem; --pb: 26.000rem }
.py-209 { --pt: 26.125rem; --pb: 26.125rem }
.py-210 { --pt: 26.250rem; --pb: 26.250rem }
.py-211 { --pt: 26.375rem; --pb: 26.375rem }
.py-212 { --pt: 26.500rem; --pb: 26.500rem }
.py-213 { --pt: 26.625rem; --pb: 26.625rem }
.py-214 { --pt: 26.750rem; --pb: 26.750rem }
.py-215 { --pt: 26.875rem; --pb: 26.875rem }
.py-216 { --pt: 27.000rem; --pb: 27.000rem }
.py-217 { --pt: 27.125rem; --pb: 27.125rem }
.py-218 { --pt: 27.250rem; --pb: 27.250rem }
.py-219 { --pt: 27.375rem; --pb: 27.375rem }
.py-220 { --pt: 27.500rem; --pb: 27.500rem }
.py-221 { --pt: 27.625rem; --pb: 27.625rem }
.py-222 { --pt: 27.750rem; --pb: 27.750rem }
.py-223 { --pt: 27.875rem; --pb: 27.875rem }
.py-224 { --pt: 28.000rem; --pb: 28.000rem }
.py-225 { --pt: 28.125rem; --pb: 28.125rem }
.py-226 { --pt: 28.250rem; --pb: 28.250rem }
.py-227 { --pt: 28.375rem; --pb: 28.375rem }
.py-228 { --pt: 28.500rem; --pb: 28.500rem }
.py-229 { --pt: 28.625rem; --pb: 28.625rem }
.py-230 { --pt: 28.750rem; --pb: 28.750rem }
.py-231 { --pt: 28.875rem; --pb: 28.875rem }
.py-232 { --pt: 29.000rem; --pb: 29.000rem }
.py-233 { --pt: 29.125rem; --pb: 29.125rem }
.py-234 { --pt: 29.250rem; --pb: 29.250rem }
.py-235 { --pt: 29.375rem; --pb: 29.375rem }
.py-236 { --pt: 29.500rem; --pb: 29.500rem }
.py-237 { --pt: 29.625rem; --pb: 29.625rem }
.py-238 { --pt: 29.750rem; --pb: 29.750rem }
.py-239 { --pt: 29.875rem; --pb: 29.875rem }
.py-240 { --pt: 30.000rem; --pb: 30.000rem }
.py-241 { --pt: 30.125rem; --pb: 30.125rem }
.py-242 { --pt: 30.250rem; --pb: 30.250rem }
.py-243 { --pt: 30.375rem; --pb: 30.375rem }
.py-244 { --pt: 30.500rem; --pb: 30.500rem }
.py-245 { --pt: 30.625rem; --pb: 30.625rem }
.py-246 { --pt: 30.750rem; --pb: 30.750rem }
.py-247 { --pt: 30.875rem; --pb: 30.875rem }
.py-248 { --pt: 31.000rem; --pb: 31.000rem }
.py-249 { --pt: 31.125rem; --pb: 31.125rem }
.py-250 { --pt: 31.250rem; --pb: 31.250rem }
.py-251 { --pt: 31.375rem; --pb: 31.375rem }
.py-252 { --pt: 31.500rem; --pb: 31.500rem }
.py-253 { --pt: 31.625rem; --pb: 31.625rem }
.py-254 { --pt: 31.750rem; --pb: 31.750rem }
.py-255 { --pt: 31.875rem; --pb: 31.875rem }
.py-256 { --pt: 32.000rem; --pb: 32.000rem }
.py-1\/2 { --pt: 50.000%; --pb: 50.000% }
.py-1\/3 { --pt: 33.333%; --pb: 33.333% }
.py-2\/3 { --pt: 66.667%; --pb: 66.667% }
.py-1\/4 { --pt: 25.000%; --pb: 25.000% }
.py-3\/4 { --pt: 75.000%; --pb: 75.000% }
.py-1\/5 { --pt: 20.000%; --pb: 20.000% }
.py-2\/5 { --pt: 40.000%; --pb: 40.000% }
.py-3\/5 { --pt: 60.000%; --pb: 60.000% }
.py-4\/5 { --pt: 80.000%; --pb: 80.000% }
.py-1\/6 { --pt: 16.667%; --pb: 16.667% }
.py-5\/6 { --pt: 83.333%; --pb: 83.333% }
.py-1\/8 { --pt: 12.500%; --pb: 12.500% }
.py-3\/8 { --pt: 37.500%; --pb: 37.500% }
.py-5\/8 { --pt: 62.500%; --pb: 62.500% }
.py-7\/8 { --pt: 87.500%; --pb: 87.500% }
.py-1\/9 { --pt: 11.111%; --pb: 11.111% }
.py-2\/9 { --pt: 22.222%; --pb: 22.222% }
.py-4\/9 { --pt: 44.444%; --pb: 44.444% }
.py-5\/9 { --pt: 55.556%; --pb: 55.556% }
.py-7\/9 { --pt: 77.778%; --pb: 77.778% }
.py-8\/9 { --pt: 88.889%; --pb: 88.889% }
.py-1\/10 { --pt: 10.000%; --pb: 10.000% }
.py-3\/10 { --pt: 30.000%; --pb: 30.000% }
.py-7\/10 { --pt: 70.000%; --pb: 70.000% }
.py-9\/10 { --pt: 90.000%; --pb: 90.000% }
.py-1\/12 { --pt: 8.333%; --pb: 8.333% }
.py-5\/12 { --pt: 41.667%; --pb: 41.667% }
.py-7\/12 { --pt: 58.333%; --pb: 58.333% }
.py-11\/12 { --pt: 91.667%; --pb: 91.667% }
.py-1\/16 { --pt: 6.250%; --pb: 6.250% }
.py-3\/16 { --pt: 18.750%; --pb: 18.750% }
.py-5\/16 { --pt: 31.250%; --pb: 31.250% }
.py-7\/16 { --pt: 43.750%; --pb: 43.750% }
.py-9\/16 { --pt: 56.250%; --pb: 56.250% }
.py-11\/16 { --pt: 68.750%; --pb: 68.750% }
.py-13\/16 { --pt: 81.250%; --pb: 81.250% }
.py-15\/16 { --pt: 93.750%; --pb: 93.750% }