.r-0 { --round-tl: 0.000rem; --round-tr: 0.000rem; --round-bl: 0.000rem; --round-br: 0.000rem }
.r-1 { --round-tl: 0.125rem; --round-tr: 0.125rem; --round-bl: 0.125rem; --round-br: 0.125rem }
.r-2 { --round-tl: 0.250rem; --round-tr: 0.250rem; --round-bl: 0.250rem; --round-br: 0.250rem }
.r-3 { --round-tl: 0.375rem; --round-tr: 0.375rem; --round-bl: 0.375rem; --round-br: 0.375rem }
.r-4 { --round-tl: 0.500rem; --round-tr: 0.500rem; --round-bl: 0.500rem; --round-br: 0.500rem }
.r-5 { --round-tl: 0.625rem; --round-tr: 0.625rem; --round-bl: 0.625rem; --round-br: 0.625rem }
.r-6 { --round-tl: 0.750rem; --round-tr: 0.750rem; --round-bl: 0.750rem; --round-br: 0.750rem }
.r-7 { --round-tl: 0.875rem; --round-tr: 0.875rem; --round-bl: 0.875rem; --round-br: 0.875rem }
.r-8 { --round-tl: 1.000rem; --round-tr: 1.000rem; --round-bl: 1.000rem; --round-br: 1.000rem }
.r-9 { --round-tl: 1.125rem; --round-tr: 1.125rem; --round-bl: 1.125rem; --round-br: 1.125rem }
.r-10 { --round-tl: 1.250rem; --round-tr: 1.250rem; --round-bl: 1.250rem; --round-br: 1.250rem }
.r-11 { --round-tl: 1.375rem; --round-tr: 1.375rem; --round-bl: 1.375rem; --round-br: 1.375rem }
.r-12 { --round-tl: 1.500rem; --round-tr: 1.500rem; --round-bl: 1.500rem; --round-br: 1.500rem }
.r-13 { --round-tl: 1.625rem; --round-tr: 1.625rem; --round-bl: 1.625rem; --round-br: 1.625rem }
.r-14 { --round-tl: 1.750rem; --round-tr: 1.750rem; --round-bl: 1.750rem; --round-br: 1.750rem }
.r-15 { --round-tl: 1.875rem; --round-tr: 1.875rem; --round-bl: 1.875rem; --round-br: 1.875rem }
.r-16 { --round-tl: 2.000rem; --round-tr: 2.000rem; --round-bl: 2.000rem; --round-br: 2.000rem }
.r-17 { --round-tl: 2.125rem; --round-tr: 2.125rem; --round-bl: 2.125rem; --round-br: 2.125rem }
.r-18 { --round-tl: 2.250rem; --round-tr: 2.250rem; --round-bl: 2.250rem; --round-br: 2.250rem }
.r-19 { --round-tl: 2.375rem; --round-tr: 2.375rem; --round-bl: 2.375rem; --round-br: 2.375rem }
.r-20 { --round-tl: 2.500rem; --round-tr: 2.500rem; --round-bl: 2.500rem; --round-br: 2.500rem }
.r-21 { --round-tl: 2.625rem; --round-tr: 2.625rem; --round-bl: 2.625rem; --round-br: 2.625rem }
.r-22 { --round-tl: 2.750rem; --round-tr: 2.750rem; --round-bl: 2.750rem; --round-br: 2.750rem }
.r-23 { --round-tl: 2.875rem; --round-tr: 2.875rem; --round-bl: 2.875rem; --round-br: 2.875rem }
.r-24 { --round-tl: 3.000rem; --round-tr: 3.000rem; --round-bl: 3.000rem; --round-br: 3.000rem }
.r-25 { --round-tl: 3.125rem; --round-tr: 3.125rem; --round-bl: 3.125rem; --round-br: 3.125rem }
.r-26 { --round-tl: 3.250rem; --round-tr: 3.250rem; --round-bl: 3.250rem; --round-br: 3.250rem }
.r-27 { --round-tl: 3.375rem; --round-tr: 3.375rem; --round-bl: 3.375rem; --round-br: 3.375rem }
.r-28 { --round-tl: 3.500rem; --round-tr: 3.500rem; --round-bl: 3.500rem; --round-br: 3.500rem }
.r-29 { --round-tl: 3.625rem; --round-tr: 3.625rem; --round-bl: 3.625rem; --round-br: 3.625rem }
.r-30 { --round-tl: 3.750rem; --round-tr: 3.750rem; --round-bl: 3.750rem; --round-br: 3.750rem }
.r-31 { --round-tl: 3.875rem; --round-tr: 3.875rem; --round-bl: 3.875rem; --round-br: 3.875rem }
.r-32 { --round-tl: 4.000rem; --round-tr: 4.000rem; --round-bl: 4.000rem; --round-br: 4.000rem }
.r-33 { --round-tl: 4.125rem; --round-tr: 4.125rem; --round-bl: 4.125rem; --round-br: 4.125rem }
.r-34 { --round-tl: 4.250rem; --round-tr: 4.250rem; --round-bl: 4.250rem; --round-br: 4.250rem }
.r-35 { --round-tl: 4.375rem; --round-tr: 4.375rem; --round-bl: 4.375rem; --round-br: 4.375rem }
.r-36 { --round-tl: 4.500rem; --round-tr: 4.500rem; --round-bl: 4.500rem; --round-br: 4.500rem }
.r-37 { --round-tl: 4.625rem; --round-tr: 4.625rem; --round-bl: 4.625rem; --round-br: 4.625rem }
.r-38 { --round-tl: 4.750rem; --round-tr: 4.750rem; --round-bl: 4.750rem; --round-br: 4.750rem }
.r-39 { --round-tl: 4.875rem; --round-tr: 4.875rem; --round-bl: 4.875rem; --round-br: 4.875rem }
.r-40 { --round-tl: 5.000rem; --round-tr: 5.000rem; --round-bl: 5.000rem; --round-br: 5.000rem }
.r-41 { --round-tl: 5.125rem; --round-tr: 5.125rem; --round-bl: 5.125rem; --round-br: 5.125rem }
.r-42 { --round-tl: 5.250rem; --round-tr: 5.250rem; --round-bl: 5.250rem; --round-br: 5.250rem }
.r-43 { --round-tl: 5.375rem; --round-tr: 5.375rem; --round-bl: 5.375rem; --round-br: 5.375rem }
.r-44 { --round-tl: 5.500rem; --round-tr: 5.500rem; --round-bl: 5.500rem; --round-br: 5.500rem }
.r-45 { --round-tl: 5.625rem; --round-tr: 5.625rem; --round-bl: 5.625rem; --round-br: 5.625rem }
.r-46 { --round-tl: 5.750rem; --round-tr: 5.750rem; --round-bl: 5.750rem; --round-br: 5.750rem }
.r-47 { --round-tl: 5.875rem; --round-tr: 5.875rem; --round-bl: 5.875rem; --round-br: 5.875rem }
.r-48 { --round-tl: 6.000rem; --round-tr: 6.000rem; --round-bl: 6.000rem; --round-br: 6.000rem }
.r-49 { --round-tl: 6.125rem; --round-tr: 6.125rem; --round-bl: 6.125rem; --round-br: 6.125rem }
.r-50 { --round-tl: 6.250rem; --round-tr: 6.250rem; --round-bl: 6.250rem; --round-br: 6.250rem }
.r-51 { --round-tl: 6.375rem; --round-tr: 6.375rem; --round-bl: 6.375rem; --round-br: 6.375rem }
.r-52 { --round-tl: 6.500rem; --round-tr: 6.500rem; --round-bl: 6.500rem; --round-br: 6.500rem }
.r-53 { --round-tl: 6.625rem; --round-tr: 6.625rem; --round-bl: 6.625rem; --round-br: 6.625rem }
.r-54 { --round-tl: 6.750rem; --round-tr: 6.750rem; --round-bl: 6.750rem; --round-br: 6.750rem }
.r-55 { --round-tl: 6.875rem; --round-tr: 6.875rem; --round-bl: 6.875rem; --round-br: 6.875rem }
.r-56 { --round-tl: 7.000rem; --round-tr: 7.000rem; --round-bl: 7.000rem; --round-br: 7.000rem }
.r-57 { --round-tl: 7.125rem; --round-tr: 7.125rem; --round-bl: 7.125rem; --round-br: 7.125rem }
.r-58 { --round-tl: 7.250rem; --round-tr: 7.250rem; --round-bl: 7.250rem; --round-br: 7.250rem }
.r-59 { --round-tl: 7.375rem; --round-tr: 7.375rem; --round-bl: 7.375rem; --round-br: 7.375rem }
.r-60 { --round-tl: 7.500rem; --round-tr: 7.500rem; --round-bl: 7.500rem; --round-br: 7.500rem }
.r-61 { --round-tl: 7.625rem; --round-tr: 7.625rem; --round-bl: 7.625rem; --round-br: 7.625rem }
.r-62 { --round-tl: 7.750rem; --round-tr: 7.750rem; --round-bl: 7.750rem; --round-br: 7.750rem }
.r-63 { --round-tl: 7.875rem; --round-tr: 7.875rem; --round-bl: 7.875rem; --round-br: 7.875rem }
.r-64 { --round-tl: 8.000rem; --round-tr: 8.000rem; --round-bl: 8.000rem; --round-br: 8.000rem }
.r-65 { --round-tl: 8.125rem; --round-tr: 8.125rem; --round-bl: 8.125rem; --round-br: 8.125rem }
.r-66 { --round-tl: 8.250rem; --round-tr: 8.250rem; --round-bl: 8.250rem; --round-br: 8.250rem }
.r-67 { --round-tl: 8.375rem; --round-tr: 8.375rem; --round-bl: 8.375rem; --round-br: 8.375rem }
.r-68 { --round-tl: 8.500rem; --round-tr: 8.500rem; --round-bl: 8.500rem; --round-br: 8.500rem }
.r-69 { --round-tl: 8.625rem; --round-tr: 8.625rem; --round-bl: 8.625rem; --round-br: 8.625rem }
.r-70 { --round-tl: 8.750rem; --round-tr: 8.750rem; --round-bl: 8.750rem; --round-br: 8.750rem }
.r-71 { --round-tl: 8.875rem; --round-tr: 8.875rem; --round-bl: 8.875rem; --round-br: 8.875rem }
.r-72 { --round-tl: 9.000rem; --round-tr: 9.000rem; --round-bl: 9.000rem; --round-br: 9.000rem }
.r-73 { --round-tl: 9.125rem; --round-tr: 9.125rem; --round-bl: 9.125rem; --round-br: 9.125rem }
.r-74 { --round-tl: 9.250rem; --round-tr: 9.250rem; --round-bl: 9.250rem; --round-br: 9.250rem }
.r-75 { --round-tl: 9.375rem; --round-tr: 9.375rem; --round-bl: 9.375rem; --round-br: 9.375rem }
.r-76 { --round-tl: 9.500rem; --round-tr: 9.500rem; --round-bl: 9.500rem; --round-br: 9.500rem }
.r-77 { --round-tl: 9.625rem; --round-tr: 9.625rem; --round-bl: 9.625rem; --round-br: 9.625rem }
.r-78 { --round-tl: 9.750rem; --round-tr: 9.750rem; --round-bl: 9.750rem; --round-br: 9.750rem }
.r-79 { --round-tl: 9.875rem; --round-tr: 9.875rem; --round-bl: 9.875rem; --round-br: 9.875rem }
.r-80 { --round-tl: 10.000rem; --round-tr: 10.000rem; --round-bl: 10.000rem; --round-br: 10.000rem }
.r-81 { --round-tl: 10.125rem; --round-tr: 10.125rem; --round-bl: 10.125rem; --round-br: 10.125rem }
.r-82 { --round-tl: 10.250rem; --round-tr: 10.250rem; --round-bl: 10.250rem; --round-br: 10.250rem }
.r-83 { --round-tl: 10.375rem; --round-tr: 10.375rem; --round-bl: 10.375rem; --round-br: 10.375rem }
.r-84 { --round-tl: 10.500rem; --round-tr: 10.500rem; --round-bl: 10.500rem; --round-br: 10.500rem }
.r-85 { --round-tl: 10.625rem; --round-tr: 10.625rem; --round-bl: 10.625rem; --round-br: 10.625rem }
.r-86 { --round-tl: 10.750rem; --round-tr: 10.750rem; --round-bl: 10.750rem; --round-br: 10.750rem }
.r-87 { --round-tl: 10.875rem; --round-tr: 10.875rem; --round-bl: 10.875rem; --round-br: 10.875rem }
.r-88 { --round-tl: 11.000rem; --round-tr: 11.000rem; --round-bl: 11.000rem; --round-br: 11.000rem }
.r-89 { --round-tl: 11.125rem; --round-tr: 11.125rem; --round-bl: 11.125rem; --round-br: 11.125rem }
.r-90 { --round-tl: 11.250rem; --round-tr: 11.250rem; --round-bl: 11.250rem; --round-br: 11.250rem }
.r-91 { --round-tl: 11.375rem; --round-tr: 11.375rem; --round-bl: 11.375rem; --round-br: 11.375rem }
.r-92 { --round-tl: 11.500rem; --round-tr: 11.500rem; --round-bl: 11.500rem; --round-br: 11.500rem }
.r-93 { --round-tl: 11.625rem; --round-tr: 11.625rem; --round-bl: 11.625rem; --round-br: 11.625rem }
.r-94 { --round-tl: 11.750rem; --round-tr: 11.750rem; --round-bl: 11.750rem; --round-br: 11.750rem }
.r-95 { --round-tl: 11.875rem; --round-tr: 11.875rem; --round-bl: 11.875rem; --round-br: 11.875rem }
.r-96 { --round-tl: 12.000rem; --round-tr: 12.000rem; --round-bl: 12.000rem; --round-br: 12.000rem }
.r-97 { --round-tl: 12.125rem; --round-tr: 12.125rem; --round-bl: 12.125rem; --round-br: 12.125rem }
.r-98 { --round-tl: 12.250rem; --round-tr: 12.250rem; --round-bl: 12.250rem; --round-br: 12.250rem }
.r-99 { --round-tl: 12.375rem; --round-tr: 12.375rem; --round-bl: 12.375rem; --round-br: 12.375rem }
.r-100 { --round-tl: 12.500rem; --round-tr: 12.500rem; --round-bl: 12.500rem; --round-br: 12.500rem }
.r-101 { --round-tl: 12.625rem; --round-tr: 12.625rem; --round-bl: 12.625rem; --round-br: 12.625rem }
.r-102 { --round-tl: 12.750rem; --round-tr: 12.750rem; --round-bl: 12.750rem; --round-br: 12.750rem }
.r-103 { --round-tl: 12.875rem; --round-tr: 12.875rem; --round-bl: 12.875rem; --round-br: 12.875rem }
.r-104 { --round-tl: 13.000rem; --round-tr: 13.000rem; --round-bl: 13.000rem; --round-br: 13.000rem }
.r-105 { --round-tl: 13.125rem; --round-tr: 13.125rem; --round-bl: 13.125rem; --round-br: 13.125rem }
.r-106 { --round-tl: 13.250rem; --round-tr: 13.250rem; --round-bl: 13.250rem; --round-br: 13.250rem }
.r-107 { --round-tl: 13.375rem; --round-tr: 13.375rem; --round-bl: 13.375rem; --round-br: 13.375rem }
.r-108 { --round-tl: 13.500rem; --round-tr: 13.500rem; --round-bl: 13.500rem; --round-br: 13.500rem }
.r-109 { --round-tl: 13.625rem; --round-tr: 13.625rem; --round-bl: 13.625rem; --round-br: 13.625rem }
.r-110 { --round-tl: 13.750rem; --round-tr: 13.750rem; --round-bl: 13.750rem; --round-br: 13.750rem }
.r-111 { --round-tl: 13.875rem; --round-tr: 13.875rem; --round-bl: 13.875rem; --round-br: 13.875rem }
.r-112 { --round-tl: 14.000rem; --round-tr: 14.000rem; --round-bl: 14.000rem; --round-br: 14.000rem }
.r-113 { --round-tl: 14.125rem; --round-tr: 14.125rem; --round-bl: 14.125rem; --round-br: 14.125rem }
.r-114 { --round-tl: 14.250rem; --round-tr: 14.250rem; --round-bl: 14.250rem; --round-br: 14.250rem }
.r-115 { --round-tl: 14.375rem; --round-tr: 14.375rem; --round-bl: 14.375rem; --round-br: 14.375rem }
.r-116 { --round-tl: 14.500rem; --round-tr: 14.500rem; --round-bl: 14.500rem; --round-br: 14.500rem }
.r-117 { --round-tl: 14.625rem; --round-tr: 14.625rem; --round-bl: 14.625rem; --round-br: 14.625rem }
.r-118 { --round-tl: 14.750rem; --round-tr: 14.750rem; --round-bl: 14.750rem; --round-br: 14.750rem }
.r-119 { --round-tl: 14.875rem; --round-tr: 14.875rem; --round-bl: 14.875rem; --round-br: 14.875rem }
.r-120 { --round-tl: 15.000rem; --round-tr: 15.000rem; --round-bl: 15.000rem; --round-br: 15.000rem }
.r-121 { --round-tl: 15.125rem; --round-tr: 15.125rem; --round-bl: 15.125rem; --round-br: 15.125rem }
.r-122 { --round-tl: 15.250rem; --round-tr: 15.250rem; --round-bl: 15.250rem; --round-br: 15.250rem }
.r-123 { --round-tl: 15.375rem; --round-tr: 15.375rem; --round-bl: 15.375rem; --round-br: 15.375rem }
.r-124 { --round-tl: 15.500rem; --round-tr: 15.500rem; --round-bl: 15.500rem; --round-br: 15.500rem }
.r-125 { --round-tl: 15.625rem; --round-tr: 15.625rem; --round-bl: 15.625rem; --round-br: 15.625rem }
.r-126 { --round-tl: 15.750rem; --round-tr: 15.750rem; --round-bl: 15.750rem; --round-br: 15.750rem }
.r-127 { --round-tl: 15.875rem; --round-tr: 15.875rem; --round-bl: 15.875rem; --round-br: 15.875rem }
.r-128 { --round-tl: 16.000rem; --round-tr: 16.000rem; --round-bl: 16.000rem; --round-br: 16.000rem }
.r-129 { --round-tl: 16.125rem; --round-tr: 16.125rem; --round-bl: 16.125rem; --round-br: 16.125rem }
.r-130 { --round-tl: 16.250rem; --round-tr: 16.250rem; --round-bl: 16.250rem; --round-br: 16.250rem }
.r-131 { --round-tl: 16.375rem; --round-tr: 16.375rem; --round-bl: 16.375rem; --round-br: 16.375rem }
.r-132 { --round-tl: 16.500rem; --round-tr: 16.500rem; --round-bl: 16.500rem; --round-br: 16.500rem }
.r-133 { --round-tl: 16.625rem; --round-tr: 16.625rem; --round-bl: 16.625rem; --round-br: 16.625rem }
.r-134 { --round-tl: 16.750rem; --round-tr: 16.750rem; --round-bl: 16.750rem; --round-br: 16.750rem }
.r-135 { --round-tl: 16.875rem; --round-tr: 16.875rem; --round-bl: 16.875rem; --round-br: 16.875rem }
.r-136 { --round-tl: 17.000rem; --round-tr: 17.000rem; --round-bl: 17.000rem; --round-br: 17.000rem }
.r-137 { --round-tl: 17.125rem; --round-tr: 17.125rem; --round-bl: 17.125rem; --round-br: 17.125rem }
.r-138 { --round-tl: 17.250rem; --round-tr: 17.250rem; --round-bl: 17.250rem; --round-br: 17.250rem }
.r-139 { --round-tl: 17.375rem; --round-tr: 17.375rem; --round-bl: 17.375rem; --round-br: 17.375rem }
.r-140 { --round-tl: 17.500rem; --round-tr: 17.500rem; --round-bl: 17.500rem; --round-br: 17.500rem }
.r-141 { --round-tl: 17.625rem; --round-tr: 17.625rem; --round-bl: 17.625rem; --round-br: 17.625rem }
.r-142 { --round-tl: 17.750rem; --round-tr: 17.750rem; --round-bl: 17.750rem; --round-br: 17.750rem }
.r-143 { --round-tl: 17.875rem; --round-tr: 17.875rem; --round-bl: 17.875rem; --round-br: 17.875rem }
.r-144 { --round-tl: 18.000rem; --round-tr: 18.000rem; --round-bl: 18.000rem; --round-br: 18.000rem }
.r-145 { --round-tl: 18.125rem; --round-tr: 18.125rem; --round-bl: 18.125rem; --round-br: 18.125rem }
.r-146 { --round-tl: 18.250rem; --round-tr: 18.250rem; --round-bl: 18.250rem; --round-br: 18.250rem }
.r-147 { --round-tl: 18.375rem; --round-tr: 18.375rem; --round-bl: 18.375rem; --round-br: 18.375rem }
.r-148 { --round-tl: 18.500rem; --round-tr: 18.500rem; --round-bl: 18.500rem; --round-br: 18.500rem }
.r-149 { --round-tl: 18.625rem; --round-tr: 18.625rem; --round-bl: 18.625rem; --round-br: 18.625rem }
.r-150 { --round-tl: 18.750rem; --round-tr: 18.750rem; --round-bl: 18.750rem; --round-br: 18.750rem }
.r-151 { --round-tl: 18.875rem; --round-tr: 18.875rem; --round-bl: 18.875rem; --round-br: 18.875rem }
.r-152 { --round-tl: 19.000rem; --round-tr: 19.000rem; --round-bl: 19.000rem; --round-br: 19.000rem }
.r-153 { --round-tl: 19.125rem; --round-tr: 19.125rem; --round-bl: 19.125rem; --round-br: 19.125rem }
.r-154 { --round-tl: 19.250rem; --round-tr: 19.250rem; --round-bl: 19.250rem; --round-br: 19.250rem }
.r-155 { --round-tl: 19.375rem; --round-tr: 19.375rem; --round-bl: 19.375rem; --round-br: 19.375rem }
.r-156 { --round-tl: 19.500rem; --round-tr: 19.500rem; --round-bl: 19.500rem; --round-br: 19.500rem }
.r-157 { --round-tl: 19.625rem; --round-tr: 19.625rem; --round-bl: 19.625rem; --round-br: 19.625rem }
.r-158 { --round-tl: 19.750rem; --round-tr: 19.750rem; --round-bl: 19.750rem; --round-br: 19.750rem }
.r-159 { --round-tl: 19.875rem; --round-tr: 19.875rem; --round-bl: 19.875rem; --round-br: 19.875rem }
.r-160 { --round-tl: 20.000rem; --round-tr: 20.000rem; --round-bl: 20.000rem; --round-br: 20.000rem }
.r-161 { --round-tl: 20.125rem; --round-tr: 20.125rem; --round-bl: 20.125rem; --round-br: 20.125rem }
.r-162 { --round-tl: 20.250rem; --round-tr: 20.250rem; --round-bl: 20.250rem; --round-br: 20.250rem }
.r-163 { --round-tl: 20.375rem; --round-tr: 20.375rem; --round-bl: 20.375rem; --round-br: 20.375rem }
.r-164 { --round-tl: 20.500rem; --round-tr: 20.500rem; --round-bl: 20.500rem; --round-br: 20.500rem }
.r-165 { --round-tl: 20.625rem; --round-tr: 20.625rem; --round-bl: 20.625rem; --round-br: 20.625rem }
.r-166 { --round-tl: 20.750rem; --round-tr: 20.750rem; --round-bl: 20.750rem; --round-br: 20.750rem }
.r-167 { --round-tl: 20.875rem; --round-tr: 20.875rem; --round-bl: 20.875rem; --round-br: 20.875rem }
.r-168 { --round-tl: 21.000rem; --round-tr: 21.000rem; --round-bl: 21.000rem; --round-br: 21.000rem }
.r-169 { --round-tl: 21.125rem; --round-tr: 21.125rem; --round-bl: 21.125rem; --round-br: 21.125rem }
.r-170 { --round-tl: 21.250rem; --round-tr: 21.250rem; --round-bl: 21.250rem; --round-br: 21.250rem }
.r-171 { --round-tl: 21.375rem; --round-tr: 21.375rem; --round-bl: 21.375rem; --round-br: 21.375rem }
.r-172 { --round-tl: 21.500rem; --round-tr: 21.500rem; --round-bl: 21.500rem; --round-br: 21.500rem }
.r-173 { --round-tl: 21.625rem; --round-tr: 21.625rem; --round-bl: 21.625rem; --round-br: 21.625rem }
.r-174 { --round-tl: 21.750rem; --round-tr: 21.750rem; --round-bl: 21.750rem; --round-br: 21.750rem }
.r-175 { --round-tl: 21.875rem; --round-tr: 21.875rem; --round-bl: 21.875rem; --round-br: 21.875rem }
.r-176 { --round-tl: 22.000rem; --round-tr: 22.000rem; --round-bl: 22.000rem; --round-br: 22.000rem }
.r-177 { --round-tl: 22.125rem; --round-tr: 22.125rem; --round-bl: 22.125rem; --round-br: 22.125rem }
.r-178 { --round-tl: 22.250rem; --round-tr: 22.250rem; --round-bl: 22.250rem; --round-br: 22.250rem }
.r-179 { --round-tl: 22.375rem; --round-tr: 22.375rem; --round-bl: 22.375rem; --round-br: 22.375rem }
.r-180 { --round-tl: 22.500rem; --round-tr: 22.500rem; --round-bl: 22.500rem; --round-br: 22.500rem }
.r-181 { --round-tl: 22.625rem; --round-tr: 22.625rem; --round-bl: 22.625rem; --round-br: 22.625rem }
.r-182 { --round-tl: 22.750rem; --round-tr: 22.750rem; --round-bl: 22.750rem; --round-br: 22.750rem }
.r-183 { --round-tl: 22.875rem; --round-tr: 22.875rem; --round-bl: 22.875rem; --round-br: 22.875rem }
.r-184 { --round-tl: 23.000rem; --round-tr: 23.000rem; --round-bl: 23.000rem; --round-br: 23.000rem }
.r-185 { --round-tl: 23.125rem; --round-tr: 23.125rem; --round-bl: 23.125rem; --round-br: 23.125rem }
.r-186 { --round-tl: 23.250rem; --round-tr: 23.250rem; --round-bl: 23.250rem; --round-br: 23.250rem }
.r-187 { --round-tl: 23.375rem; --round-tr: 23.375rem; --round-bl: 23.375rem; --round-br: 23.375rem }
.r-188 { --round-tl: 23.500rem; --round-tr: 23.500rem; --round-bl: 23.500rem; --round-br: 23.500rem }
.r-189 { --round-tl: 23.625rem; --round-tr: 23.625rem; --round-bl: 23.625rem; --round-br: 23.625rem }
.r-190 { --round-tl: 23.750rem; --round-tr: 23.750rem; --round-bl: 23.750rem; --round-br: 23.750rem }
.r-191 { --round-tl: 23.875rem; --round-tr: 23.875rem; --round-bl: 23.875rem; --round-br: 23.875rem }
.r-192 { --round-tl: 24.000rem; --round-tr: 24.000rem; --round-bl: 24.000rem; --round-br: 24.000rem }
.r-193 { --round-tl: 24.125rem; --round-tr: 24.125rem; --round-bl: 24.125rem; --round-br: 24.125rem }
.r-194 { --round-tl: 24.250rem; --round-tr: 24.250rem; --round-bl: 24.250rem; --round-br: 24.250rem }
.r-195 { --round-tl: 24.375rem; --round-tr: 24.375rem; --round-bl: 24.375rem; --round-br: 24.375rem }
.r-196 { --round-tl: 24.500rem; --round-tr: 24.500rem; --round-bl: 24.500rem; --round-br: 24.500rem }
.r-197 { --round-tl: 24.625rem; --round-tr: 24.625rem; --round-bl: 24.625rem; --round-br: 24.625rem }
.r-198 { --round-tl: 24.750rem; --round-tr: 24.750rem; --round-bl: 24.750rem; --round-br: 24.750rem }
.r-199 { --round-tl: 24.875rem; --round-tr: 24.875rem; --round-bl: 24.875rem; --round-br: 24.875rem }
.r-200 { --round-tl: 25.000rem; --round-tr: 25.000rem; --round-bl: 25.000rem; --round-br: 25.000rem }
.r-201 { --round-tl: 25.125rem; --round-tr: 25.125rem; --round-bl: 25.125rem; --round-br: 25.125rem }
.r-202 { --round-tl: 25.250rem; --round-tr: 25.250rem; --round-bl: 25.250rem; --round-br: 25.250rem }
.r-203 { --round-tl: 25.375rem; --round-tr: 25.375rem; --round-bl: 25.375rem; --round-br: 25.375rem }
.r-204 { --round-tl: 25.500rem; --round-tr: 25.500rem; --round-bl: 25.500rem; --round-br: 25.500rem }
.r-205 { --round-tl: 25.625rem; --round-tr: 25.625rem; --round-bl: 25.625rem; --round-br: 25.625rem }
.r-206 { --round-tl: 25.750rem; --round-tr: 25.750rem; --round-bl: 25.750rem; --round-br: 25.750rem }
.r-207 { --round-tl: 25.875rem; --round-tr: 25.875rem; --round-bl: 25.875rem; --round-br: 25.875rem }
.r-208 { --round-tl: 26.000rem; --round-tr: 26.000rem; --round-bl: 26.000rem; --round-br: 26.000rem }
.r-209 { --round-tl: 26.125rem; --round-tr: 26.125rem; --round-bl: 26.125rem; --round-br: 26.125rem }
.r-210 { --round-tl: 26.250rem; --round-tr: 26.250rem; --round-bl: 26.250rem; --round-br: 26.250rem }
.r-211 { --round-tl: 26.375rem; --round-tr: 26.375rem; --round-bl: 26.375rem; --round-br: 26.375rem }
.r-212 { --round-tl: 26.500rem; --round-tr: 26.500rem; --round-bl: 26.500rem; --round-br: 26.500rem }
.r-213 { --round-tl: 26.625rem; --round-tr: 26.625rem; --round-bl: 26.625rem; --round-br: 26.625rem }
.r-214 { --round-tl: 26.750rem; --round-tr: 26.750rem; --round-bl: 26.750rem; --round-br: 26.750rem }
.r-215 { --round-tl: 26.875rem; --round-tr: 26.875rem; --round-bl: 26.875rem; --round-br: 26.875rem }
.r-216 { --round-tl: 27.000rem; --round-tr: 27.000rem; --round-bl: 27.000rem; --round-br: 27.000rem }
.r-217 { --round-tl: 27.125rem; --round-tr: 27.125rem; --round-bl: 27.125rem; --round-br: 27.125rem }
.r-218 { --round-tl: 27.250rem; --round-tr: 27.250rem; --round-bl: 27.250rem; --round-br: 27.250rem }
.r-219 { --round-tl: 27.375rem; --round-tr: 27.375rem; --round-bl: 27.375rem; --round-br: 27.375rem }
.r-220 { --round-tl: 27.500rem; --round-tr: 27.500rem; --round-bl: 27.500rem; --round-br: 27.500rem }
.r-221 { --round-tl: 27.625rem; --round-tr: 27.625rem; --round-bl: 27.625rem; --round-br: 27.625rem }
.r-222 { --round-tl: 27.750rem; --round-tr: 27.750rem; --round-bl: 27.750rem; --round-br: 27.750rem }
.r-223 { --round-tl: 27.875rem; --round-tr: 27.875rem; --round-bl: 27.875rem; --round-br: 27.875rem }
.r-224 { --round-tl: 28.000rem; --round-tr: 28.000rem; --round-bl: 28.000rem; --round-br: 28.000rem }
.r-225 { --round-tl: 28.125rem; --round-tr: 28.125rem; --round-bl: 28.125rem; --round-br: 28.125rem }
.r-226 { --round-tl: 28.250rem; --round-tr: 28.250rem; --round-bl: 28.250rem; --round-br: 28.250rem }
.r-227 { --round-tl: 28.375rem; --round-tr: 28.375rem; --round-bl: 28.375rem; --round-br: 28.375rem }
.r-228 { --round-tl: 28.500rem; --round-tr: 28.500rem; --round-bl: 28.500rem; --round-br: 28.500rem }
.r-229 { --round-tl: 28.625rem; --round-tr: 28.625rem; --round-bl: 28.625rem; --round-br: 28.625rem }
.r-230 { --round-tl: 28.750rem; --round-tr: 28.750rem; --round-bl: 28.750rem; --round-br: 28.750rem }
.r-231 { --round-tl: 28.875rem; --round-tr: 28.875rem; --round-bl: 28.875rem; --round-br: 28.875rem }
.r-232 { --round-tl: 29.000rem; --round-tr: 29.000rem; --round-bl: 29.000rem; --round-br: 29.000rem }
.r-233 { --round-tl: 29.125rem; --round-tr: 29.125rem; --round-bl: 29.125rem; --round-br: 29.125rem }
.r-234 { --round-tl: 29.250rem; --round-tr: 29.250rem; --round-bl: 29.250rem; --round-br: 29.250rem }
.r-235 { --round-tl: 29.375rem; --round-tr: 29.375rem; --round-bl: 29.375rem; --round-br: 29.375rem }
.r-236 { --round-tl: 29.500rem; --round-tr: 29.500rem; --round-bl: 29.500rem; --round-br: 29.500rem }
.r-237 { --round-tl: 29.625rem; --round-tr: 29.625rem; --round-bl: 29.625rem; --round-br: 29.625rem }
.r-238 { --round-tl: 29.750rem; --round-tr: 29.750rem; --round-bl: 29.750rem; --round-br: 29.750rem }
.r-239 { --round-tl: 29.875rem; --round-tr: 29.875rem; --round-bl: 29.875rem; --round-br: 29.875rem }
.r-240 { --round-tl: 30.000rem; --round-tr: 30.000rem; --round-bl: 30.000rem; --round-br: 30.000rem }
.r-241 { --round-tl: 30.125rem; --round-tr: 30.125rem; --round-bl: 30.125rem; --round-br: 30.125rem }
.r-242 { --round-tl: 30.250rem; --round-tr: 30.250rem; --round-bl: 30.250rem; --round-br: 30.250rem }
.r-243 { --round-tl: 30.375rem; --round-tr: 30.375rem; --round-bl: 30.375rem; --round-br: 30.375rem }
.r-244 { --round-tl: 30.500rem; --round-tr: 30.500rem; --round-bl: 30.500rem; --round-br: 30.500rem }
.r-245 { --round-tl: 30.625rem; --round-tr: 30.625rem; --round-bl: 30.625rem; --round-br: 30.625rem }
.r-246 { --round-tl: 30.750rem; --round-tr: 30.750rem; --round-bl: 30.750rem; --round-br: 30.750rem }
.r-247 { --round-tl: 30.875rem; --round-tr: 30.875rem; --round-bl: 30.875rem; --round-br: 30.875rem }
.r-248 { --round-tl: 31.000rem; --round-tr: 31.000rem; --round-bl: 31.000rem; --round-br: 31.000rem }
.r-249 { --round-tl: 31.125rem; --round-tr: 31.125rem; --round-bl: 31.125rem; --round-br: 31.125rem }
.r-250 { --round-tl: 31.250rem; --round-tr: 31.250rem; --round-bl: 31.250rem; --round-br: 31.250rem }
.r-251 { --round-tl: 31.375rem; --round-tr: 31.375rem; --round-bl: 31.375rem; --round-br: 31.375rem }
.r-252 { --round-tl: 31.500rem; --round-tr: 31.500rem; --round-bl: 31.500rem; --round-br: 31.500rem }
.r-253 { --round-tl: 31.625rem; --round-tr: 31.625rem; --round-bl: 31.625rem; --round-br: 31.625rem }
.r-254 { --round-tl: 31.750rem; --round-tr: 31.750rem; --round-bl: 31.750rem; --round-br: 31.750rem }
.r-255 { --round-tl: 31.875rem; --round-tr: 31.875rem; --round-bl: 31.875rem; --round-br: 31.875rem }
.r-256 { --round-tl: 32.000rem; --round-tr: 32.000rem; --round-bl: 32.000rem; --round-br: 32.000rem }
.r-1\/2 { --round-tl: 50.000%; --round-tr: 50.000%; --round-bl: 50.000%; --round-br: 50.000% }
.r-1\/3 { --round-tl: 33.333%; --round-tr: 33.333%; --round-bl: 33.333%; --round-br: 33.333% }
.r-2\/3 { --round-tl: 66.667%; --round-tr: 66.667%; --round-bl: 66.667%; --round-br: 66.667% }
.r-1\/4 { --round-tl: 25.000%; --round-tr: 25.000%; --round-bl: 25.000%; --round-br: 25.000% }
.r-3\/4 { --round-tl: 75.000%; --round-tr: 75.000%; --round-bl: 75.000%; --round-br: 75.000% }
.r-1\/5 { --round-tl: 20.000%; --round-tr: 20.000%; --round-bl: 20.000%; --round-br: 20.000% }
.r-2\/5 { --round-tl: 40.000%; --round-tr: 40.000%; --round-bl: 40.000%; --round-br: 40.000% }
.r-3\/5 { --round-tl: 60.000%; --round-tr: 60.000%; --round-bl: 60.000%; --round-br: 60.000% }
.r-4\/5 { --round-tl: 80.000%; --round-tr: 80.000%; --round-bl: 80.000%; --round-br: 80.000% }
.r-1\/6 { --round-tl: 16.667%; --round-tr: 16.667%; --round-bl: 16.667%; --round-br: 16.667% }
.r-5\/6 { --round-tl: 83.333%; --round-tr: 83.333%; --round-bl: 83.333%; --round-br: 83.333% }
.r-1\/8 { --round-tl: 12.500%; --round-tr: 12.500%; --round-bl: 12.500%; --round-br: 12.500% }
.r-3\/8 { --round-tl: 37.500%; --round-tr: 37.500%; --round-bl: 37.500%; --round-br: 37.500% }
.r-5\/8 { --round-tl: 62.500%; --round-tr: 62.500%; --round-bl: 62.500%; --round-br: 62.500% }
.r-7\/8 { --round-tl: 87.500%; --round-tr: 87.500%; --round-bl: 87.500%; --round-br: 87.500% }
.r-1\/9 { --round-tl: 11.111%; --round-tr: 11.111%; --round-bl: 11.111%; --round-br: 11.111% }
.r-2\/9 { --round-tl: 22.222%; --round-tr: 22.222%; --round-bl: 22.222%; --round-br: 22.222% }
.r-4\/9 { --round-tl: 44.444%; --round-tr: 44.444%; --round-bl: 44.444%; --round-br: 44.444% }
.r-5\/9 { --round-tl: 55.556%; --round-tr: 55.556%; --round-bl: 55.556%; --round-br: 55.556% }
.r-7\/9 { --round-tl: 77.778%; --round-tr: 77.778%; --round-bl: 77.778%; --round-br: 77.778% }
.r-8\/9 { --round-tl: 88.889%; --round-tr: 88.889%; --round-bl: 88.889%; --round-br: 88.889% }
.r-1\/10 { --round-tl: 10.000%; --round-tr: 10.000%; --round-bl: 10.000%; --round-br: 10.000% }
.r-3\/10 { --round-tl: 30.000%; --round-tr: 30.000%; --round-bl: 30.000%; --round-br: 30.000% }
.r-7\/10 { --round-tl: 70.000%; --round-tr: 70.000%; --round-bl: 70.000%; --round-br: 70.000% }
.r-9\/10 { --round-tl: 90.000%; --round-tr: 90.000%; --round-bl: 90.000%; --round-br: 90.000% }
.r-1\/12 { --round-tl: 8.333%; --round-tr: 8.333%; --round-bl: 8.333%; --round-br: 8.333% }
.r-5\/12 { --round-tl: 41.667%; --round-tr: 41.667%; --round-bl: 41.667%; --round-br: 41.667% }
.r-7\/12 { --round-tl: 58.333%; --round-tr: 58.333%; --round-bl: 58.333%; --round-br: 58.333% }
.r-11\/12 { --round-tl: 91.667%; --round-tr: 91.667%; --round-bl: 91.667%; --round-br: 91.667% }
.r-1\/16 { --round-tl: 6.250%; --round-tr: 6.250%; --round-bl: 6.250%; --round-br: 6.250% }
.r-3\/16 { --round-tl: 18.750%; --round-tr: 18.750%; --round-bl: 18.750%; --round-br: 18.750% }
.r-5\/16 { --round-tl: 31.250%; --round-tr: 31.250%; --round-bl: 31.250%; --round-br: 31.250% }
.r-7\/16 { --round-tl: 43.750%; --round-tr: 43.750%; --round-bl: 43.750%; --round-br: 43.750% }
.r-9\/16 { --round-tl: 56.250%; --round-tr: 56.250%; --round-bl: 56.250%; --round-br: 56.250% }
.r-11\/16 { --round-tl: 68.750%; --round-tr: 68.750%; --round-bl: 68.750%; --round-br: 68.750% }
.r-13\/16 { --round-tl: 81.250%; --round-tr: 81.250%; --round-bl: 81.250%; --round-br: 81.250% }
.r-15\/16 { --round-tl: 93.750%; --round-tr: 93.750%; --round-bl: 93.750%; --round-br: 93.750% }