.rb-0 { border-bottom-left-radius: 0.000rem; border-bottom-right-radius: 0.000rem }
.rb-1 { border-bottom-left-radius: 0.125rem; border-bottom-right-radius: 0.125rem }
.rb-2 { border-bottom-left-radius: 0.250rem; border-bottom-right-radius: 0.250rem }
.rb-3 { border-bottom-left-radius: 0.375rem; border-bottom-right-radius: 0.375rem }
.rb-4 { border-bottom-left-radius: 0.500rem; border-bottom-right-radius: 0.500rem }
.rb-5 { border-bottom-left-radius: 0.625rem; border-bottom-right-radius: 0.625rem }
.rb-6 { border-bottom-left-radius: 0.750rem; border-bottom-right-radius: 0.750rem }
.rb-7 { border-bottom-left-radius: 0.875rem; border-bottom-right-radius: 0.875rem }
.rb-8 { border-bottom-left-radius: 1.000rem; border-bottom-right-radius: 1.000rem }
.rb-9 { border-bottom-left-radius: 1.125rem; border-bottom-right-radius: 1.125rem }
.rb-10 { border-bottom-left-radius: 1.250rem; border-bottom-right-radius: 1.250rem }
.rb-11 { border-bottom-left-radius: 1.375rem; border-bottom-right-radius: 1.375rem }
.rb-12 { border-bottom-left-radius: 1.500rem; border-bottom-right-radius: 1.500rem }
.rb-13 { border-bottom-left-radius: 1.625rem; border-bottom-right-radius: 1.625rem }
.rb-14 { border-bottom-left-radius: 1.750rem; border-bottom-right-radius: 1.750rem }
.rb-15 { border-bottom-left-radius: 1.875rem; border-bottom-right-radius: 1.875rem }
.rb-16 { border-bottom-left-radius: 2.000rem; border-bottom-right-radius: 2.000rem }
.rb-17 { border-bottom-left-radius: 2.125rem; border-bottom-right-radius: 2.125rem }
.rb-18 { border-bottom-left-radius: 2.250rem; border-bottom-right-radius: 2.250rem }
.rb-19 { border-bottom-left-radius: 2.375rem; border-bottom-right-radius: 2.375rem }
.rb-20 { border-bottom-left-radius: 2.500rem; border-bottom-right-radius: 2.500rem }
.rb-21 { border-bottom-left-radius: 2.625rem; border-bottom-right-radius: 2.625rem }
.rb-22 { border-bottom-left-radius: 2.750rem; border-bottom-right-radius: 2.750rem }
.rb-23 { border-bottom-left-radius: 2.875rem; border-bottom-right-radius: 2.875rem }
.rb-24 { border-bottom-left-radius: 3.000rem; border-bottom-right-radius: 3.000rem }
.rb-25 { border-bottom-left-radius: 3.125rem; border-bottom-right-radius: 3.125rem }
.rb-26 { border-bottom-left-radius: 3.250rem; border-bottom-right-radius: 3.250rem }
.rb-27 { border-bottom-left-radius: 3.375rem; border-bottom-right-radius: 3.375rem }
.rb-28 { border-bottom-left-radius: 3.500rem; border-bottom-right-radius: 3.500rem }
.rb-29 { border-bottom-left-radius: 3.625rem; border-bottom-right-radius: 3.625rem }
.rb-30 { border-bottom-left-radius: 3.750rem; border-bottom-right-radius: 3.750rem }
.rb-31 { border-bottom-left-radius: 3.875rem; border-bottom-right-radius: 3.875rem }
.rb-32 { border-bottom-left-radius: 4.000rem; border-bottom-right-radius: 4.000rem }
.rb-33 { border-bottom-left-radius: 4.125rem; border-bottom-right-radius: 4.125rem }
.rb-34 { border-bottom-left-radius: 4.250rem; border-bottom-right-radius: 4.250rem }
.rb-35 { border-bottom-left-radius: 4.375rem; border-bottom-right-radius: 4.375rem }
.rb-36 { border-bottom-left-radius: 4.500rem; border-bottom-right-radius: 4.500rem }
.rb-37 { border-bottom-left-radius: 4.625rem; border-bottom-right-radius: 4.625rem }
.rb-38 { border-bottom-left-radius: 4.750rem; border-bottom-right-radius: 4.750rem }
.rb-39 { border-bottom-left-radius: 4.875rem; border-bottom-right-radius: 4.875rem }
.rb-40 { border-bottom-left-radius: 5.000rem; border-bottom-right-radius: 5.000rem }
.rb-41 { border-bottom-left-radius: 5.125rem; border-bottom-right-radius: 5.125rem }
.rb-42 { border-bottom-left-radius: 5.250rem; border-bottom-right-radius: 5.250rem }
.rb-43 { border-bottom-left-radius: 5.375rem; border-bottom-right-radius: 5.375rem }
.rb-44 { border-bottom-left-radius: 5.500rem; border-bottom-right-radius: 5.500rem }
.rb-45 { border-bottom-left-radius: 5.625rem; border-bottom-right-radius: 5.625rem }
.rb-46 { border-bottom-left-radius: 5.750rem; border-bottom-right-radius: 5.750rem }
.rb-47 { border-bottom-left-radius: 5.875rem; border-bottom-right-radius: 5.875rem }
.rb-48 { border-bottom-left-radius: 6.000rem; border-bottom-right-radius: 6.000rem }
.rb-49 { border-bottom-left-radius: 6.125rem; border-bottom-right-radius: 6.125rem }
.rb-50 { border-bottom-left-radius: 6.250rem; border-bottom-right-radius: 6.250rem }
.rb-51 { border-bottom-left-radius: 6.375rem; border-bottom-right-radius: 6.375rem }
.rb-52 { border-bottom-left-radius: 6.500rem; border-bottom-right-radius: 6.500rem }
.rb-53 { border-bottom-left-radius: 6.625rem; border-bottom-right-radius: 6.625rem }
.rb-54 { border-bottom-left-radius: 6.750rem; border-bottom-right-radius: 6.750rem }
.rb-55 { border-bottom-left-radius: 6.875rem; border-bottom-right-radius: 6.875rem }
.rb-56 { border-bottom-left-radius: 7.000rem; border-bottom-right-radius: 7.000rem }
.rb-57 { border-bottom-left-radius: 7.125rem; border-bottom-right-radius: 7.125rem }
.rb-58 { border-bottom-left-radius: 7.250rem; border-bottom-right-radius: 7.250rem }
.rb-59 { border-bottom-left-radius: 7.375rem; border-bottom-right-radius: 7.375rem }
.rb-60 { border-bottom-left-radius: 7.500rem; border-bottom-right-radius: 7.500rem }
.rb-61 { border-bottom-left-radius: 7.625rem; border-bottom-right-radius: 7.625rem }
.rb-62 { border-bottom-left-radius: 7.750rem; border-bottom-right-radius: 7.750rem }
.rb-63 { border-bottom-left-radius: 7.875rem; border-bottom-right-radius: 7.875rem }
.rb-64 { border-bottom-left-radius: 8.000rem; border-bottom-right-radius: 8.000rem }
.rb-65 { border-bottom-left-radius: 8.125rem; border-bottom-right-radius: 8.125rem }
.rb-66 { border-bottom-left-radius: 8.250rem; border-bottom-right-radius: 8.250rem }
.rb-67 { border-bottom-left-radius: 8.375rem; border-bottom-right-radius: 8.375rem }
.rb-68 { border-bottom-left-radius: 8.500rem; border-bottom-right-radius: 8.500rem }
.rb-69 { border-bottom-left-radius: 8.625rem; border-bottom-right-radius: 8.625rem }
.rb-70 { border-bottom-left-radius: 8.750rem; border-bottom-right-radius: 8.750rem }
.rb-71 { border-bottom-left-radius: 8.875rem; border-bottom-right-radius: 8.875rem }
.rb-72 { border-bottom-left-radius: 9.000rem; border-bottom-right-radius: 9.000rem }
.rb-73 { border-bottom-left-radius: 9.125rem; border-bottom-right-radius: 9.125rem }
.rb-74 { border-bottom-left-radius: 9.250rem; border-bottom-right-radius: 9.250rem }
.rb-75 { border-bottom-left-radius: 9.375rem; border-bottom-right-radius: 9.375rem }
.rb-76 { border-bottom-left-radius: 9.500rem; border-bottom-right-radius: 9.500rem }
.rb-77 { border-bottom-left-radius: 9.625rem; border-bottom-right-radius: 9.625rem }
.rb-78 { border-bottom-left-radius: 9.750rem; border-bottom-right-radius: 9.750rem }
.rb-79 { border-bottom-left-radius: 9.875rem; border-bottom-right-radius: 9.875rem }
.rb-80 { border-bottom-left-radius: 10.000rem; border-bottom-right-radius: 10.000rem }
.rb-81 { border-bottom-left-radius: 10.125rem; border-bottom-right-radius: 10.125rem }
.rb-82 { border-bottom-left-radius: 10.250rem; border-bottom-right-radius: 10.250rem }
.rb-83 { border-bottom-left-radius: 10.375rem; border-bottom-right-radius: 10.375rem }
.rb-84 { border-bottom-left-radius: 10.500rem; border-bottom-right-radius: 10.500rem }
.rb-85 { border-bottom-left-radius: 10.625rem; border-bottom-right-radius: 10.625rem }
.rb-86 { border-bottom-left-radius: 10.750rem; border-bottom-right-radius: 10.750rem }
.rb-87 { border-bottom-left-radius: 10.875rem; border-bottom-right-radius: 10.875rem }
.rb-88 { border-bottom-left-radius: 11.000rem; border-bottom-right-radius: 11.000rem }
.rb-89 { border-bottom-left-radius: 11.125rem; border-bottom-right-radius: 11.125rem }
.rb-90 { border-bottom-left-radius: 11.250rem; border-bottom-right-radius: 11.250rem }
.rb-91 { border-bottom-left-radius: 11.375rem; border-bottom-right-radius: 11.375rem }
.rb-92 { border-bottom-left-radius: 11.500rem; border-bottom-right-radius: 11.500rem }
.rb-93 { border-bottom-left-radius: 11.625rem; border-bottom-right-radius: 11.625rem }
.rb-94 { border-bottom-left-radius: 11.750rem; border-bottom-right-radius: 11.750rem }
.rb-95 { border-bottom-left-radius: 11.875rem; border-bottom-right-radius: 11.875rem }
.rb-96 { border-bottom-left-radius: 12.000rem; border-bottom-right-radius: 12.000rem }
.rb-97 { border-bottom-left-radius: 12.125rem; border-bottom-right-radius: 12.125rem }
.rb-98 { border-bottom-left-radius: 12.250rem; border-bottom-right-radius: 12.250rem }
.rb-99 { border-bottom-left-radius: 12.375rem; border-bottom-right-radius: 12.375rem }
.rb-100 { border-bottom-left-radius: 12.500rem; border-bottom-right-radius: 12.500rem }
.rb-101 { border-bottom-left-radius: 12.625rem; border-bottom-right-radius: 12.625rem }
.rb-102 { border-bottom-left-radius: 12.750rem; border-bottom-right-radius: 12.750rem }
.rb-103 { border-bottom-left-radius: 12.875rem; border-bottom-right-radius: 12.875rem }
.rb-104 { border-bottom-left-radius: 13.000rem; border-bottom-right-radius: 13.000rem }
.rb-105 { border-bottom-left-radius: 13.125rem; border-bottom-right-radius: 13.125rem }
.rb-106 { border-bottom-left-radius: 13.250rem; border-bottom-right-radius: 13.250rem }
.rb-107 { border-bottom-left-radius: 13.375rem; border-bottom-right-radius: 13.375rem }
.rb-108 { border-bottom-left-radius: 13.500rem; border-bottom-right-radius: 13.500rem }
.rb-109 { border-bottom-left-radius: 13.625rem; border-bottom-right-radius: 13.625rem }
.rb-110 { border-bottom-left-radius: 13.750rem; border-bottom-right-radius: 13.750rem }
.rb-111 { border-bottom-left-radius: 13.875rem; border-bottom-right-radius: 13.875rem }
.rb-112 { border-bottom-left-radius: 14.000rem; border-bottom-right-radius: 14.000rem }
.rb-113 { border-bottom-left-radius: 14.125rem; border-bottom-right-radius: 14.125rem }
.rb-114 { border-bottom-left-radius: 14.250rem; border-bottom-right-radius: 14.250rem }
.rb-115 { border-bottom-left-radius: 14.375rem; border-bottom-right-radius: 14.375rem }
.rb-116 { border-bottom-left-radius: 14.500rem; border-bottom-right-radius: 14.500rem }
.rb-117 { border-bottom-left-radius: 14.625rem; border-bottom-right-radius: 14.625rem }
.rb-118 { border-bottom-left-radius: 14.750rem; border-bottom-right-radius: 14.750rem }
.rb-119 { border-bottom-left-radius: 14.875rem; border-bottom-right-radius: 14.875rem }
.rb-120 { border-bottom-left-radius: 15.000rem; border-bottom-right-radius: 15.000rem }
.rb-121 { border-bottom-left-radius: 15.125rem; border-bottom-right-radius: 15.125rem }
.rb-122 { border-bottom-left-radius: 15.250rem; border-bottom-right-radius: 15.250rem }
.rb-123 { border-bottom-left-radius: 15.375rem; border-bottom-right-radius: 15.375rem }
.rb-124 { border-bottom-left-radius: 15.500rem; border-bottom-right-radius: 15.500rem }
.rb-125 { border-bottom-left-radius: 15.625rem; border-bottom-right-radius: 15.625rem }
.rb-126 { border-bottom-left-radius: 15.750rem; border-bottom-right-radius: 15.750rem }
.rb-127 { border-bottom-left-radius: 15.875rem; border-bottom-right-radius: 15.875rem }
.rb-128 { border-bottom-left-radius: 16.000rem; border-bottom-right-radius: 16.000rem }
.rb-129 { border-bottom-left-radius: 16.125rem; border-bottom-right-radius: 16.125rem }
.rb-130 { border-bottom-left-radius: 16.250rem; border-bottom-right-radius: 16.250rem }
.rb-131 { border-bottom-left-radius: 16.375rem; border-bottom-right-radius: 16.375rem }
.rb-132 { border-bottom-left-radius: 16.500rem; border-bottom-right-radius: 16.500rem }
.rb-133 { border-bottom-left-radius: 16.625rem; border-bottom-right-radius: 16.625rem }
.rb-134 { border-bottom-left-radius: 16.750rem; border-bottom-right-radius: 16.750rem }
.rb-135 { border-bottom-left-radius: 16.875rem; border-bottom-right-radius: 16.875rem }
.rb-136 { border-bottom-left-radius: 17.000rem; border-bottom-right-radius: 17.000rem }
.rb-137 { border-bottom-left-radius: 17.125rem; border-bottom-right-radius: 17.125rem }
.rb-138 { border-bottom-left-radius: 17.250rem; border-bottom-right-radius: 17.250rem }
.rb-139 { border-bottom-left-radius: 17.375rem; border-bottom-right-radius: 17.375rem }
.rb-140 { border-bottom-left-radius: 17.500rem; border-bottom-right-radius: 17.500rem }
.rb-141 { border-bottom-left-radius: 17.625rem; border-bottom-right-radius: 17.625rem }
.rb-142 { border-bottom-left-radius: 17.750rem; border-bottom-right-radius: 17.750rem }
.rb-143 { border-bottom-left-radius: 17.875rem; border-bottom-right-radius: 17.875rem }
.rb-144 { border-bottom-left-radius: 18.000rem; border-bottom-right-radius: 18.000rem }
.rb-145 { border-bottom-left-radius: 18.125rem; border-bottom-right-radius: 18.125rem }
.rb-146 { border-bottom-left-radius: 18.250rem; border-bottom-right-radius: 18.250rem }
.rb-147 { border-bottom-left-radius: 18.375rem; border-bottom-right-radius: 18.375rem }
.rb-148 { border-bottom-left-radius: 18.500rem; border-bottom-right-radius: 18.500rem }
.rb-149 { border-bottom-left-radius: 18.625rem; border-bottom-right-radius: 18.625rem }
.rb-150 { border-bottom-left-radius: 18.750rem; border-bottom-right-radius: 18.750rem }
.rb-151 { border-bottom-left-radius: 18.875rem; border-bottom-right-radius: 18.875rem }
.rb-152 { border-bottom-left-radius: 19.000rem; border-bottom-right-radius: 19.000rem }
.rb-153 { border-bottom-left-radius: 19.125rem; border-bottom-right-radius: 19.125rem }
.rb-154 { border-bottom-left-radius: 19.250rem; border-bottom-right-radius: 19.250rem }
.rb-155 { border-bottom-left-radius: 19.375rem; border-bottom-right-radius: 19.375rem }
.rb-156 { border-bottom-left-radius: 19.500rem; border-bottom-right-radius: 19.500rem }
.rb-157 { border-bottom-left-radius: 19.625rem; border-bottom-right-radius: 19.625rem }
.rb-158 { border-bottom-left-radius: 19.750rem; border-bottom-right-radius: 19.750rem }
.rb-159 { border-bottom-left-radius: 19.875rem; border-bottom-right-radius: 19.875rem }
.rb-160 { border-bottom-left-radius: 20.000rem; border-bottom-right-radius: 20.000rem }
.rb-161 { border-bottom-left-radius: 20.125rem; border-bottom-right-radius: 20.125rem }
.rb-162 { border-bottom-left-radius: 20.250rem; border-bottom-right-radius: 20.250rem }
.rb-163 { border-bottom-left-radius: 20.375rem; border-bottom-right-radius: 20.375rem }
.rb-164 { border-bottom-left-radius: 20.500rem; border-bottom-right-radius: 20.500rem }
.rb-165 { border-bottom-left-radius: 20.625rem; border-bottom-right-radius: 20.625rem }
.rb-166 { border-bottom-left-radius: 20.750rem; border-bottom-right-radius: 20.750rem }
.rb-167 { border-bottom-left-radius: 20.875rem; border-bottom-right-radius: 20.875rem }
.rb-168 { border-bottom-left-radius: 21.000rem; border-bottom-right-radius: 21.000rem }
.rb-169 { border-bottom-left-radius: 21.125rem; border-bottom-right-radius: 21.125rem }
.rb-170 { border-bottom-left-radius: 21.250rem; border-bottom-right-radius: 21.250rem }
.rb-171 { border-bottom-left-radius: 21.375rem; border-bottom-right-radius: 21.375rem }
.rb-172 { border-bottom-left-radius: 21.500rem; border-bottom-right-radius: 21.500rem }
.rb-173 { border-bottom-left-radius: 21.625rem; border-bottom-right-radius: 21.625rem }
.rb-174 { border-bottom-left-radius: 21.750rem; border-bottom-right-radius: 21.750rem }
.rb-175 { border-bottom-left-radius: 21.875rem; border-bottom-right-radius: 21.875rem }
.rb-176 { border-bottom-left-radius: 22.000rem; border-bottom-right-radius: 22.000rem }
.rb-177 { border-bottom-left-radius: 22.125rem; border-bottom-right-radius: 22.125rem }
.rb-178 { border-bottom-left-radius: 22.250rem; border-bottom-right-radius: 22.250rem }
.rb-179 { border-bottom-left-radius: 22.375rem; border-bottom-right-radius: 22.375rem }
.rb-180 { border-bottom-left-radius: 22.500rem; border-bottom-right-radius: 22.500rem }
.rb-181 { border-bottom-left-radius: 22.625rem; border-bottom-right-radius: 22.625rem }
.rb-182 { border-bottom-left-radius: 22.750rem; border-bottom-right-radius: 22.750rem }
.rb-183 { border-bottom-left-radius: 22.875rem; border-bottom-right-radius: 22.875rem }
.rb-184 { border-bottom-left-radius: 23.000rem; border-bottom-right-radius: 23.000rem }
.rb-185 { border-bottom-left-radius: 23.125rem; border-bottom-right-radius: 23.125rem }
.rb-186 { border-bottom-left-radius: 23.250rem; border-bottom-right-radius: 23.250rem }
.rb-187 { border-bottom-left-radius: 23.375rem; border-bottom-right-radius: 23.375rem }
.rb-188 { border-bottom-left-radius: 23.500rem; border-bottom-right-radius: 23.500rem }
.rb-189 { border-bottom-left-radius: 23.625rem; border-bottom-right-radius: 23.625rem }
.rb-190 { border-bottom-left-radius: 23.750rem; border-bottom-right-radius: 23.750rem }
.rb-191 { border-bottom-left-radius: 23.875rem; border-bottom-right-radius: 23.875rem }
.rb-192 { border-bottom-left-radius: 24.000rem; border-bottom-right-radius: 24.000rem }
.rb-193 { border-bottom-left-radius: 24.125rem; border-bottom-right-radius: 24.125rem }
.rb-194 { border-bottom-left-radius: 24.250rem; border-bottom-right-radius: 24.250rem }
.rb-195 { border-bottom-left-radius: 24.375rem; border-bottom-right-radius: 24.375rem }
.rb-196 { border-bottom-left-radius: 24.500rem; border-bottom-right-radius: 24.500rem }
.rb-197 { border-bottom-left-radius: 24.625rem; border-bottom-right-radius: 24.625rem }
.rb-198 { border-bottom-left-radius: 24.750rem; border-bottom-right-radius: 24.750rem }
.rb-199 { border-bottom-left-radius: 24.875rem; border-bottom-right-radius: 24.875rem }
.rb-200 { border-bottom-left-radius: 25.000rem; border-bottom-right-radius: 25.000rem }
.rb-201 { border-bottom-left-radius: 25.125rem; border-bottom-right-radius: 25.125rem }
.rb-202 { border-bottom-left-radius: 25.250rem; border-bottom-right-radius: 25.250rem }
.rb-203 { border-bottom-left-radius: 25.375rem; border-bottom-right-radius: 25.375rem }
.rb-204 { border-bottom-left-radius: 25.500rem; border-bottom-right-radius: 25.500rem }
.rb-205 { border-bottom-left-radius: 25.625rem; border-bottom-right-radius: 25.625rem }
.rb-206 { border-bottom-left-radius: 25.750rem; border-bottom-right-radius: 25.750rem }
.rb-207 { border-bottom-left-radius: 25.875rem; border-bottom-right-radius: 25.875rem }
.rb-208 { border-bottom-left-radius: 26.000rem; border-bottom-right-radius: 26.000rem }
.rb-209 { border-bottom-left-radius: 26.125rem; border-bottom-right-radius: 26.125rem }
.rb-210 { border-bottom-left-radius: 26.250rem; border-bottom-right-radius: 26.250rem }
.rb-211 { border-bottom-left-radius: 26.375rem; border-bottom-right-radius: 26.375rem }
.rb-212 { border-bottom-left-radius: 26.500rem; border-bottom-right-radius: 26.500rem }
.rb-213 { border-bottom-left-radius: 26.625rem; border-bottom-right-radius: 26.625rem }
.rb-214 { border-bottom-left-radius: 26.750rem; border-bottom-right-radius: 26.750rem }
.rb-215 { border-bottom-left-radius: 26.875rem; border-bottom-right-radius: 26.875rem }
.rb-216 { border-bottom-left-radius: 27.000rem; border-bottom-right-radius: 27.000rem }
.rb-217 { border-bottom-left-radius: 27.125rem; border-bottom-right-radius: 27.125rem }
.rb-218 { border-bottom-left-radius: 27.250rem; border-bottom-right-radius: 27.250rem }
.rb-219 { border-bottom-left-radius: 27.375rem; border-bottom-right-radius: 27.375rem }
.rb-220 { border-bottom-left-radius: 27.500rem; border-bottom-right-radius: 27.500rem }
.rb-221 { border-bottom-left-radius: 27.625rem; border-bottom-right-radius: 27.625rem }
.rb-222 { border-bottom-left-radius: 27.750rem; border-bottom-right-radius: 27.750rem }
.rb-223 { border-bottom-left-radius: 27.875rem; border-bottom-right-radius: 27.875rem }
.rb-224 { border-bottom-left-radius: 28.000rem; border-bottom-right-radius: 28.000rem }
.rb-225 { border-bottom-left-radius: 28.125rem; border-bottom-right-radius: 28.125rem }
.rb-226 { border-bottom-left-radius: 28.250rem; border-bottom-right-radius: 28.250rem }
.rb-227 { border-bottom-left-radius: 28.375rem; border-bottom-right-radius: 28.375rem }
.rb-228 { border-bottom-left-radius: 28.500rem; border-bottom-right-radius: 28.500rem }
.rb-229 { border-bottom-left-radius: 28.625rem; border-bottom-right-radius: 28.625rem }
.rb-230 { border-bottom-left-radius: 28.750rem; border-bottom-right-radius: 28.750rem }
.rb-231 { border-bottom-left-radius: 28.875rem; border-bottom-right-radius: 28.875rem }
.rb-232 { border-bottom-left-radius: 29.000rem; border-bottom-right-radius: 29.000rem }
.rb-233 { border-bottom-left-radius: 29.125rem; border-bottom-right-radius: 29.125rem }
.rb-234 { border-bottom-left-radius: 29.250rem; border-bottom-right-radius: 29.250rem }
.rb-235 { border-bottom-left-radius: 29.375rem; border-bottom-right-radius: 29.375rem }
.rb-236 { border-bottom-left-radius: 29.500rem; border-bottom-right-radius: 29.500rem }
.rb-237 { border-bottom-left-radius: 29.625rem; border-bottom-right-radius: 29.625rem }
.rb-238 { border-bottom-left-radius: 29.750rem; border-bottom-right-radius: 29.750rem }
.rb-239 { border-bottom-left-radius: 29.875rem; border-bottom-right-radius: 29.875rem }
.rb-240 { border-bottom-left-radius: 30.000rem; border-bottom-right-radius: 30.000rem }
.rb-241 { border-bottom-left-radius: 30.125rem; border-bottom-right-radius: 30.125rem }
.rb-242 { border-bottom-left-radius: 30.250rem; border-bottom-right-radius: 30.250rem }
.rb-243 { border-bottom-left-radius: 30.375rem; border-bottom-right-radius: 30.375rem }
.rb-244 { border-bottom-left-radius: 30.500rem; border-bottom-right-radius: 30.500rem }
.rb-245 { border-bottom-left-radius: 30.625rem; border-bottom-right-radius: 30.625rem }
.rb-246 { border-bottom-left-radius: 30.750rem; border-bottom-right-radius: 30.750rem }
.rb-247 { border-bottom-left-radius: 30.875rem; border-bottom-right-radius: 30.875rem }
.rb-248 { border-bottom-left-radius: 31.000rem; border-bottom-right-radius: 31.000rem }
.rb-249 { border-bottom-left-radius: 31.125rem; border-bottom-right-radius: 31.125rem }
.rb-250 { border-bottom-left-radius: 31.250rem; border-bottom-right-radius: 31.250rem }
.rb-251 { border-bottom-left-radius: 31.375rem; border-bottom-right-radius: 31.375rem }
.rb-252 { border-bottom-left-radius: 31.500rem; border-bottom-right-radius: 31.500rem }
.rb-253 { border-bottom-left-radius: 31.625rem; border-bottom-right-radius: 31.625rem }
.rb-254 { border-bottom-left-radius: 31.750rem; border-bottom-right-radius: 31.750rem }
.rb-255 { border-bottom-left-radius: 31.875rem; border-bottom-right-radius: 31.875rem }
.rb-256 { border-bottom-left-radius: 32.000rem; border-bottom-right-radius: 32.000rem }
.rb-1\/2 { border-bottom-left-radius: 50.000%; border-bottom-right-radius: 50.000% }
.rb-1\/3 { border-bottom-left-radius: 33.333%; border-bottom-right-radius: 33.333% }
.rb-2\/3 { border-bottom-left-radius: 66.667%; border-bottom-right-radius: 66.667% }
.rb-1\/4 { border-bottom-left-radius: 25.000%; border-bottom-right-radius: 25.000% }
.rb-3\/4 { border-bottom-left-radius: 75.000%; border-bottom-right-radius: 75.000% }
.rb-1\/5 { border-bottom-left-radius: 20.000%; border-bottom-right-radius: 20.000% }
.rb-2\/5 { border-bottom-left-radius: 40.000%; border-bottom-right-radius: 40.000% }
.rb-3\/5 { border-bottom-left-radius: 60.000%; border-bottom-right-radius: 60.000% }
.rb-4\/5 { border-bottom-left-radius: 80.000%; border-bottom-right-radius: 80.000% }
.rb-1\/6 { border-bottom-left-radius: 16.667%; border-bottom-right-radius: 16.667% }
.rb-5\/6 { border-bottom-left-radius: 83.333%; border-bottom-right-radius: 83.333% }
.rb-1\/8 { border-bottom-left-radius: 12.500%; border-bottom-right-radius: 12.500% }
.rb-3\/8 { border-bottom-left-radius: 37.500%; border-bottom-right-radius: 37.500% }
.rb-5\/8 { border-bottom-left-radius: 62.500%; border-bottom-right-radius: 62.500% }
.rb-7\/8 { border-bottom-left-radius: 87.500%; border-bottom-right-radius: 87.500% }
.rb-1\/9 { border-bottom-left-radius: 11.111%; border-bottom-right-radius: 11.111% }
.rb-2\/9 { border-bottom-left-radius: 22.222%; border-bottom-right-radius: 22.222% }
.rb-4\/9 { border-bottom-left-radius: 44.444%; border-bottom-right-radius: 44.444% }
.rb-5\/9 { border-bottom-left-radius: 55.556%; border-bottom-right-radius: 55.556% }
.rb-7\/9 { border-bottom-left-radius: 77.778%; border-bottom-right-radius: 77.778% }
.rb-8\/9 { border-bottom-left-radius: 88.889%; border-bottom-right-radius: 88.889% }
.rb-1\/10 { border-bottom-left-radius: 10.000%; border-bottom-right-radius: 10.000% }
.rb-3\/10 { border-bottom-left-radius: 30.000%; border-bottom-right-radius: 30.000% }
.rb-7\/10 { border-bottom-left-radius: 70.000%; border-bottom-right-radius: 70.000% }
.rb-9\/10 { border-bottom-left-radius: 90.000%; border-bottom-right-radius: 90.000% }
.rb-1\/12 { border-bottom-left-radius: 8.333%; border-bottom-right-radius: 8.333% }
.rb-5\/12 { border-bottom-left-radius: 41.667%; border-bottom-right-radius: 41.667% }
.rb-7\/12 { border-bottom-left-radius: 58.333%; border-bottom-right-radius: 58.333% }
.rb-11\/12 { border-bottom-left-radius: 91.667%; border-bottom-right-radius: 91.667% }
.rb-1\/16 { border-bottom-left-radius: 6.250%; border-bottom-right-radius: 6.250% }
.rb-3\/16 { border-bottom-left-radius: 18.750%; border-bottom-right-radius: 18.750% }
.rb-5\/16 { border-bottom-left-radius: 31.250%; border-bottom-right-radius: 31.250% }
.rb-7\/16 { border-bottom-left-radius: 43.750%; border-bottom-right-radius: 43.750% }
.rb-9\/16 { border-bottom-left-radius: 56.250%; border-bottom-right-radius: 56.250% }
.rb-11\/16 { border-bottom-left-radius: 68.750%; border-bottom-right-radius: 68.750% }
.rb-13\/16 { border-bottom-left-radius: 81.250%; border-bottom-right-radius: 81.250% }
.rb-15\/16 { border-bottom-left-radius: 93.750%; border-bottom-right-radius: 93.750% }