.rr-0 { --round-tr: 0.000rem; --round-br: 0.000rem }
.rr-1 { --round-tr: 0.125rem; --round-br: 0.125rem }
.rr-2 { --round-tr: 0.250rem; --round-br: 0.250rem }
.rr-3 { --round-tr: 0.375rem; --round-br: 0.375rem }
.rr-4 { --round-tr: 0.500rem; --round-br: 0.500rem }
.rr-5 { --round-tr: 0.625rem; --round-br: 0.625rem }
.rr-6 { --round-tr: 0.750rem; --round-br: 0.750rem }
.rr-7 { --round-tr: 0.875rem; --round-br: 0.875rem }
.rr-8 { --round-tr: 1.000rem; --round-br: 1.000rem }
.rr-9 { --round-tr: 1.125rem; --round-br: 1.125rem }
.rr-10 { --round-tr: 1.250rem; --round-br: 1.250rem }
.rr-11 { --round-tr: 1.375rem; --round-br: 1.375rem }
.rr-12 { --round-tr: 1.500rem; --round-br: 1.500rem }
.rr-13 { --round-tr: 1.625rem; --round-br: 1.625rem }
.rr-14 { --round-tr: 1.750rem; --round-br: 1.750rem }
.rr-15 { --round-tr: 1.875rem; --round-br: 1.875rem }
.rr-16 { --round-tr: 2.000rem; --round-br: 2.000rem }
.rr-17 { --round-tr: 2.125rem; --round-br: 2.125rem }
.rr-18 { --round-tr: 2.250rem; --round-br: 2.250rem }
.rr-19 { --round-tr: 2.375rem; --round-br: 2.375rem }
.rr-20 { --round-tr: 2.500rem; --round-br: 2.500rem }
.rr-21 { --round-tr: 2.625rem; --round-br: 2.625rem }
.rr-22 { --round-tr: 2.750rem; --round-br: 2.750rem }
.rr-23 { --round-tr: 2.875rem; --round-br: 2.875rem }
.rr-24 { --round-tr: 3.000rem; --round-br: 3.000rem }
.rr-25 { --round-tr: 3.125rem; --round-br: 3.125rem }
.rr-26 { --round-tr: 3.250rem; --round-br: 3.250rem }
.rr-27 { --round-tr: 3.375rem; --round-br: 3.375rem }
.rr-28 { --round-tr: 3.500rem; --round-br: 3.500rem }
.rr-29 { --round-tr: 3.625rem; --round-br: 3.625rem }
.rr-30 { --round-tr: 3.750rem; --round-br: 3.750rem }
.rr-31 { --round-tr: 3.875rem; --round-br: 3.875rem }
.rr-32 { --round-tr: 4.000rem; --round-br: 4.000rem }
.rr-33 { --round-tr: 4.125rem; --round-br: 4.125rem }
.rr-34 { --round-tr: 4.250rem; --round-br: 4.250rem }
.rr-35 { --round-tr: 4.375rem; --round-br: 4.375rem }
.rr-36 { --round-tr: 4.500rem; --round-br: 4.500rem }
.rr-37 { --round-tr: 4.625rem; --round-br: 4.625rem }
.rr-38 { --round-tr: 4.750rem; --round-br: 4.750rem }
.rr-39 { --round-tr: 4.875rem; --round-br: 4.875rem }
.rr-40 { --round-tr: 5.000rem; --round-br: 5.000rem }
.rr-41 { --round-tr: 5.125rem; --round-br: 5.125rem }
.rr-42 { --round-tr: 5.250rem; --round-br: 5.250rem }
.rr-43 { --round-tr: 5.375rem; --round-br: 5.375rem }
.rr-44 { --round-tr: 5.500rem; --round-br: 5.500rem }
.rr-45 { --round-tr: 5.625rem; --round-br: 5.625rem }
.rr-46 { --round-tr: 5.750rem; --round-br: 5.750rem }
.rr-47 { --round-tr: 5.875rem; --round-br: 5.875rem }
.rr-48 { --round-tr: 6.000rem; --round-br: 6.000rem }
.rr-49 { --round-tr: 6.125rem; --round-br: 6.125rem }
.rr-50 { --round-tr: 6.250rem; --round-br: 6.250rem }
.rr-51 { --round-tr: 6.375rem; --round-br: 6.375rem }
.rr-52 { --round-tr: 6.500rem; --round-br: 6.500rem }
.rr-53 { --round-tr: 6.625rem; --round-br: 6.625rem }
.rr-54 { --round-tr: 6.750rem; --round-br: 6.750rem }
.rr-55 { --round-tr: 6.875rem; --round-br: 6.875rem }
.rr-56 { --round-tr: 7.000rem; --round-br: 7.000rem }
.rr-57 { --round-tr: 7.125rem; --round-br: 7.125rem }
.rr-58 { --round-tr: 7.250rem; --round-br: 7.250rem }
.rr-59 { --round-tr: 7.375rem; --round-br: 7.375rem }
.rr-60 { --round-tr: 7.500rem; --round-br: 7.500rem }
.rr-61 { --round-tr: 7.625rem; --round-br: 7.625rem }
.rr-62 { --round-tr: 7.750rem; --round-br: 7.750rem }
.rr-63 { --round-tr: 7.875rem; --round-br: 7.875rem }
.rr-64 { --round-tr: 8.000rem; --round-br: 8.000rem }
.rr-65 { --round-tr: 8.125rem; --round-br: 8.125rem }
.rr-66 { --round-tr: 8.250rem; --round-br: 8.250rem }
.rr-67 { --round-tr: 8.375rem; --round-br: 8.375rem }
.rr-68 { --round-tr: 8.500rem; --round-br: 8.500rem }
.rr-69 { --round-tr: 8.625rem; --round-br: 8.625rem }
.rr-70 { --round-tr: 8.750rem; --round-br: 8.750rem }
.rr-71 { --round-tr: 8.875rem; --round-br: 8.875rem }
.rr-72 { --round-tr: 9.000rem; --round-br: 9.000rem }
.rr-73 { --round-tr: 9.125rem; --round-br: 9.125rem }
.rr-74 { --round-tr: 9.250rem; --round-br: 9.250rem }
.rr-75 { --round-tr: 9.375rem; --round-br: 9.375rem }
.rr-76 { --round-tr: 9.500rem; --round-br: 9.500rem }
.rr-77 { --round-tr: 9.625rem; --round-br: 9.625rem }
.rr-78 { --round-tr: 9.750rem; --round-br: 9.750rem }
.rr-79 { --round-tr: 9.875rem; --round-br: 9.875rem }
.rr-80 { --round-tr: 10.000rem; --round-br: 10.000rem }
.rr-81 { --round-tr: 10.125rem; --round-br: 10.125rem }
.rr-82 { --round-tr: 10.250rem; --round-br: 10.250rem }
.rr-83 { --round-tr: 10.375rem; --round-br: 10.375rem }
.rr-84 { --round-tr: 10.500rem; --round-br: 10.500rem }
.rr-85 { --round-tr: 10.625rem; --round-br: 10.625rem }
.rr-86 { --round-tr: 10.750rem; --round-br: 10.750rem }
.rr-87 { --round-tr: 10.875rem; --round-br: 10.875rem }
.rr-88 { --round-tr: 11.000rem; --round-br: 11.000rem }
.rr-89 { --round-tr: 11.125rem; --round-br: 11.125rem }
.rr-90 { --round-tr: 11.250rem; --round-br: 11.250rem }
.rr-91 { --round-tr: 11.375rem; --round-br: 11.375rem }
.rr-92 { --round-tr: 11.500rem; --round-br: 11.500rem }
.rr-93 { --round-tr: 11.625rem; --round-br: 11.625rem }
.rr-94 { --round-tr: 11.750rem; --round-br: 11.750rem }
.rr-95 { --round-tr: 11.875rem; --round-br: 11.875rem }
.rr-96 { --round-tr: 12.000rem; --round-br: 12.000rem }
.rr-97 { --round-tr: 12.125rem; --round-br: 12.125rem }
.rr-98 { --round-tr: 12.250rem; --round-br: 12.250rem }
.rr-99 { --round-tr: 12.375rem; --round-br: 12.375rem }
.rr-100 { --round-tr: 12.500rem; --round-br: 12.500rem }
.rr-101 { --round-tr: 12.625rem; --round-br: 12.625rem }
.rr-102 { --round-tr: 12.750rem; --round-br: 12.750rem }
.rr-103 { --round-tr: 12.875rem; --round-br: 12.875rem }
.rr-104 { --round-tr: 13.000rem; --round-br: 13.000rem }
.rr-105 { --round-tr: 13.125rem; --round-br: 13.125rem }
.rr-106 { --round-tr: 13.250rem; --round-br: 13.250rem }
.rr-107 { --round-tr: 13.375rem; --round-br: 13.375rem }
.rr-108 { --round-tr: 13.500rem; --round-br: 13.500rem }
.rr-109 { --round-tr: 13.625rem; --round-br: 13.625rem }
.rr-110 { --round-tr: 13.750rem; --round-br: 13.750rem }
.rr-111 { --round-tr: 13.875rem; --round-br: 13.875rem }
.rr-112 { --round-tr: 14.000rem; --round-br: 14.000rem }
.rr-113 { --round-tr: 14.125rem; --round-br: 14.125rem }
.rr-114 { --round-tr: 14.250rem; --round-br: 14.250rem }
.rr-115 { --round-tr: 14.375rem; --round-br: 14.375rem }
.rr-116 { --round-tr: 14.500rem; --round-br: 14.500rem }
.rr-117 { --round-tr: 14.625rem; --round-br: 14.625rem }
.rr-118 { --round-tr: 14.750rem; --round-br: 14.750rem }
.rr-119 { --round-tr: 14.875rem; --round-br: 14.875rem }
.rr-120 { --round-tr: 15.000rem; --round-br: 15.000rem }
.rr-121 { --round-tr: 15.125rem; --round-br: 15.125rem }
.rr-122 { --round-tr: 15.250rem; --round-br: 15.250rem }
.rr-123 { --round-tr: 15.375rem; --round-br: 15.375rem }
.rr-124 { --round-tr: 15.500rem; --round-br: 15.500rem }
.rr-125 { --round-tr: 15.625rem; --round-br: 15.625rem }
.rr-126 { --round-tr: 15.750rem; --round-br: 15.750rem }
.rr-127 { --round-tr: 15.875rem; --round-br: 15.875rem }
.rr-128 { --round-tr: 16.000rem; --round-br: 16.000rem }
.rr-129 { --round-tr: 16.125rem; --round-br: 16.125rem }
.rr-130 { --round-tr: 16.250rem; --round-br: 16.250rem }
.rr-131 { --round-tr: 16.375rem; --round-br: 16.375rem }
.rr-132 { --round-tr: 16.500rem; --round-br: 16.500rem }
.rr-133 { --round-tr: 16.625rem; --round-br: 16.625rem }
.rr-134 { --round-tr: 16.750rem; --round-br: 16.750rem }
.rr-135 { --round-tr: 16.875rem; --round-br: 16.875rem }
.rr-136 { --round-tr: 17.000rem; --round-br: 17.000rem }
.rr-137 { --round-tr: 17.125rem; --round-br: 17.125rem }
.rr-138 { --round-tr: 17.250rem; --round-br: 17.250rem }
.rr-139 { --round-tr: 17.375rem; --round-br: 17.375rem }
.rr-140 { --round-tr: 17.500rem; --round-br: 17.500rem }
.rr-141 { --round-tr: 17.625rem; --round-br: 17.625rem }
.rr-142 { --round-tr: 17.750rem; --round-br: 17.750rem }
.rr-143 { --round-tr: 17.875rem; --round-br: 17.875rem }
.rr-144 { --round-tr: 18.000rem; --round-br: 18.000rem }
.rr-145 { --round-tr: 18.125rem; --round-br: 18.125rem }
.rr-146 { --round-tr: 18.250rem; --round-br: 18.250rem }
.rr-147 { --round-tr: 18.375rem; --round-br: 18.375rem }
.rr-148 { --round-tr: 18.500rem; --round-br: 18.500rem }
.rr-149 { --round-tr: 18.625rem; --round-br: 18.625rem }
.rr-150 { --round-tr: 18.750rem; --round-br: 18.750rem }
.rr-151 { --round-tr: 18.875rem; --round-br: 18.875rem }
.rr-152 { --round-tr: 19.000rem; --round-br: 19.000rem }
.rr-153 { --round-tr: 19.125rem; --round-br: 19.125rem }
.rr-154 { --round-tr: 19.250rem; --round-br: 19.250rem }
.rr-155 { --round-tr: 19.375rem; --round-br: 19.375rem }
.rr-156 { --round-tr: 19.500rem; --round-br: 19.500rem }
.rr-157 { --round-tr: 19.625rem; --round-br: 19.625rem }
.rr-158 { --round-tr: 19.750rem; --round-br: 19.750rem }
.rr-159 { --round-tr: 19.875rem; --round-br: 19.875rem }
.rr-160 { --round-tr: 20.000rem; --round-br: 20.000rem }
.rr-161 { --round-tr: 20.125rem; --round-br: 20.125rem }
.rr-162 { --round-tr: 20.250rem; --round-br: 20.250rem }
.rr-163 { --round-tr: 20.375rem; --round-br: 20.375rem }
.rr-164 { --round-tr: 20.500rem; --round-br: 20.500rem }
.rr-165 { --round-tr: 20.625rem; --round-br: 20.625rem }
.rr-166 { --round-tr: 20.750rem; --round-br: 20.750rem }
.rr-167 { --round-tr: 20.875rem; --round-br: 20.875rem }
.rr-168 { --round-tr: 21.000rem; --round-br: 21.000rem }
.rr-169 { --round-tr: 21.125rem; --round-br: 21.125rem }
.rr-170 { --round-tr: 21.250rem; --round-br: 21.250rem }
.rr-171 { --round-tr: 21.375rem; --round-br: 21.375rem }
.rr-172 { --round-tr: 21.500rem; --round-br: 21.500rem }
.rr-173 { --round-tr: 21.625rem; --round-br: 21.625rem }
.rr-174 { --round-tr: 21.750rem; --round-br: 21.750rem }
.rr-175 { --round-tr: 21.875rem; --round-br: 21.875rem }
.rr-176 { --round-tr: 22.000rem; --round-br: 22.000rem }
.rr-177 { --round-tr: 22.125rem; --round-br: 22.125rem }
.rr-178 { --round-tr: 22.250rem; --round-br: 22.250rem }
.rr-179 { --round-tr: 22.375rem; --round-br: 22.375rem }
.rr-180 { --round-tr: 22.500rem; --round-br: 22.500rem }
.rr-181 { --round-tr: 22.625rem; --round-br: 22.625rem }
.rr-182 { --round-tr: 22.750rem; --round-br: 22.750rem }
.rr-183 { --round-tr: 22.875rem; --round-br: 22.875rem }
.rr-184 { --round-tr: 23.000rem; --round-br: 23.000rem }
.rr-185 { --round-tr: 23.125rem; --round-br: 23.125rem }
.rr-186 { --round-tr: 23.250rem; --round-br: 23.250rem }
.rr-187 { --round-tr: 23.375rem; --round-br: 23.375rem }
.rr-188 { --round-tr: 23.500rem; --round-br: 23.500rem }
.rr-189 { --round-tr: 23.625rem; --round-br: 23.625rem }
.rr-190 { --round-tr: 23.750rem; --round-br: 23.750rem }
.rr-191 { --round-tr: 23.875rem; --round-br: 23.875rem }
.rr-192 { --round-tr: 24.000rem; --round-br: 24.000rem }
.rr-193 { --round-tr: 24.125rem; --round-br: 24.125rem }
.rr-194 { --round-tr: 24.250rem; --round-br: 24.250rem }
.rr-195 { --round-tr: 24.375rem; --round-br: 24.375rem }
.rr-196 { --round-tr: 24.500rem; --round-br: 24.500rem }
.rr-197 { --round-tr: 24.625rem; --round-br: 24.625rem }
.rr-198 { --round-tr: 24.750rem; --round-br: 24.750rem }
.rr-199 { --round-tr: 24.875rem; --round-br: 24.875rem }
.rr-200 { --round-tr: 25.000rem; --round-br: 25.000rem }
.rr-201 { --round-tr: 25.125rem; --round-br: 25.125rem }
.rr-202 { --round-tr: 25.250rem; --round-br: 25.250rem }
.rr-203 { --round-tr: 25.375rem; --round-br: 25.375rem }
.rr-204 { --round-tr: 25.500rem; --round-br: 25.500rem }
.rr-205 { --round-tr: 25.625rem; --round-br: 25.625rem }
.rr-206 { --round-tr: 25.750rem; --round-br: 25.750rem }
.rr-207 { --round-tr: 25.875rem; --round-br: 25.875rem }
.rr-208 { --round-tr: 26.000rem; --round-br: 26.000rem }
.rr-209 { --round-tr: 26.125rem; --round-br: 26.125rem }
.rr-210 { --round-tr: 26.250rem; --round-br: 26.250rem }
.rr-211 { --round-tr: 26.375rem; --round-br: 26.375rem }
.rr-212 { --round-tr: 26.500rem; --round-br: 26.500rem }
.rr-213 { --round-tr: 26.625rem; --round-br: 26.625rem }
.rr-214 { --round-tr: 26.750rem; --round-br: 26.750rem }
.rr-215 { --round-tr: 26.875rem; --round-br: 26.875rem }
.rr-216 { --round-tr: 27.000rem; --round-br: 27.000rem }
.rr-217 { --round-tr: 27.125rem; --round-br: 27.125rem }
.rr-218 { --round-tr: 27.250rem; --round-br: 27.250rem }
.rr-219 { --round-tr: 27.375rem; --round-br: 27.375rem }
.rr-220 { --round-tr: 27.500rem; --round-br: 27.500rem }
.rr-221 { --round-tr: 27.625rem; --round-br: 27.625rem }
.rr-222 { --round-tr: 27.750rem; --round-br: 27.750rem }
.rr-223 { --round-tr: 27.875rem; --round-br: 27.875rem }
.rr-224 { --round-tr: 28.000rem; --round-br: 28.000rem }
.rr-225 { --round-tr: 28.125rem; --round-br: 28.125rem }
.rr-226 { --round-tr: 28.250rem; --round-br: 28.250rem }
.rr-227 { --round-tr: 28.375rem; --round-br: 28.375rem }
.rr-228 { --round-tr: 28.500rem; --round-br: 28.500rem }
.rr-229 { --round-tr: 28.625rem; --round-br: 28.625rem }
.rr-230 { --round-tr: 28.750rem; --round-br: 28.750rem }
.rr-231 { --round-tr: 28.875rem; --round-br: 28.875rem }
.rr-232 { --round-tr: 29.000rem; --round-br: 29.000rem }
.rr-233 { --round-tr: 29.125rem; --round-br: 29.125rem }
.rr-234 { --round-tr: 29.250rem; --round-br: 29.250rem }
.rr-235 { --round-tr: 29.375rem; --round-br: 29.375rem }
.rr-236 { --round-tr: 29.500rem; --round-br: 29.500rem }
.rr-237 { --round-tr: 29.625rem; --round-br: 29.625rem }
.rr-238 { --round-tr: 29.750rem; --round-br: 29.750rem }
.rr-239 { --round-tr: 29.875rem; --round-br: 29.875rem }
.rr-240 { --round-tr: 30.000rem; --round-br: 30.000rem }
.rr-241 { --round-tr: 30.125rem; --round-br: 30.125rem }
.rr-242 { --round-tr: 30.250rem; --round-br: 30.250rem }
.rr-243 { --round-tr: 30.375rem; --round-br: 30.375rem }
.rr-244 { --round-tr: 30.500rem; --round-br: 30.500rem }
.rr-245 { --round-tr: 30.625rem; --round-br: 30.625rem }
.rr-246 { --round-tr: 30.750rem; --round-br: 30.750rem }
.rr-247 { --round-tr: 30.875rem; --round-br: 30.875rem }
.rr-248 { --round-tr: 31.000rem; --round-br: 31.000rem }
.rr-249 { --round-tr: 31.125rem; --round-br: 31.125rem }
.rr-250 { --round-tr: 31.250rem; --round-br: 31.250rem }
.rr-251 { --round-tr: 31.375rem; --round-br: 31.375rem }
.rr-252 { --round-tr: 31.500rem; --round-br: 31.500rem }
.rr-253 { --round-tr: 31.625rem; --round-br: 31.625rem }
.rr-254 { --round-tr: 31.750rem; --round-br: 31.750rem }
.rr-255 { --round-tr: 31.875rem; --round-br: 31.875rem }
.rr-256 { --round-tr: 32.000rem; --round-br: 32.000rem }
.rr-1\/2 { --round-tr: 50.000%; --round-br: 50.000% }
.rr-1\/3 { --round-tr: 33.333%; --round-br: 33.333% }
.rr-2\/3 { --round-tr: 66.667%; --round-br: 66.667% }
.rr-1\/4 { --round-tr: 25.000%; --round-br: 25.000% }
.rr-3\/4 { --round-tr: 75.000%; --round-br: 75.000% }
.rr-1\/5 { --round-tr: 20.000%; --round-br: 20.000% }
.rr-2\/5 { --round-tr: 40.000%; --round-br: 40.000% }
.rr-3\/5 { --round-tr: 60.000%; --round-br: 60.000% }
.rr-4\/5 { --round-tr: 80.000%; --round-br: 80.000% }
.rr-1\/6 { --round-tr: 16.667%; --round-br: 16.667% }
.rr-5\/6 { --round-tr: 83.333%; --round-br: 83.333% }
.rr-1\/8 { --round-tr: 12.500%; --round-br: 12.500% }
.rr-3\/8 { --round-tr: 37.500%; --round-br: 37.500% }
.rr-5\/8 { --round-tr: 62.500%; --round-br: 62.500% }
.rr-7\/8 { --round-tr: 87.500%; --round-br: 87.500% }
.rr-1\/9 { --round-tr: 11.111%; --round-br: 11.111% }
.rr-2\/9 { --round-tr: 22.222%; --round-br: 22.222% }
.rr-4\/9 { --round-tr: 44.444%; --round-br: 44.444% }
.rr-5\/9 { --round-tr: 55.556%; --round-br: 55.556% }
.rr-7\/9 { --round-tr: 77.778%; --round-br: 77.778% }
.rr-8\/9 { --round-tr: 88.889%; --round-br: 88.889% }
.rr-1\/10 { --round-tr: 10.000%; --round-br: 10.000% }
.rr-3\/10 { --round-tr: 30.000%; --round-br: 30.000% }
.rr-7\/10 { --round-tr: 70.000%; --round-br: 70.000% }
.rr-9\/10 { --round-tr: 90.000%; --round-br: 90.000% }
.rr-1\/12 { --round-tr: 8.333%; --round-br: 8.333% }
.rr-5\/12 { --round-tr: 41.667%; --round-br: 41.667% }
.rr-7\/12 { --round-tr: 58.333%; --round-br: 58.333% }
.rr-11\/12 { --round-tr: 91.667%; --round-br: 91.667% }
.rr-1\/16 { --round-tr: 6.250%; --round-br: 6.250% }
.rr-3\/16 { --round-tr: 18.750%; --round-br: 18.750% }
.rr-5\/16 { --round-tr: 31.250%; --round-br: 31.250% }
.rr-7\/16 { --round-tr: 43.750%; --round-br: 43.750% }
.rr-9\/16 { --round-tr: 56.250%; --round-br: 56.250% }
.rr-11\/16 { --round-tr: 68.750%; --round-br: 68.750% }
.rr-13\/16 { --round-tr: 81.250%; --round-br: 81.250% }
.rr-15\/16 { --round-tr: 93.750%; --round-br: 93.750% }