.rr-0 { border-top-right-radius: 0.000rem; border-bottom-right-radius: 0.000rem }
.rr-1 { border-top-right-radius: 0.125rem; border-bottom-right-radius: 0.125rem }
.rr-2 { border-top-right-radius: 0.250rem; border-bottom-right-radius: 0.250rem }
.rr-3 { border-top-right-radius: 0.375rem; border-bottom-right-radius: 0.375rem }
.rr-4 { border-top-right-radius: 0.500rem; border-bottom-right-radius: 0.500rem }
.rr-5 { border-top-right-radius: 0.625rem; border-bottom-right-radius: 0.625rem }
.rr-6 { border-top-right-radius: 0.750rem; border-bottom-right-radius: 0.750rem }
.rr-7 { border-top-right-radius: 0.875rem; border-bottom-right-radius: 0.875rem }
.rr-8 { border-top-right-radius: 1.000rem; border-bottom-right-radius: 1.000rem }
.rr-9 { border-top-right-radius: 1.125rem; border-bottom-right-radius: 1.125rem }
.rr-10 { border-top-right-radius: 1.250rem; border-bottom-right-radius: 1.250rem }
.rr-11 { border-top-right-radius: 1.375rem; border-bottom-right-radius: 1.375rem }
.rr-12 { border-top-right-radius: 1.500rem; border-bottom-right-radius: 1.500rem }
.rr-13 { border-top-right-radius: 1.625rem; border-bottom-right-radius: 1.625rem }
.rr-14 { border-top-right-radius: 1.750rem; border-bottom-right-radius: 1.750rem }
.rr-15 { border-top-right-radius: 1.875rem; border-bottom-right-radius: 1.875rem }
.rr-16 { border-top-right-radius: 2.000rem; border-bottom-right-radius: 2.000rem }
.rr-17 { border-top-right-radius: 2.125rem; border-bottom-right-radius: 2.125rem }
.rr-18 { border-top-right-radius: 2.250rem; border-bottom-right-radius: 2.250rem }
.rr-19 { border-top-right-radius: 2.375rem; border-bottom-right-radius: 2.375rem }
.rr-20 { border-top-right-radius: 2.500rem; border-bottom-right-radius: 2.500rem }
.rr-21 { border-top-right-radius: 2.625rem; border-bottom-right-radius: 2.625rem }
.rr-22 { border-top-right-radius: 2.750rem; border-bottom-right-radius: 2.750rem }
.rr-23 { border-top-right-radius: 2.875rem; border-bottom-right-radius: 2.875rem }
.rr-24 { border-top-right-radius: 3.000rem; border-bottom-right-radius: 3.000rem }
.rr-25 { border-top-right-radius: 3.125rem; border-bottom-right-radius: 3.125rem }
.rr-26 { border-top-right-radius: 3.250rem; border-bottom-right-radius: 3.250rem }
.rr-27 { border-top-right-radius: 3.375rem; border-bottom-right-radius: 3.375rem }
.rr-28 { border-top-right-radius: 3.500rem; border-bottom-right-radius: 3.500rem }
.rr-29 { border-top-right-radius: 3.625rem; border-bottom-right-radius: 3.625rem }
.rr-30 { border-top-right-radius: 3.750rem; border-bottom-right-radius: 3.750rem }
.rr-31 { border-top-right-radius: 3.875rem; border-bottom-right-radius: 3.875rem }
.rr-32 { border-top-right-radius: 4.000rem; border-bottom-right-radius: 4.000rem }
.rr-33 { border-top-right-radius: 4.125rem; border-bottom-right-radius: 4.125rem }
.rr-34 { border-top-right-radius: 4.250rem; border-bottom-right-radius: 4.250rem }
.rr-35 { border-top-right-radius: 4.375rem; border-bottom-right-radius: 4.375rem }
.rr-36 { border-top-right-radius: 4.500rem; border-bottom-right-radius: 4.500rem }
.rr-37 { border-top-right-radius: 4.625rem; border-bottom-right-radius: 4.625rem }
.rr-38 { border-top-right-radius: 4.750rem; border-bottom-right-radius: 4.750rem }
.rr-39 { border-top-right-radius: 4.875rem; border-bottom-right-radius: 4.875rem }
.rr-40 { border-top-right-radius: 5.000rem; border-bottom-right-radius: 5.000rem }
.rr-41 { border-top-right-radius: 5.125rem; border-bottom-right-radius: 5.125rem }
.rr-42 { border-top-right-radius: 5.250rem; border-bottom-right-radius: 5.250rem }
.rr-43 { border-top-right-radius: 5.375rem; border-bottom-right-radius: 5.375rem }
.rr-44 { border-top-right-radius: 5.500rem; border-bottom-right-radius: 5.500rem }
.rr-45 { border-top-right-radius: 5.625rem; border-bottom-right-radius: 5.625rem }
.rr-46 { border-top-right-radius: 5.750rem; border-bottom-right-radius: 5.750rem }
.rr-47 { border-top-right-radius: 5.875rem; border-bottom-right-radius: 5.875rem }
.rr-48 { border-top-right-radius: 6.000rem; border-bottom-right-radius: 6.000rem }
.rr-49 { border-top-right-radius: 6.125rem; border-bottom-right-radius: 6.125rem }
.rr-50 { border-top-right-radius: 6.250rem; border-bottom-right-radius: 6.250rem }
.rr-51 { border-top-right-radius: 6.375rem; border-bottom-right-radius: 6.375rem }
.rr-52 { border-top-right-radius: 6.500rem; border-bottom-right-radius: 6.500rem }
.rr-53 { border-top-right-radius: 6.625rem; border-bottom-right-radius: 6.625rem }
.rr-54 { border-top-right-radius: 6.750rem; border-bottom-right-radius: 6.750rem }
.rr-55 { border-top-right-radius: 6.875rem; border-bottom-right-radius: 6.875rem }
.rr-56 { border-top-right-radius: 7.000rem; border-bottom-right-radius: 7.000rem }
.rr-57 { border-top-right-radius: 7.125rem; border-bottom-right-radius: 7.125rem }
.rr-58 { border-top-right-radius: 7.250rem; border-bottom-right-radius: 7.250rem }
.rr-59 { border-top-right-radius: 7.375rem; border-bottom-right-radius: 7.375rem }
.rr-60 { border-top-right-radius: 7.500rem; border-bottom-right-radius: 7.500rem }
.rr-61 { border-top-right-radius: 7.625rem; border-bottom-right-radius: 7.625rem }
.rr-62 { border-top-right-radius: 7.750rem; border-bottom-right-radius: 7.750rem }
.rr-63 { border-top-right-radius: 7.875rem; border-bottom-right-radius: 7.875rem }
.rr-64 { border-top-right-radius: 8.000rem; border-bottom-right-radius: 8.000rem }
.rr-65 { border-top-right-radius: 8.125rem; border-bottom-right-radius: 8.125rem }
.rr-66 { border-top-right-radius: 8.250rem; border-bottom-right-radius: 8.250rem }
.rr-67 { border-top-right-radius: 8.375rem; border-bottom-right-radius: 8.375rem }
.rr-68 { border-top-right-radius: 8.500rem; border-bottom-right-radius: 8.500rem }
.rr-69 { border-top-right-radius: 8.625rem; border-bottom-right-radius: 8.625rem }
.rr-70 { border-top-right-radius: 8.750rem; border-bottom-right-radius: 8.750rem }
.rr-71 { border-top-right-radius: 8.875rem; border-bottom-right-radius: 8.875rem }
.rr-72 { border-top-right-radius: 9.000rem; border-bottom-right-radius: 9.000rem }
.rr-73 { border-top-right-radius: 9.125rem; border-bottom-right-radius: 9.125rem }
.rr-74 { border-top-right-radius: 9.250rem; border-bottom-right-radius: 9.250rem }
.rr-75 { border-top-right-radius: 9.375rem; border-bottom-right-radius: 9.375rem }
.rr-76 { border-top-right-radius: 9.500rem; border-bottom-right-radius: 9.500rem }
.rr-77 { border-top-right-radius: 9.625rem; border-bottom-right-radius: 9.625rem }
.rr-78 { border-top-right-radius: 9.750rem; border-bottom-right-radius: 9.750rem }
.rr-79 { border-top-right-radius: 9.875rem; border-bottom-right-radius: 9.875rem }
.rr-80 { border-top-right-radius: 10.000rem; border-bottom-right-radius: 10.000rem }
.rr-81 { border-top-right-radius: 10.125rem; border-bottom-right-radius: 10.125rem }
.rr-82 { border-top-right-radius: 10.250rem; border-bottom-right-radius: 10.250rem }
.rr-83 { border-top-right-radius: 10.375rem; border-bottom-right-radius: 10.375rem }
.rr-84 { border-top-right-radius: 10.500rem; border-bottom-right-radius: 10.500rem }
.rr-85 { border-top-right-radius: 10.625rem; border-bottom-right-radius: 10.625rem }
.rr-86 { border-top-right-radius: 10.750rem; border-bottom-right-radius: 10.750rem }
.rr-87 { border-top-right-radius: 10.875rem; border-bottom-right-radius: 10.875rem }
.rr-88 { border-top-right-radius: 11.000rem; border-bottom-right-radius: 11.000rem }
.rr-89 { border-top-right-radius: 11.125rem; border-bottom-right-radius: 11.125rem }
.rr-90 { border-top-right-radius: 11.250rem; border-bottom-right-radius: 11.250rem }
.rr-91 { border-top-right-radius: 11.375rem; border-bottom-right-radius: 11.375rem }
.rr-92 { border-top-right-radius: 11.500rem; border-bottom-right-radius: 11.500rem }
.rr-93 { border-top-right-radius: 11.625rem; border-bottom-right-radius: 11.625rem }
.rr-94 { border-top-right-radius: 11.750rem; border-bottom-right-radius: 11.750rem }
.rr-95 { border-top-right-radius: 11.875rem; border-bottom-right-radius: 11.875rem }
.rr-96 { border-top-right-radius: 12.000rem; border-bottom-right-radius: 12.000rem }
.rr-97 { border-top-right-radius: 12.125rem; border-bottom-right-radius: 12.125rem }
.rr-98 { border-top-right-radius: 12.250rem; border-bottom-right-radius: 12.250rem }
.rr-99 { border-top-right-radius: 12.375rem; border-bottom-right-radius: 12.375rem }
.rr-100 { border-top-right-radius: 12.500rem; border-bottom-right-radius: 12.500rem }
.rr-101 { border-top-right-radius: 12.625rem; border-bottom-right-radius: 12.625rem }
.rr-102 { border-top-right-radius: 12.750rem; border-bottom-right-radius: 12.750rem }
.rr-103 { border-top-right-radius: 12.875rem; border-bottom-right-radius: 12.875rem }
.rr-104 { border-top-right-radius: 13.000rem; border-bottom-right-radius: 13.000rem }
.rr-105 { border-top-right-radius: 13.125rem; border-bottom-right-radius: 13.125rem }
.rr-106 { border-top-right-radius: 13.250rem; border-bottom-right-radius: 13.250rem }
.rr-107 { border-top-right-radius: 13.375rem; border-bottom-right-radius: 13.375rem }
.rr-108 { border-top-right-radius: 13.500rem; border-bottom-right-radius: 13.500rem }
.rr-109 { border-top-right-radius: 13.625rem; border-bottom-right-radius: 13.625rem }
.rr-110 { border-top-right-radius: 13.750rem; border-bottom-right-radius: 13.750rem }
.rr-111 { border-top-right-radius: 13.875rem; border-bottom-right-radius: 13.875rem }
.rr-112 { border-top-right-radius: 14.000rem; border-bottom-right-radius: 14.000rem }
.rr-113 { border-top-right-radius: 14.125rem; border-bottom-right-radius: 14.125rem }
.rr-114 { border-top-right-radius: 14.250rem; border-bottom-right-radius: 14.250rem }
.rr-115 { border-top-right-radius: 14.375rem; border-bottom-right-radius: 14.375rem }
.rr-116 { border-top-right-radius: 14.500rem; border-bottom-right-radius: 14.500rem }
.rr-117 { border-top-right-radius: 14.625rem; border-bottom-right-radius: 14.625rem }
.rr-118 { border-top-right-radius: 14.750rem; border-bottom-right-radius: 14.750rem }
.rr-119 { border-top-right-radius: 14.875rem; border-bottom-right-radius: 14.875rem }
.rr-120 { border-top-right-radius: 15.000rem; border-bottom-right-radius: 15.000rem }
.rr-121 { border-top-right-radius: 15.125rem; border-bottom-right-radius: 15.125rem }
.rr-122 { border-top-right-radius: 15.250rem; border-bottom-right-radius: 15.250rem }
.rr-123 { border-top-right-radius: 15.375rem; border-bottom-right-radius: 15.375rem }
.rr-124 { border-top-right-radius: 15.500rem; border-bottom-right-radius: 15.500rem }
.rr-125 { border-top-right-radius: 15.625rem; border-bottom-right-radius: 15.625rem }
.rr-126 { border-top-right-radius: 15.750rem; border-bottom-right-radius: 15.750rem }
.rr-127 { border-top-right-radius: 15.875rem; border-bottom-right-radius: 15.875rem }
.rr-128 { border-top-right-radius: 16.000rem; border-bottom-right-radius: 16.000rem }
.rr-129 { border-top-right-radius: 16.125rem; border-bottom-right-radius: 16.125rem }
.rr-130 { border-top-right-radius: 16.250rem; border-bottom-right-radius: 16.250rem }
.rr-131 { border-top-right-radius: 16.375rem; border-bottom-right-radius: 16.375rem }
.rr-132 { border-top-right-radius: 16.500rem; border-bottom-right-radius: 16.500rem }
.rr-133 { border-top-right-radius: 16.625rem; border-bottom-right-radius: 16.625rem }
.rr-134 { border-top-right-radius: 16.750rem; border-bottom-right-radius: 16.750rem }
.rr-135 { border-top-right-radius: 16.875rem; border-bottom-right-radius: 16.875rem }
.rr-136 { border-top-right-radius: 17.000rem; border-bottom-right-radius: 17.000rem }
.rr-137 { border-top-right-radius: 17.125rem; border-bottom-right-radius: 17.125rem }
.rr-138 { border-top-right-radius: 17.250rem; border-bottom-right-radius: 17.250rem }
.rr-139 { border-top-right-radius: 17.375rem; border-bottom-right-radius: 17.375rem }
.rr-140 { border-top-right-radius: 17.500rem; border-bottom-right-radius: 17.500rem }
.rr-141 { border-top-right-radius: 17.625rem; border-bottom-right-radius: 17.625rem }
.rr-142 { border-top-right-radius: 17.750rem; border-bottom-right-radius: 17.750rem }
.rr-143 { border-top-right-radius: 17.875rem; border-bottom-right-radius: 17.875rem }
.rr-144 { border-top-right-radius: 18.000rem; border-bottom-right-radius: 18.000rem }
.rr-145 { border-top-right-radius: 18.125rem; border-bottom-right-radius: 18.125rem }
.rr-146 { border-top-right-radius: 18.250rem; border-bottom-right-radius: 18.250rem }
.rr-147 { border-top-right-radius: 18.375rem; border-bottom-right-radius: 18.375rem }
.rr-148 { border-top-right-radius: 18.500rem; border-bottom-right-radius: 18.500rem }
.rr-149 { border-top-right-radius: 18.625rem; border-bottom-right-radius: 18.625rem }
.rr-150 { border-top-right-radius: 18.750rem; border-bottom-right-radius: 18.750rem }
.rr-151 { border-top-right-radius: 18.875rem; border-bottom-right-radius: 18.875rem }
.rr-152 { border-top-right-radius: 19.000rem; border-bottom-right-radius: 19.000rem }
.rr-153 { border-top-right-radius: 19.125rem; border-bottom-right-radius: 19.125rem }
.rr-154 { border-top-right-radius: 19.250rem; border-bottom-right-radius: 19.250rem }
.rr-155 { border-top-right-radius: 19.375rem; border-bottom-right-radius: 19.375rem }
.rr-156 { border-top-right-radius: 19.500rem; border-bottom-right-radius: 19.500rem }
.rr-157 { border-top-right-radius: 19.625rem; border-bottom-right-radius: 19.625rem }
.rr-158 { border-top-right-radius: 19.750rem; border-bottom-right-radius: 19.750rem }
.rr-159 { border-top-right-radius: 19.875rem; border-bottom-right-radius: 19.875rem }
.rr-160 { border-top-right-radius: 20.000rem; border-bottom-right-radius: 20.000rem }
.rr-161 { border-top-right-radius: 20.125rem; border-bottom-right-radius: 20.125rem }
.rr-162 { border-top-right-radius: 20.250rem; border-bottom-right-radius: 20.250rem }
.rr-163 { border-top-right-radius: 20.375rem; border-bottom-right-radius: 20.375rem }
.rr-164 { border-top-right-radius: 20.500rem; border-bottom-right-radius: 20.500rem }
.rr-165 { border-top-right-radius: 20.625rem; border-bottom-right-radius: 20.625rem }
.rr-166 { border-top-right-radius: 20.750rem; border-bottom-right-radius: 20.750rem }
.rr-167 { border-top-right-radius: 20.875rem; border-bottom-right-radius: 20.875rem }
.rr-168 { border-top-right-radius: 21.000rem; border-bottom-right-radius: 21.000rem }
.rr-169 { border-top-right-radius: 21.125rem; border-bottom-right-radius: 21.125rem }
.rr-170 { border-top-right-radius: 21.250rem; border-bottom-right-radius: 21.250rem }
.rr-171 { border-top-right-radius: 21.375rem; border-bottom-right-radius: 21.375rem }
.rr-172 { border-top-right-radius: 21.500rem; border-bottom-right-radius: 21.500rem }
.rr-173 { border-top-right-radius: 21.625rem; border-bottom-right-radius: 21.625rem }
.rr-174 { border-top-right-radius: 21.750rem; border-bottom-right-radius: 21.750rem }
.rr-175 { border-top-right-radius: 21.875rem; border-bottom-right-radius: 21.875rem }
.rr-176 { border-top-right-radius: 22.000rem; border-bottom-right-radius: 22.000rem }
.rr-177 { border-top-right-radius: 22.125rem; border-bottom-right-radius: 22.125rem }
.rr-178 { border-top-right-radius: 22.250rem; border-bottom-right-radius: 22.250rem }
.rr-179 { border-top-right-radius: 22.375rem; border-bottom-right-radius: 22.375rem }
.rr-180 { border-top-right-radius: 22.500rem; border-bottom-right-radius: 22.500rem }
.rr-181 { border-top-right-radius: 22.625rem; border-bottom-right-radius: 22.625rem }
.rr-182 { border-top-right-radius: 22.750rem; border-bottom-right-radius: 22.750rem }
.rr-183 { border-top-right-radius: 22.875rem; border-bottom-right-radius: 22.875rem }
.rr-184 { border-top-right-radius: 23.000rem; border-bottom-right-radius: 23.000rem }
.rr-185 { border-top-right-radius: 23.125rem; border-bottom-right-radius: 23.125rem }
.rr-186 { border-top-right-radius: 23.250rem; border-bottom-right-radius: 23.250rem }
.rr-187 { border-top-right-radius: 23.375rem; border-bottom-right-radius: 23.375rem }
.rr-188 { border-top-right-radius: 23.500rem; border-bottom-right-radius: 23.500rem }
.rr-189 { border-top-right-radius: 23.625rem; border-bottom-right-radius: 23.625rem }
.rr-190 { border-top-right-radius: 23.750rem; border-bottom-right-radius: 23.750rem }
.rr-191 { border-top-right-radius: 23.875rem; border-bottom-right-radius: 23.875rem }
.rr-192 { border-top-right-radius: 24.000rem; border-bottom-right-radius: 24.000rem }
.rr-193 { border-top-right-radius: 24.125rem; border-bottom-right-radius: 24.125rem }
.rr-194 { border-top-right-radius: 24.250rem; border-bottom-right-radius: 24.250rem }
.rr-195 { border-top-right-radius: 24.375rem; border-bottom-right-radius: 24.375rem }
.rr-196 { border-top-right-radius: 24.500rem; border-bottom-right-radius: 24.500rem }
.rr-197 { border-top-right-radius: 24.625rem; border-bottom-right-radius: 24.625rem }
.rr-198 { border-top-right-radius: 24.750rem; border-bottom-right-radius: 24.750rem }
.rr-199 { border-top-right-radius: 24.875rem; border-bottom-right-radius: 24.875rem }
.rr-200 { border-top-right-radius: 25.000rem; border-bottom-right-radius: 25.000rem }
.rr-201 { border-top-right-radius: 25.125rem; border-bottom-right-radius: 25.125rem }
.rr-202 { border-top-right-radius: 25.250rem; border-bottom-right-radius: 25.250rem }
.rr-203 { border-top-right-radius: 25.375rem; border-bottom-right-radius: 25.375rem }
.rr-204 { border-top-right-radius: 25.500rem; border-bottom-right-radius: 25.500rem }
.rr-205 { border-top-right-radius: 25.625rem; border-bottom-right-radius: 25.625rem }
.rr-206 { border-top-right-radius: 25.750rem; border-bottom-right-radius: 25.750rem }
.rr-207 { border-top-right-radius: 25.875rem; border-bottom-right-radius: 25.875rem }
.rr-208 { border-top-right-radius: 26.000rem; border-bottom-right-radius: 26.000rem }
.rr-209 { border-top-right-radius: 26.125rem; border-bottom-right-radius: 26.125rem }
.rr-210 { border-top-right-radius: 26.250rem; border-bottom-right-radius: 26.250rem }
.rr-211 { border-top-right-radius: 26.375rem; border-bottom-right-radius: 26.375rem }
.rr-212 { border-top-right-radius: 26.500rem; border-bottom-right-radius: 26.500rem }
.rr-213 { border-top-right-radius: 26.625rem; border-bottom-right-radius: 26.625rem }
.rr-214 { border-top-right-radius: 26.750rem; border-bottom-right-radius: 26.750rem }
.rr-215 { border-top-right-radius: 26.875rem; border-bottom-right-radius: 26.875rem }
.rr-216 { border-top-right-radius: 27.000rem; border-bottom-right-radius: 27.000rem }
.rr-217 { border-top-right-radius: 27.125rem; border-bottom-right-radius: 27.125rem }
.rr-218 { border-top-right-radius: 27.250rem; border-bottom-right-radius: 27.250rem }
.rr-219 { border-top-right-radius: 27.375rem; border-bottom-right-radius: 27.375rem }
.rr-220 { border-top-right-radius: 27.500rem; border-bottom-right-radius: 27.500rem }
.rr-221 { border-top-right-radius: 27.625rem; border-bottom-right-radius: 27.625rem }
.rr-222 { border-top-right-radius: 27.750rem; border-bottom-right-radius: 27.750rem }
.rr-223 { border-top-right-radius: 27.875rem; border-bottom-right-radius: 27.875rem }
.rr-224 { border-top-right-radius: 28.000rem; border-bottom-right-radius: 28.000rem }
.rr-225 { border-top-right-radius: 28.125rem; border-bottom-right-radius: 28.125rem }
.rr-226 { border-top-right-radius: 28.250rem; border-bottom-right-radius: 28.250rem }
.rr-227 { border-top-right-radius: 28.375rem; border-bottom-right-radius: 28.375rem }
.rr-228 { border-top-right-radius: 28.500rem; border-bottom-right-radius: 28.500rem }
.rr-229 { border-top-right-radius: 28.625rem; border-bottom-right-radius: 28.625rem }
.rr-230 { border-top-right-radius: 28.750rem; border-bottom-right-radius: 28.750rem }
.rr-231 { border-top-right-radius: 28.875rem; border-bottom-right-radius: 28.875rem }
.rr-232 { border-top-right-radius: 29.000rem; border-bottom-right-radius: 29.000rem }
.rr-233 { border-top-right-radius: 29.125rem; border-bottom-right-radius: 29.125rem }
.rr-234 { border-top-right-radius: 29.250rem; border-bottom-right-radius: 29.250rem }
.rr-235 { border-top-right-radius: 29.375rem; border-bottom-right-radius: 29.375rem }
.rr-236 { border-top-right-radius: 29.500rem; border-bottom-right-radius: 29.500rem }
.rr-237 { border-top-right-radius: 29.625rem; border-bottom-right-radius: 29.625rem }
.rr-238 { border-top-right-radius: 29.750rem; border-bottom-right-radius: 29.750rem }
.rr-239 { border-top-right-radius: 29.875rem; border-bottom-right-radius: 29.875rem }
.rr-240 { border-top-right-radius: 30.000rem; border-bottom-right-radius: 30.000rem }
.rr-241 { border-top-right-radius: 30.125rem; border-bottom-right-radius: 30.125rem }
.rr-242 { border-top-right-radius: 30.250rem; border-bottom-right-radius: 30.250rem }
.rr-243 { border-top-right-radius: 30.375rem; border-bottom-right-radius: 30.375rem }
.rr-244 { border-top-right-radius: 30.500rem; border-bottom-right-radius: 30.500rem }
.rr-245 { border-top-right-radius: 30.625rem; border-bottom-right-radius: 30.625rem }
.rr-246 { border-top-right-radius: 30.750rem; border-bottom-right-radius: 30.750rem }
.rr-247 { border-top-right-radius: 30.875rem; border-bottom-right-radius: 30.875rem }
.rr-248 { border-top-right-radius: 31.000rem; border-bottom-right-radius: 31.000rem }
.rr-249 { border-top-right-radius: 31.125rem; border-bottom-right-radius: 31.125rem }
.rr-250 { border-top-right-radius: 31.250rem; border-bottom-right-radius: 31.250rem }
.rr-251 { border-top-right-radius: 31.375rem; border-bottom-right-radius: 31.375rem }
.rr-252 { border-top-right-radius: 31.500rem; border-bottom-right-radius: 31.500rem }
.rr-253 { border-top-right-radius: 31.625rem; border-bottom-right-radius: 31.625rem }
.rr-254 { border-top-right-radius: 31.750rem; border-bottom-right-radius: 31.750rem }
.rr-255 { border-top-right-radius: 31.875rem; border-bottom-right-radius: 31.875rem }
.rr-256 { border-top-right-radius: 32.000rem; border-bottom-right-radius: 32.000rem }
.rr-1\/2 { border-top-right-radius: 50.000%; border-bottom-right-radius: 50.000% }
.rr-1\/3 { border-top-right-radius: 33.333%; border-bottom-right-radius: 33.333% }
.rr-2\/3 { border-top-right-radius: 66.667%; border-bottom-right-radius: 66.667% }
.rr-1\/4 { border-top-right-radius: 25.000%; border-bottom-right-radius: 25.000% }
.rr-3\/4 { border-top-right-radius: 75.000%; border-bottom-right-radius: 75.000% }
.rr-1\/5 { border-top-right-radius: 20.000%; border-bottom-right-radius: 20.000% }
.rr-2\/5 { border-top-right-radius: 40.000%; border-bottom-right-radius: 40.000% }
.rr-3\/5 { border-top-right-radius: 60.000%; border-bottom-right-radius: 60.000% }
.rr-4\/5 { border-top-right-radius: 80.000%; border-bottom-right-radius: 80.000% }
.rr-1\/6 { border-top-right-radius: 16.667%; border-bottom-right-radius: 16.667% }
.rr-5\/6 { border-top-right-radius: 83.333%; border-bottom-right-radius: 83.333% }
.rr-1\/8 { border-top-right-radius: 12.500%; border-bottom-right-radius: 12.500% }
.rr-3\/8 { border-top-right-radius: 37.500%; border-bottom-right-radius: 37.500% }
.rr-5\/8 { border-top-right-radius: 62.500%; border-bottom-right-radius: 62.500% }
.rr-7\/8 { border-top-right-radius: 87.500%; border-bottom-right-radius: 87.500% }
.rr-1\/9 { border-top-right-radius: 11.111%; border-bottom-right-radius: 11.111% }
.rr-2\/9 { border-top-right-radius: 22.222%; border-bottom-right-radius: 22.222% }
.rr-4\/9 { border-top-right-radius: 44.444%; border-bottom-right-radius: 44.444% }
.rr-5\/9 { border-top-right-radius: 55.556%; border-bottom-right-radius: 55.556% }
.rr-7\/9 { border-top-right-radius: 77.778%; border-bottom-right-radius: 77.778% }
.rr-8\/9 { border-top-right-radius: 88.889%; border-bottom-right-radius: 88.889% }
.rr-1\/10 { border-top-right-radius: 10.000%; border-bottom-right-radius: 10.000% }
.rr-3\/10 { border-top-right-radius: 30.000%; border-bottom-right-radius: 30.000% }
.rr-7\/10 { border-top-right-radius: 70.000%; border-bottom-right-radius: 70.000% }
.rr-9\/10 { border-top-right-radius: 90.000%; border-bottom-right-radius: 90.000% }
.rr-1\/12 { border-top-right-radius: 8.333%; border-bottom-right-radius: 8.333% }
.rr-5\/12 { border-top-right-radius: 41.667%; border-bottom-right-radius: 41.667% }
.rr-7\/12 { border-top-right-radius: 58.333%; border-bottom-right-radius: 58.333% }
.rr-11\/12 { border-top-right-radius: 91.667%; border-bottom-right-radius: 91.667% }
.rr-1\/16 { border-top-right-radius: 6.250%; border-bottom-right-radius: 6.250% }
.rr-3\/16 { border-top-right-radius: 18.750%; border-bottom-right-radius: 18.750% }
.rr-5\/16 { border-top-right-radius: 31.250%; border-bottom-right-radius: 31.250% }
.rr-7\/16 { border-top-right-radius: 43.750%; border-bottom-right-radius: 43.750% }
.rr-9\/16 { border-top-right-radius: 56.250%; border-bottom-right-radius: 56.250% }
.rr-11\/16 { border-top-right-radius: 68.750%; border-bottom-right-radius: 68.750% }
.rr-13\/16 { border-top-right-radius: 81.250%; border-bottom-right-radius: 81.250% }
.rr-15\/16 { border-top-right-radius: 93.750%; border-bottom-right-radius: 93.750% }