.rt-0 { border-top-left-radius: 0.000rem; border-top-right-radius: 0.000rem }
.rt-1 { border-top-left-radius: 0.125rem; border-top-right-radius: 0.125rem }
.rt-2 { border-top-left-radius: 0.250rem; border-top-right-radius: 0.250rem }
.rt-3 { border-top-left-radius: 0.375rem; border-top-right-radius: 0.375rem }
.rt-4 { border-top-left-radius: 0.500rem; border-top-right-radius: 0.500rem }
.rt-5 { border-top-left-radius: 0.625rem; border-top-right-radius: 0.625rem }
.rt-6 { border-top-left-radius: 0.750rem; border-top-right-radius: 0.750rem }
.rt-7 { border-top-left-radius: 0.875rem; border-top-right-radius: 0.875rem }
.rt-8 { border-top-left-radius: 1.000rem; border-top-right-radius: 1.000rem }
.rt-9 { border-top-left-radius: 1.125rem; border-top-right-radius: 1.125rem }
.rt-10 { border-top-left-radius: 1.250rem; border-top-right-radius: 1.250rem }
.rt-11 { border-top-left-radius: 1.375rem; border-top-right-radius: 1.375rem }
.rt-12 { border-top-left-radius: 1.500rem; border-top-right-radius: 1.500rem }
.rt-13 { border-top-left-radius: 1.625rem; border-top-right-radius: 1.625rem }
.rt-14 { border-top-left-radius: 1.750rem; border-top-right-radius: 1.750rem }
.rt-15 { border-top-left-radius: 1.875rem; border-top-right-radius: 1.875rem }
.rt-16 { border-top-left-radius: 2.000rem; border-top-right-radius: 2.000rem }
.rt-17 { border-top-left-radius: 2.125rem; border-top-right-radius: 2.125rem }
.rt-18 { border-top-left-radius: 2.250rem; border-top-right-radius: 2.250rem }
.rt-19 { border-top-left-radius: 2.375rem; border-top-right-radius: 2.375rem }
.rt-20 { border-top-left-radius: 2.500rem; border-top-right-radius: 2.500rem }
.rt-21 { border-top-left-radius: 2.625rem; border-top-right-radius: 2.625rem }
.rt-22 { border-top-left-radius: 2.750rem; border-top-right-radius: 2.750rem }
.rt-23 { border-top-left-radius: 2.875rem; border-top-right-radius: 2.875rem }
.rt-24 { border-top-left-radius: 3.000rem; border-top-right-radius: 3.000rem }
.rt-25 { border-top-left-radius: 3.125rem; border-top-right-radius: 3.125rem }
.rt-26 { border-top-left-radius: 3.250rem; border-top-right-radius: 3.250rem }
.rt-27 { border-top-left-radius: 3.375rem; border-top-right-radius: 3.375rem }
.rt-28 { border-top-left-radius: 3.500rem; border-top-right-radius: 3.500rem }
.rt-29 { border-top-left-radius: 3.625rem; border-top-right-radius: 3.625rem }
.rt-30 { border-top-left-radius: 3.750rem; border-top-right-radius: 3.750rem }
.rt-31 { border-top-left-radius: 3.875rem; border-top-right-radius: 3.875rem }
.rt-32 { border-top-left-radius: 4.000rem; border-top-right-radius: 4.000rem }
.rt-33 { border-top-left-radius: 4.125rem; border-top-right-radius: 4.125rem }
.rt-34 { border-top-left-radius: 4.250rem; border-top-right-radius: 4.250rem }
.rt-35 { border-top-left-radius: 4.375rem; border-top-right-radius: 4.375rem }
.rt-36 { border-top-left-radius: 4.500rem; border-top-right-radius: 4.500rem }
.rt-37 { border-top-left-radius: 4.625rem; border-top-right-radius: 4.625rem }
.rt-38 { border-top-left-radius: 4.750rem; border-top-right-radius: 4.750rem }
.rt-39 { border-top-left-radius: 4.875rem; border-top-right-radius: 4.875rem }
.rt-40 { border-top-left-radius: 5.000rem; border-top-right-radius: 5.000rem }
.rt-41 { border-top-left-radius: 5.125rem; border-top-right-radius: 5.125rem }
.rt-42 { border-top-left-radius: 5.250rem; border-top-right-radius: 5.250rem }
.rt-43 { border-top-left-radius: 5.375rem; border-top-right-radius: 5.375rem }
.rt-44 { border-top-left-radius: 5.500rem; border-top-right-radius: 5.500rem }
.rt-45 { border-top-left-radius: 5.625rem; border-top-right-radius: 5.625rem }
.rt-46 { border-top-left-radius: 5.750rem; border-top-right-radius: 5.750rem }
.rt-47 { border-top-left-radius: 5.875rem; border-top-right-radius: 5.875rem }
.rt-48 { border-top-left-radius: 6.000rem; border-top-right-radius: 6.000rem }
.rt-49 { border-top-left-radius: 6.125rem; border-top-right-radius: 6.125rem }
.rt-50 { border-top-left-radius: 6.250rem; border-top-right-radius: 6.250rem }
.rt-51 { border-top-left-radius: 6.375rem; border-top-right-radius: 6.375rem }
.rt-52 { border-top-left-radius: 6.500rem; border-top-right-radius: 6.500rem }
.rt-53 { border-top-left-radius: 6.625rem; border-top-right-radius: 6.625rem }
.rt-54 { border-top-left-radius: 6.750rem; border-top-right-radius: 6.750rem }
.rt-55 { border-top-left-radius: 6.875rem; border-top-right-radius: 6.875rem }
.rt-56 { border-top-left-radius: 7.000rem; border-top-right-radius: 7.000rem }
.rt-57 { border-top-left-radius: 7.125rem; border-top-right-radius: 7.125rem }
.rt-58 { border-top-left-radius: 7.250rem; border-top-right-radius: 7.250rem }
.rt-59 { border-top-left-radius: 7.375rem; border-top-right-radius: 7.375rem }
.rt-60 { border-top-left-radius: 7.500rem; border-top-right-radius: 7.500rem }
.rt-61 { border-top-left-radius: 7.625rem; border-top-right-radius: 7.625rem }
.rt-62 { border-top-left-radius: 7.750rem; border-top-right-radius: 7.750rem }
.rt-63 { border-top-left-radius: 7.875rem; border-top-right-radius: 7.875rem }
.rt-64 { border-top-left-radius: 8.000rem; border-top-right-radius: 8.000rem }
.rt-65 { border-top-left-radius: 8.125rem; border-top-right-radius: 8.125rem }
.rt-66 { border-top-left-radius: 8.250rem; border-top-right-radius: 8.250rem }
.rt-67 { border-top-left-radius: 8.375rem; border-top-right-radius: 8.375rem }
.rt-68 { border-top-left-radius: 8.500rem; border-top-right-radius: 8.500rem }
.rt-69 { border-top-left-radius: 8.625rem; border-top-right-radius: 8.625rem }
.rt-70 { border-top-left-radius: 8.750rem; border-top-right-radius: 8.750rem }
.rt-71 { border-top-left-radius: 8.875rem; border-top-right-radius: 8.875rem }
.rt-72 { border-top-left-radius: 9.000rem; border-top-right-radius: 9.000rem }
.rt-73 { border-top-left-radius: 9.125rem; border-top-right-radius: 9.125rem }
.rt-74 { border-top-left-radius: 9.250rem; border-top-right-radius: 9.250rem }
.rt-75 { border-top-left-radius: 9.375rem; border-top-right-radius: 9.375rem }
.rt-76 { border-top-left-radius: 9.500rem; border-top-right-radius: 9.500rem }
.rt-77 { border-top-left-radius: 9.625rem; border-top-right-radius: 9.625rem }
.rt-78 { border-top-left-radius: 9.750rem; border-top-right-radius: 9.750rem }
.rt-79 { border-top-left-radius: 9.875rem; border-top-right-radius: 9.875rem }
.rt-80 { border-top-left-radius: 10.000rem; border-top-right-radius: 10.000rem }
.rt-81 { border-top-left-radius: 10.125rem; border-top-right-radius: 10.125rem }
.rt-82 { border-top-left-radius: 10.250rem; border-top-right-radius: 10.250rem }
.rt-83 { border-top-left-radius: 10.375rem; border-top-right-radius: 10.375rem }
.rt-84 { border-top-left-radius: 10.500rem; border-top-right-radius: 10.500rem }
.rt-85 { border-top-left-radius: 10.625rem; border-top-right-radius: 10.625rem }
.rt-86 { border-top-left-radius: 10.750rem; border-top-right-radius: 10.750rem }
.rt-87 { border-top-left-radius: 10.875rem; border-top-right-radius: 10.875rem }
.rt-88 { border-top-left-radius: 11.000rem; border-top-right-radius: 11.000rem }
.rt-89 { border-top-left-radius: 11.125rem; border-top-right-radius: 11.125rem }
.rt-90 { border-top-left-radius: 11.250rem; border-top-right-radius: 11.250rem }
.rt-91 { border-top-left-radius: 11.375rem; border-top-right-radius: 11.375rem }
.rt-92 { border-top-left-radius: 11.500rem; border-top-right-radius: 11.500rem }
.rt-93 { border-top-left-radius: 11.625rem; border-top-right-radius: 11.625rem }
.rt-94 { border-top-left-radius: 11.750rem; border-top-right-radius: 11.750rem }
.rt-95 { border-top-left-radius: 11.875rem; border-top-right-radius: 11.875rem }
.rt-96 { border-top-left-radius: 12.000rem; border-top-right-radius: 12.000rem }
.rt-97 { border-top-left-radius: 12.125rem; border-top-right-radius: 12.125rem }
.rt-98 { border-top-left-radius: 12.250rem; border-top-right-radius: 12.250rem }
.rt-99 { border-top-left-radius: 12.375rem; border-top-right-radius: 12.375rem }
.rt-100 { border-top-left-radius: 12.500rem; border-top-right-radius: 12.500rem }
.rt-101 { border-top-left-radius: 12.625rem; border-top-right-radius: 12.625rem }
.rt-102 { border-top-left-radius: 12.750rem; border-top-right-radius: 12.750rem }
.rt-103 { border-top-left-radius: 12.875rem; border-top-right-radius: 12.875rem }
.rt-104 { border-top-left-radius: 13.000rem; border-top-right-radius: 13.000rem }
.rt-105 { border-top-left-radius: 13.125rem; border-top-right-radius: 13.125rem }
.rt-106 { border-top-left-radius: 13.250rem; border-top-right-radius: 13.250rem }
.rt-107 { border-top-left-radius: 13.375rem; border-top-right-radius: 13.375rem }
.rt-108 { border-top-left-radius: 13.500rem; border-top-right-radius: 13.500rem }
.rt-109 { border-top-left-radius: 13.625rem; border-top-right-radius: 13.625rem }
.rt-110 { border-top-left-radius: 13.750rem; border-top-right-radius: 13.750rem }
.rt-111 { border-top-left-radius: 13.875rem; border-top-right-radius: 13.875rem }
.rt-112 { border-top-left-radius: 14.000rem; border-top-right-radius: 14.000rem }
.rt-113 { border-top-left-radius: 14.125rem; border-top-right-radius: 14.125rem }
.rt-114 { border-top-left-radius: 14.250rem; border-top-right-radius: 14.250rem }
.rt-115 { border-top-left-radius: 14.375rem; border-top-right-radius: 14.375rem }
.rt-116 { border-top-left-radius: 14.500rem; border-top-right-radius: 14.500rem }
.rt-117 { border-top-left-radius: 14.625rem; border-top-right-radius: 14.625rem }
.rt-118 { border-top-left-radius: 14.750rem; border-top-right-radius: 14.750rem }
.rt-119 { border-top-left-radius: 14.875rem; border-top-right-radius: 14.875rem }
.rt-120 { border-top-left-radius: 15.000rem; border-top-right-radius: 15.000rem }
.rt-121 { border-top-left-radius: 15.125rem; border-top-right-radius: 15.125rem }
.rt-122 { border-top-left-radius: 15.250rem; border-top-right-radius: 15.250rem }
.rt-123 { border-top-left-radius: 15.375rem; border-top-right-radius: 15.375rem }
.rt-124 { border-top-left-radius: 15.500rem; border-top-right-radius: 15.500rem }
.rt-125 { border-top-left-radius: 15.625rem; border-top-right-radius: 15.625rem }
.rt-126 { border-top-left-radius: 15.750rem; border-top-right-radius: 15.750rem }
.rt-127 { border-top-left-radius: 15.875rem; border-top-right-radius: 15.875rem }
.rt-128 { border-top-left-radius: 16.000rem; border-top-right-radius: 16.000rem }
.rt-129 { border-top-left-radius: 16.125rem; border-top-right-radius: 16.125rem }
.rt-130 { border-top-left-radius: 16.250rem; border-top-right-radius: 16.250rem }
.rt-131 { border-top-left-radius: 16.375rem; border-top-right-radius: 16.375rem }
.rt-132 { border-top-left-radius: 16.500rem; border-top-right-radius: 16.500rem }
.rt-133 { border-top-left-radius: 16.625rem; border-top-right-radius: 16.625rem }
.rt-134 { border-top-left-radius: 16.750rem; border-top-right-radius: 16.750rem }
.rt-135 { border-top-left-radius: 16.875rem; border-top-right-radius: 16.875rem }
.rt-136 { border-top-left-radius: 17.000rem; border-top-right-radius: 17.000rem }
.rt-137 { border-top-left-radius: 17.125rem; border-top-right-radius: 17.125rem }
.rt-138 { border-top-left-radius: 17.250rem; border-top-right-radius: 17.250rem }
.rt-139 { border-top-left-radius: 17.375rem; border-top-right-radius: 17.375rem }
.rt-140 { border-top-left-radius: 17.500rem; border-top-right-radius: 17.500rem }
.rt-141 { border-top-left-radius: 17.625rem; border-top-right-radius: 17.625rem }
.rt-142 { border-top-left-radius: 17.750rem; border-top-right-radius: 17.750rem }
.rt-143 { border-top-left-radius: 17.875rem; border-top-right-radius: 17.875rem }
.rt-144 { border-top-left-radius: 18.000rem; border-top-right-radius: 18.000rem }
.rt-145 { border-top-left-radius: 18.125rem; border-top-right-radius: 18.125rem }
.rt-146 { border-top-left-radius: 18.250rem; border-top-right-radius: 18.250rem }
.rt-147 { border-top-left-radius: 18.375rem; border-top-right-radius: 18.375rem }
.rt-148 { border-top-left-radius: 18.500rem; border-top-right-radius: 18.500rem }
.rt-149 { border-top-left-radius: 18.625rem; border-top-right-radius: 18.625rem }
.rt-150 { border-top-left-radius: 18.750rem; border-top-right-radius: 18.750rem }
.rt-151 { border-top-left-radius: 18.875rem; border-top-right-radius: 18.875rem }
.rt-152 { border-top-left-radius: 19.000rem; border-top-right-radius: 19.000rem }
.rt-153 { border-top-left-radius: 19.125rem; border-top-right-radius: 19.125rem }
.rt-154 { border-top-left-radius: 19.250rem; border-top-right-radius: 19.250rem }
.rt-155 { border-top-left-radius: 19.375rem; border-top-right-radius: 19.375rem }
.rt-156 { border-top-left-radius: 19.500rem; border-top-right-radius: 19.500rem }
.rt-157 { border-top-left-radius: 19.625rem; border-top-right-radius: 19.625rem }
.rt-158 { border-top-left-radius: 19.750rem; border-top-right-radius: 19.750rem }
.rt-159 { border-top-left-radius: 19.875rem; border-top-right-radius: 19.875rem }
.rt-160 { border-top-left-radius: 20.000rem; border-top-right-radius: 20.000rem }
.rt-161 { border-top-left-radius: 20.125rem; border-top-right-radius: 20.125rem }
.rt-162 { border-top-left-radius: 20.250rem; border-top-right-radius: 20.250rem }
.rt-163 { border-top-left-radius: 20.375rem; border-top-right-radius: 20.375rem }
.rt-164 { border-top-left-radius: 20.500rem; border-top-right-radius: 20.500rem }
.rt-165 { border-top-left-radius: 20.625rem; border-top-right-radius: 20.625rem }
.rt-166 { border-top-left-radius: 20.750rem; border-top-right-radius: 20.750rem }
.rt-167 { border-top-left-radius: 20.875rem; border-top-right-radius: 20.875rem }
.rt-168 { border-top-left-radius: 21.000rem; border-top-right-radius: 21.000rem }
.rt-169 { border-top-left-radius: 21.125rem; border-top-right-radius: 21.125rem }
.rt-170 { border-top-left-radius: 21.250rem; border-top-right-radius: 21.250rem }
.rt-171 { border-top-left-radius: 21.375rem; border-top-right-radius: 21.375rem }
.rt-172 { border-top-left-radius: 21.500rem; border-top-right-radius: 21.500rem }
.rt-173 { border-top-left-radius: 21.625rem; border-top-right-radius: 21.625rem }
.rt-174 { border-top-left-radius: 21.750rem; border-top-right-radius: 21.750rem }
.rt-175 { border-top-left-radius: 21.875rem; border-top-right-radius: 21.875rem }
.rt-176 { border-top-left-radius: 22.000rem; border-top-right-radius: 22.000rem }
.rt-177 { border-top-left-radius: 22.125rem; border-top-right-radius: 22.125rem }
.rt-178 { border-top-left-radius: 22.250rem; border-top-right-radius: 22.250rem }
.rt-179 { border-top-left-radius: 22.375rem; border-top-right-radius: 22.375rem }
.rt-180 { border-top-left-radius: 22.500rem; border-top-right-radius: 22.500rem }
.rt-181 { border-top-left-radius: 22.625rem; border-top-right-radius: 22.625rem }
.rt-182 { border-top-left-radius: 22.750rem; border-top-right-radius: 22.750rem }
.rt-183 { border-top-left-radius: 22.875rem; border-top-right-radius: 22.875rem }
.rt-184 { border-top-left-radius: 23.000rem; border-top-right-radius: 23.000rem }
.rt-185 { border-top-left-radius: 23.125rem; border-top-right-radius: 23.125rem }
.rt-186 { border-top-left-radius: 23.250rem; border-top-right-radius: 23.250rem }
.rt-187 { border-top-left-radius: 23.375rem; border-top-right-radius: 23.375rem }
.rt-188 { border-top-left-radius: 23.500rem; border-top-right-radius: 23.500rem }
.rt-189 { border-top-left-radius: 23.625rem; border-top-right-radius: 23.625rem }
.rt-190 { border-top-left-radius: 23.750rem; border-top-right-radius: 23.750rem }
.rt-191 { border-top-left-radius: 23.875rem; border-top-right-radius: 23.875rem }
.rt-192 { border-top-left-radius: 24.000rem; border-top-right-radius: 24.000rem }
.rt-193 { border-top-left-radius: 24.125rem; border-top-right-radius: 24.125rem }
.rt-194 { border-top-left-radius: 24.250rem; border-top-right-radius: 24.250rem }
.rt-195 { border-top-left-radius: 24.375rem; border-top-right-radius: 24.375rem }
.rt-196 { border-top-left-radius: 24.500rem; border-top-right-radius: 24.500rem }
.rt-197 { border-top-left-radius: 24.625rem; border-top-right-radius: 24.625rem }
.rt-198 { border-top-left-radius: 24.750rem; border-top-right-radius: 24.750rem }
.rt-199 { border-top-left-radius: 24.875rem; border-top-right-radius: 24.875rem }
.rt-200 { border-top-left-radius: 25.000rem; border-top-right-radius: 25.000rem }
.rt-201 { border-top-left-radius: 25.125rem; border-top-right-radius: 25.125rem }
.rt-202 { border-top-left-radius: 25.250rem; border-top-right-radius: 25.250rem }
.rt-203 { border-top-left-radius: 25.375rem; border-top-right-radius: 25.375rem }
.rt-204 { border-top-left-radius: 25.500rem; border-top-right-radius: 25.500rem }
.rt-205 { border-top-left-radius: 25.625rem; border-top-right-radius: 25.625rem }
.rt-206 { border-top-left-radius: 25.750rem; border-top-right-radius: 25.750rem }
.rt-207 { border-top-left-radius: 25.875rem; border-top-right-radius: 25.875rem }
.rt-208 { border-top-left-radius: 26.000rem; border-top-right-radius: 26.000rem }
.rt-209 { border-top-left-radius: 26.125rem; border-top-right-radius: 26.125rem }
.rt-210 { border-top-left-radius: 26.250rem; border-top-right-radius: 26.250rem }
.rt-211 { border-top-left-radius: 26.375rem; border-top-right-radius: 26.375rem }
.rt-212 { border-top-left-radius: 26.500rem; border-top-right-radius: 26.500rem }
.rt-213 { border-top-left-radius: 26.625rem; border-top-right-radius: 26.625rem }
.rt-214 { border-top-left-radius: 26.750rem; border-top-right-radius: 26.750rem }
.rt-215 { border-top-left-radius: 26.875rem; border-top-right-radius: 26.875rem }
.rt-216 { border-top-left-radius: 27.000rem; border-top-right-radius: 27.000rem }
.rt-217 { border-top-left-radius: 27.125rem; border-top-right-radius: 27.125rem }
.rt-218 { border-top-left-radius: 27.250rem; border-top-right-radius: 27.250rem }
.rt-219 { border-top-left-radius: 27.375rem; border-top-right-radius: 27.375rem }
.rt-220 { border-top-left-radius: 27.500rem; border-top-right-radius: 27.500rem }
.rt-221 { border-top-left-radius: 27.625rem; border-top-right-radius: 27.625rem }
.rt-222 { border-top-left-radius: 27.750rem; border-top-right-radius: 27.750rem }
.rt-223 { border-top-left-radius: 27.875rem; border-top-right-radius: 27.875rem }
.rt-224 { border-top-left-radius: 28.000rem; border-top-right-radius: 28.000rem }
.rt-225 { border-top-left-radius: 28.125rem; border-top-right-radius: 28.125rem }
.rt-226 { border-top-left-radius: 28.250rem; border-top-right-radius: 28.250rem }
.rt-227 { border-top-left-radius: 28.375rem; border-top-right-radius: 28.375rem }
.rt-228 { border-top-left-radius: 28.500rem; border-top-right-radius: 28.500rem }
.rt-229 { border-top-left-radius: 28.625rem; border-top-right-radius: 28.625rem }
.rt-230 { border-top-left-radius: 28.750rem; border-top-right-radius: 28.750rem }
.rt-231 { border-top-left-radius: 28.875rem; border-top-right-radius: 28.875rem }
.rt-232 { border-top-left-radius: 29.000rem; border-top-right-radius: 29.000rem }
.rt-233 { border-top-left-radius: 29.125rem; border-top-right-radius: 29.125rem }
.rt-234 { border-top-left-radius: 29.250rem; border-top-right-radius: 29.250rem }
.rt-235 { border-top-left-radius: 29.375rem; border-top-right-radius: 29.375rem }
.rt-236 { border-top-left-radius: 29.500rem; border-top-right-radius: 29.500rem }
.rt-237 { border-top-left-radius: 29.625rem; border-top-right-radius: 29.625rem }
.rt-238 { border-top-left-radius: 29.750rem; border-top-right-radius: 29.750rem }
.rt-239 { border-top-left-radius: 29.875rem; border-top-right-radius: 29.875rem }
.rt-240 { border-top-left-radius: 30.000rem; border-top-right-radius: 30.000rem }
.rt-241 { border-top-left-radius: 30.125rem; border-top-right-radius: 30.125rem }
.rt-242 { border-top-left-radius: 30.250rem; border-top-right-radius: 30.250rem }
.rt-243 { border-top-left-radius: 30.375rem; border-top-right-radius: 30.375rem }
.rt-244 { border-top-left-radius: 30.500rem; border-top-right-radius: 30.500rem }
.rt-245 { border-top-left-radius: 30.625rem; border-top-right-radius: 30.625rem }
.rt-246 { border-top-left-radius: 30.750rem; border-top-right-radius: 30.750rem }
.rt-247 { border-top-left-radius: 30.875rem; border-top-right-radius: 30.875rem }
.rt-248 { border-top-left-radius: 31.000rem; border-top-right-radius: 31.000rem }
.rt-249 { border-top-left-radius: 31.125rem; border-top-right-radius: 31.125rem }
.rt-250 { border-top-left-radius: 31.250rem; border-top-right-radius: 31.250rem }
.rt-251 { border-top-left-radius: 31.375rem; border-top-right-radius: 31.375rem }
.rt-252 { border-top-left-radius: 31.500rem; border-top-right-radius: 31.500rem }
.rt-253 { border-top-left-radius: 31.625rem; border-top-right-radius: 31.625rem }
.rt-254 { border-top-left-radius: 31.750rem; border-top-right-radius: 31.750rem }
.rt-255 { border-top-left-radius: 31.875rem; border-top-right-radius: 31.875rem }
.rt-256 { border-top-left-radius: 32.000rem; border-top-right-radius: 32.000rem }
.rt-1\/2 { border-top-left-radius: 50.000%; border-top-right-radius: 50.000% }
.rt-1\/3 { border-top-left-radius: 33.333%; border-top-right-radius: 33.333% }
.rt-2\/3 { border-top-left-radius: 66.667%; border-top-right-radius: 66.667% }
.rt-1\/4 { border-top-left-radius: 25.000%; border-top-right-radius: 25.000% }
.rt-3\/4 { border-top-left-radius: 75.000%; border-top-right-radius: 75.000% }
.rt-1\/5 { border-top-left-radius: 20.000%; border-top-right-radius: 20.000% }
.rt-2\/5 { border-top-left-radius: 40.000%; border-top-right-radius: 40.000% }
.rt-3\/5 { border-top-left-radius: 60.000%; border-top-right-radius: 60.000% }
.rt-4\/5 { border-top-left-radius: 80.000%; border-top-right-radius: 80.000% }
.rt-1\/6 { border-top-left-radius: 16.667%; border-top-right-radius: 16.667% }
.rt-5\/6 { border-top-left-radius: 83.333%; border-top-right-radius: 83.333% }
.rt-1\/8 { border-top-left-radius: 12.500%; border-top-right-radius: 12.500% }
.rt-3\/8 { border-top-left-radius: 37.500%; border-top-right-radius: 37.500% }
.rt-5\/8 { border-top-left-radius: 62.500%; border-top-right-radius: 62.500% }
.rt-7\/8 { border-top-left-radius: 87.500%; border-top-right-radius: 87.500% }
.rt-1\/9 { border-top-left-radius: 11.111%; border-top-right-radius: 11.111% }
.rt-2\/9 { border-top-left-radius: 22.222%; border-top-right-radius: 22.222% }
.rt-4\/9 { border-top-left-radius: 44.444%; border-top-right-radius: 44.444% }
.rt-5\/9 { border-top-left-radius: 55.556%; border-top-right-radius: 55.556% }
.rt-7\/9 { border-top-left-radius: 77.778%; border-top-right-radius: 77.778% }
.rt-8\/9 { border-top-left-radius: 88.889%; border-top-right-radius: 88.889% }
.rt-1\/10 { border-top-left-radius: 10.000%; border-top-right-radius: 10.000% }
.rt-3\/10 { border-top-left-radius: 30.000%; border-top-right-radius: 30.000% }
.rt-7\/10 { border-top-left-radius: 70.000%; border-top-right-radius: 70.000% }
.rt-9\/10 { border-top-left-radius: 90.000%; border-top-right-radius: 90.000% }
.rt-1\/12 { border-top-left-radius: 8.333%; border-top-right-radius: 8.333% }
.rt-5\/12 { border-top-left-radius: 41.667%; border-top-right-radius: 41.667% }
.rt-7\/12 { border-top-left-radius: 58.333%; border-top-right-radius: 58.333% }
.rt-11\/12 { border-top-left-radius: 91.667%; border-top-right-radius: 91.667% }
.rt-1\/16 { border-top-left-radius: 6.250%; border-top-right-radius: 6.250% }
.rt-3\/16 { border-top-left-radius: 18.750%; border-top-right-radius: 18.750% }
.rt-5\/16 { border-top-left-radius: 31.250%; border-top-right-radius: 31.250% }
.rt-7\/16 { border-top-left-radius: 43.750%; border-top-right-radius: 43.750% }
.rt-9\/16 { border-top-left-radius: 56.250%; border-top-right-radius: 56.250% }
.rt-11\/16 { border-top-left-radius: 68.750%; border-top-right-radius: 68.750% }
.rt-13\/16 { border-top-left-radius: 81.250%; border-top-right-radius: 81.250% }
.rt-15\/16 { border-top-left-radius: 93.750%; border-top-right-radius: 93.750% }