.rt-0 { --round-tl: 0.000rem; --round-tr: 0.000rem }
.rt-1 { --round-tl: 0.125rem; --round-tr: 0.125rem }
.rt-2 { --round-tl: 0.250rem; --round-tr: 0.250rem }
.rt-3 { --round-tl: 0.375rem; --round-tr: 0.375rem }
.rt-4 { --round-tl: 0.500rem; --round-tr: 0.500rem }
.rt-5 { --round-tl: 0.625rem; --round-tr: 0.625rem }
.rt-6 { --round-tl: 0.750rem; --round-tr: 0.750rem }
.rt-7 { --round-tl: 0.875rem; --round-tr: 0.875rem }
.rt-8 { --round-tl: 1.000rem; --round-tr: 1.000rem }
.rt-9 { --round-tl: 1.125rem; --round-tr: 1.125rem }
.rt-10 { --round-tl: 1.250rem; --round-tr: 1.250rem }
.rt-11 { --round-tl: 1.375rem; --round-tr: 1.375rem }
.rt-12 { --round-tl: 1.500rem; --round-tr: 1.500rem }
.rt-13 { --round-tl: 1.625rem; --round-tr: 1.625rem }
.rt-14 { --round-tl: 1.750rem; --round-tr: 1.750rem }
.rt-15 { --round-tl: 1.875rem; --round-tr: 1.875rem }
.rt-16 { --round-tl: 2.000rem; --round-tr: 2.000rem }
.rt-17 { --round-tl: 2.125rem; --round-tr: 2.125rem }
.rt-18 { --round-tl: 2.250rem; --round-tr: 2.250rem }
.rt-19 { --round-tl: 2.375rem; --round-tr: 2.375rem }
.rt-20 { --round-tl: 2.500rem; --round-tr: 2.500rem }
.rt-21 { --round-tl: 2.625rem; --round-tr: 2.625rem }
.rt-22 { --round-tl: 2.750rem; --round-tr: 2.750rem }
.rt-23 { --round-tl: 2.875rem; --round-tr: 2.875rem }
.rt-24 { --round-tl: 3.000rem; --round-tr: 3.000rem }
.rt-25 { --round-tl: 3.125rem; --round-tr: 3.125rem }
.rt-26 { --round-tl: 3.250rem; --round-tr: 3.250rem }
.rt-27 { --round-tl: 3.375rem; --round-tr: 3.375rem }
.rt-28 { --round-tl: 3.500rem; --round-tr: 3.500rem }
.rt-29 { --round-tl: 3.625rem; --round-tr: 3.625rem }
.rt-30 { --round-tl: 3.750rem; --round-tr: 3.750rem }
.rt-31 { --round-tl: 3.875rem; --round-tr: 3.875rem }
.rt-32 { --round-tl: 4.000rem; --round-tr: 4.000rem }
.rt-33 { --round-tl: 4.125rem; --round-tr: 4.125rem }
.rt-34 { --round-tl: 4.250rem; --round-tr: 4.250rem }
.rt-35 { --round-tl: 4.375rem; --round-tr: 4.375rem }
.rt-36 { --round-tl: 4.500rem; --round-tr: 4.500rem }
.rt-37 { --round-tl: 4.625rem; --round-tr: 4.625rem }
.rt-38 { --round-tl: 4.750rem; --round-tr: 4.750rem }
.rt-39 { --round-tl: 4.875rem; --round-tr: 4.875rem }
.rt-40 { --round-tl: 5.000rem; --round-tr: 5.000rem }
.rt-41 { --round-tl: 5.125rem; --round-tr: 5.125rem }
.rt-42 { --round-tl: 5.250rem; --round-tr: 5.250rem }
.rt-43 { --round-tl: 5.375rem; --round-tr: 5.375rem }
.rt-44 { --round-tl: 5.500rem; --round-tr: 5.500rem }
.rt-45 { --round-tl: 5.625rem; --round-tr: 5.625rem }
.rt-46 { --round-tl: 5.750rem; --round-tr: 5.750rem }
.rt-47 { --round-tl: 5.875rem; --round-tr: 5.875rem }
.rt-48 { --round-tl: 6.000rem; --round-tr: 6.000rem }
.rt-49 { --round-tl: 6.125rem; --round-tr: 6.125rem }
.rt-50 { --round-tl: 6.250rem; --round-tr: 6.250rem }
.rt-51 { --round-tl: 6.375rem; --round-tr: 6.375rem }
.rt-52 { --round-tl: 6.500rem; --round-tr: 6.500rem }
.rt-53 { --round-tl: 6.625rem; --round-tr: 6.625rem }
.rt-54 { --round-tl: 6.750rem; --round-tr: 6.750rem }
.rt-55 { --round-tl: 6.875rem; --round-tr: 6.875rem }
.rt-56 { --round-tl: 7.000rem; --round-tr: 7.000rem }
.rt-57 { --round-tl: 7.125rem; --round-tr: 7.125rem }
.rt-58 { --round-tl: 7.250rem; --round-tr: 7.250rem }
.rt-59 { --round-tl: 7.375rem; --round-tr: 7.375rem }
.rt-60 { --round-tl: 7.500rem; --round-tr: 7.500rem }
.rt-61 { --round-tl: 7.625rem; --round-tr: 7.625rem }
.rt-62 { --round-tl: 7.750rem; --round-tr: 7.750rem }
.rt-63 { --round-tl: 7.875rem; --round-tr: 7.875rem }
.rt-64 { --round-tl: 8.000rem; --round-tr: 8.000rem }
.rt-65 { --round-tl: 8.125rem; --round-tr: 8.125rem }
.rt-66 { --round-tl: 8.250rem; --round-tr: 8.250rem }
.rt-67 { --round-tl: 8.375rem; --round-tr: 8.375rem }
.rt-68 { --round-tl: 8.500rem; --round-tr: 8.500rem }
.rt-69 { --round-tl: 8.625rem; --round-tr: 8.625rem }
.rt-70 { --round-tl: 8.750rem; --round-tr: 8.750rem }
.rt-71 { --round-tl: 8.875rem; --round-tr: 8.875rem }
.rt-72 { --round-tl: 9.000rem; --round-tr: 9.000rem }
.rt-73 { --round-tl: 9.125rem; --round-tr: 9.125rem }
.rt-74 { --round-tl: 9.250rem; --round-tr: 9.250rem }
.rt-75 { --round-tl: 9.375rem; --round-tr: 9.375rem }
.rt-76 { --round-tl: 9.500rem; --round-tr: 9.500rem }
.rt-77 { --round-tl: 9.625rem; --round-tr: 9.625rem }
.rt-78 { --round-tl: 9.750rem; --round-tr: 9.750rem }
.rt-79 { --round-tl: 9.875rem; --round-tr: 9.875rem }
.rt-80 { --round-tl: 10.000rem; --round-tr: 10.000rem }
.rt-81 { --round-tl: 10.125rem; --round-tr: 10.125rem }
.rt-82 { --round-tl: 10.250rem; --round-tr: 10.250rem }
.rt-83 { --round-tl: 10.375rem; --round-tr: 10.375rem }
.rt-84 { --round-tl: 10.500rem; --round-tr: 10.500rem }
.rt-85 { --round-tl: 10.625rem; --round-tr: 10.625rem }
.rt-86 { --round-tl: 10.750rem; --round-tr: 10.750rem }
.rt-87 { --round-tl: 10.875rem; --round-tr: 10.875rem }
.rt-88 { --round-tl: 11.000rem; --round-tr: 11.000rem }
.rt-89 { --round-tl: 11.125rem; --round-tr: 11.125rem }
.rt-90 { --round-tl: 11.250rem; --round-tr: 11.250rem }
.rt-91 { --round-tl: 11.375rem; --round-tr: 11.375rem }
.rt-92 { --round-tl: 11.500rem; --round-tr: 11.500rem }
.rt-93 { --round-tl: 11.625rem; --round-tr: 11.625rem }
.rt-94 { --round-tl: 11.750rem; --round-tr: 11.750rem }
.rt-95 { --round-tl: 11.875rem; --round-tr: 11.875rem }
.rt-96 { --round-tl: 12.000rem; --round-tr: 12.000rem }
.rt-97 { --round-tl: 12.125rem; --round-tr: 12.125rem }
.rt-98 { --round-tl: 12.250rem; --round-tr: 12.250rem }
.rt-99 { --round-tl: 12.375rem; --round-tr: 12.375rem }
.rt-100 { --round-tl: 12.500rem; --round-tr: 12.500rem }
.rt-101 { --round-tl: 12.625rem; --round-tr: 12.625rem }
.rt-102 { --round-tl: 12.750rem; --round-tr: 12.750rem }
.rt-103 { --round-tl: 12.875rem; --round-tr: 12.875rem }
.rt-104 { --round-tl: 13.000rem; --round-tr: 13.000rem }
.rt-105 { --round-tl: 13.125rem; --round-tr: 13.125rem }
.rt-106 { --round-tl: 13.250rem; --round-tr: 13.250rem }
.rt-107 { --round-tl: 13.375rem; --round-tr: 13.375rem }
.rt-108 { --round-tl: 13.500rem; --round-tr: 13.500rem }
.rt-109 { --round-tl: 13.625rem; --round-tr: 13.625rem }
.rt-110 { --round-tl: 13.750rem; --round-tr: 13.750rem }
.rt-111 { --round-tl: 13.875rem; --round-tr: 13.875rem }
.rt-112 { --round-tl: 14.000rem; --round-tr: 14.000rem }
.rt-113 { --round-tl: 14.125rem; --round-tr: 14.125rem }
.rt-114 { --round-tl: 14.250rem; --round-tr: 14.250rem }
.rt-115 { --round-tl: 14.375rem; --round-tr: 14.375rem }
.rt-116 { --round-tl: 14.500rem; --round-tr: 14.500rem }
.rt-117 { --round-tl: 14.625rem; --round-tr: 14.625rem }
.rt-118 { --round-tl: 14.750rem; --round-tr: 14.750rem }
.rt-119 { --round-tl: 14.875rem; --round-tr: 14.875rem }
.rt-120 { --round-tl: 15.000rem; --round-tr: 15.000rem }
.rt-121 { --round-tl: 15.125rem; --round-tr: 15.125rem }
.rt-122 { --round-tl: 15.250rem; --round-tr: 15.250rem }
.rt-123 { --round-tl: 15.375rem; --round-tr: 15.375rem }
.rt-124 { --round-tl: 15.500rem; --round-tr: 15.500rem }
.rt-125 { --round-tl: 15.625rem; --round-tr: 15.625rem }
.rt-126 { --round-tl: 15.750rem; --round-tr: 15.750rem }
.rt-127 { --round-tl: 15.875rem; --round-tr: 15.875rem }
.rt-128 { --round-tl: 16.000rem; --round-tr: 16.000rem }
.rt-129 { --round-tl: 16.125rem; --round-tr: 16.125rem }
.rt-130 { --round-tl: 16.250rem; --round-tr: 16.250rem }
.rt-131 { --round-tl: 16.375rem; --round-tr: 16.375rem }
.rt-132 { --round-tl: 16.500rem; --round-tr: 16.500rem }
.rt-133 { --round-tl: 16.625rem; --round-tr: 16.625rem }
.rt-134 { --round-tl: 16.750rem; --round-tr: 16.750rem }
.rt-135 { --round-tl: 16.875rem; --round-tr: 16.875rem }
.rt-136 { --round-tl: 17.000rem; --round-tr: 17.000rem }
.rt-137 { --round-tl: 17.125rem; --round-tr: 17.125rem }
.rt-138 { --round-tl: 17.250rem; --round-tr: 17.250rem }
.rt-139 { --round-tl: 17.375rem; --round-tr: 17.375rem }
.rt-140 { --round-tl: 17.500rem; --round-tr: 17.500rem }
.rt-141 { --round-tl: 17.625rem; --round-tr: 17.625rem }
.rt-142 { --round-tl: 17.750rem; --round-tr: 17.750rem }
.rt-143 { --round-tl: 17.875rem; --round-tr: 17.875rem }
.rt-144 { --round-tl: 18.000rem; --round-tr: 18.000rem }
.rt-145 { --round-tl: 18.125rem; --round-tr: 18.125rem }
.rt-146 { --round-tl: 18.250rem; --round-tr: 18.250rem }
.rt-147 { --round-tl: 18.375rem; --round-tr: 18.375rem }
.rt-148 { --round-tl: 18.500rem; --round-tr: 18.500rem }
.rt-149 { --round-tl: 18.625rem; --round-tr: 18.625rem }
.rt-150 { --round-tl: 18.750rem; --round-tr: 18.750rem }
.rt-151 { --round-tl: 18.875rem; --round-tr: 18.875rem }
.rt-152 { --round-tl: 19.000rem; --round-tr: 19.000rem }
.rt-153 { --round-tl: 19.125rem; --round-tr: 19.125rem }
.rt-154 { --round-tl: 19.250rem; --round-tr: 19.250rem }
.rt-155 { --round-tl: 19.375rem; --round-tr: 19.375rem }
.rt-156 { --round-tl: 19.500rem; --round-tr: 19.500rem }
.rt-157 { --round-tl: 19.625rem; --round-tr: 19.625rem }
.rt-158 { --round-tl: 19.750rem; --round-tr: 19.750rem }
.rt-159 { --round-tl: 19.875rem; --round-tr: 19.875rem }
.rt-160 { --round-tl: 20.000rem; --round-tr: 20.000rem }
.rt-161 { --round-tl: 20.125rem; --round-tr: 20.125rem }
.rt-162 { --round-tl: 20.250rem; --round-tr: 20.250rem }
.rt-163 { --round-tl: 20.375rem; --round-tr: 20.375rem }
.rt-164 { --round-tl: 20.500rem; --round-tr: 20.500rem }
.rt-165 { --round-tl: 20.625rem; --round-tr: 20.625rem }
.rt-166 { --round-tl: 20.750rem; --round-tr: 20.750rem }
.rt-167 { --round-tl: 20.875rem; --round-tr: 20.875rem }
.rt-168 { --round-tl: 21.000rem; --round-tr: 21.000rem }
.rt-169 { --round-tl: 21.125rem; --round-tr: 21.125rem }
.rt-170 { --round-tl: 21.250rem; --round-tr: 21.250rem }
.rt-171 { --round-tl: 21.375rem; --round-tr: 21.375rem }
.rt-172 { --round-tl: 21.500rem; --round-tr: 21.500rem }
.rt-173 { --round-tl: 21.625rem; --round-tr: 21.625rem }
.rt-174 { --round-tl: 21.750rem; --round-tr: 21.750rem }
.rt-175 { --round-tl: 21.875rem; --round-tr: 21.875rem }
.rt-176 { --round-tl: 22.000rem; --round-tr: 22.000rem }
.rt-177 { --round-tl: 22.125rem; --round-tr: 22.125rem }
.rt-178 { --round-tl: 22.250rem; --round-tr: 22.250rem }
.rt-179 { --round-tl: 22.375rem; --round-tr: 22.375rem }
.rt-180 { --round-tl: 22.500rem; --round-tr: 22.500rem }
.rt-181 { --round-tl: 22.625rem; --round-tr: 22.625rem }
.rt-182 { --round-tl: 22.750rem; --round-tr: 22.750rem }
.rt-183 { --round-tl: 22.875rem; --round-tr: 22.875rem }
.rt-184 { --round-tl: 23.000rem; --round-tr: 23.000rem }
.rt-185 { --round-tl: 23.125rem; --round-tr: 23.125rem }
.rt-186 { --round-tl: 23.250rem; --round-tr: 23.250rem }
.rt-187 { --round-tl: 23.375rem; --round-tr: 23.375rem }
.rt-188 { --round-tl: 23.500rem; --round-tr: 23.500rem }
.rt-189 { --round-tl: 23.625rem; --round-tr: 23.625rem }
.rt-190 { --round-tl: 23.750rem; --round-tr: 23.750rem }
.rt-191 { --round-tl: 23.875rem; --round-tr: 23.875rem }
.rt-192 { --round-tl: 24.000rem; --round-tr: 24.000rem }
.rt-193 { --round-tl: 24.125rem; --round-tr: 24.125rem }
.rt-194 { --round-tl: 24.250rem; --round-tr: 24.250rem }
.rt-195 { --round-tl: 24.375rem; --round-tr: 24.375rem }
.rt-196 { --round-tl: 24.500rem; --round-tr: 24.500rem }
.rt-197 { --round-tl: 24.625rem; --round-tr: 24.625rem }
.rt-198 { --round-tl: 24.750rem; --round-tr: 24.750rem }
.rt-199 { --round-tl: 24.875rem; --round-tr: 24.875rem }
.rt-200 { --round-tl: 25.000rem; --round-tr: 25.000rem }
.rt-201 { --round-tl: 25.125rem; --round-tr: 25.125rem }
.rt-202 { --round-tl: 25.250rem; --round-tr: 25.250rem }
.rt-203 { --round-tl: 25.375rem; --round-tr: 25.375rem }
.rt-204 { --round-tl: 25.500rem; --round-tr: 25.500rem }
.rt-205 { --round-tl: 25.625rem; --round-tr: 25.625rem }
.rt-206 { --round-tl: 25.750rem; --round-tr: 25.750rem }
.rt-207 { --round-tl: 25.875rem; --round-tr: 25.875rem }
.rt-208 { --round-tl: 26.000rem; --round-tr: 26.000rem }
.rt-209 { --round-tl: 26.125rem; --round-tr: 26.125rem }
.rt-210 { --round-tl: 26.250rem; --round-tr: 26.250rem }
.rt-211 { --round-tl: 26.375rem; --round-tr: 26.375rem }
.rt-212 { --round-tl: 26.500rem; --round-tr: 26.500rem }
.rt-213 { --round-tl: 26.625rem; --round-tr: 26.625rem }
.rt-214 { --round-tl: 26.750rem; --round-tr: 26.750rem }
.rt-215 { --round-tl: 26.875rem; --round-tr: 26.875rem }
.rt-216 { --round-tl: 27.000rem; --round-tr: 27.000rem }
.rt-217 { --round-tl: 27.125rem; --round-tr: 27.125rem }
.rt-218 { --round-tl: 27.250rem; --round-tr: 27.250rem }
.rt-219 { --round-tl: 27.375rem; --round-tr: 27.375rem }
.rt-220 { --round-tl: 27.500rem; --round-tr: 27.500rem }
.rt-221 { --round-tl: 27.625rem; --round-tr: 27.625rem }
.rt-222 { --round-tl: 27.750rem; --round-tr: 27.750rem }
.rt-223 { --round-tl: 27.875rem; --round-tr: 27.875rem }
.rt-224 { --round-tl: 28.000rem; --round-tr: 28.000rem }
.rt-225 { --round-tl: 28.125rem; --round-tr: 28.125rem }
.rt-226 { --round-tl: 28.250rem; --round-tr: 28.250rem }
.rt-227 { --round-tl: 28.375rem; --round-tr: 28.375rem }
.rt-228 { --round-tl: 28.500rem; --round-tr: 28.500rem }
.rt-229 { --round-tl: 28.625rem; --round-tr: 28.625rem }
.rt-230 { --round-tl: 28.750rem; --round-tr: 28.750rem }
.rt-231 { --round-tl: 28.875rem; --round-tr: 28.875rem }
.rt-232 { --round-tl: 29.000rem; --round-tr: 29.000rem }
.rt-233 { --round-tl: 29.125rem; --round-tr: 29.125rem }
.rt-234 { --round-tl: 29.250rem; --round-tr: 29.250rem }
.rt-235 { --round-tl: 29.375rem; --round-tr: 29.375rem }
.rt-236 { --round-tl: 29.500rem; --round-tr: 29.500rem }
.rt-237 { --round-tl: 29.625rem; --round-tr: 29.625rem }
.rt-238 { --round-tl: 29.750rem; --round-tr: 29.750rem }
.rt-239 { --round-tl: 29.875rem; --round-tr: 29.875rem }
.rt-240 { --round-tl: 30.000rem; --round-tr: 30.000rem }
.rt-241 { --round-tl: 30.125rem; --round-tr: 30.125rem }
.rt-242 { --round-tl: 30.250rem; --round-tr: 30.250rem }
.rt-243 { --round-tl: 30.375rem; --round-tr: 30.375rem }
.rt-244 { --round-tl: 30.500rem; --round-tr: 30.500rem }
.rt-245 { --round-tl: 30.625rem; --round-tr: 30.625rem }
.rt-246 { --round-tl: 30.750rem; --round-tr: 30.750rem }
.rt-247 { --round-tl: 30.875rem; --round-tr: 30.875rem }
.rt-248 { --round-tl: 31.000rem; --round-tr: 31.000rem }
.rt-249 { --round-tl: 31.125rem; --round-tr: 31.125rem }
.rt-250 { --round-tl: 31.250rem; --round-tr: 31.250rem }
.rt-251 { --round-tl: 31.375rem; --round-tr: 31.375rem }
.rt-252 { --round-tl: 31.500rem; --round-tr: 31.500rem }
.rt-253 { --round-tl: 31.625rem; --round-tr: 31.625rem }
.rt-254 { --round-tl: 31.750rem; --round-tr: 31.750rem }
.rt-255 { --round-tl: 31.875rem; --round-tr: 31.875rem }
.rt-256 { --round-tl: 32.000rem; --round-tr: 32.000rem }
.rt-1\/2 { --round-tl: 50.000%; --round-tr: 50.000% }
.rt-1\/3 { --round-tl: 33.333%; --round-tr: 33.333% }
.rt-2\/3 { --round-tl: 66.667%; --round-tr: 66.667% }
.rt-1\/4 { --round-tl: 25.000%; --round-tr: 25.000% }
.rt-3\/4 { --round-tl: 75.000%; --round-tr: 75.000% }
.rt-1\/5 { --round-tl: 20.000%; --round-tr: 20.000% }
.rt-2\/5 { --round-tl: 40.000%; --round-tr: 40.000% }
.rt-3\/5 { --round-tl: 60.000%; --round-tr: 60.000% }
.rt-4\/5 { --round-tl: 80.000%; --round-tr: 80.000% }
.rt-1\/6 { --round-tl: 16.667%; --round-tr: 16.667% }
.rt-5\/6 { --round-tl: 83.333%; --round-tr: 83.333% }
.rt-1\/8 { --round-tl: 12.500%; --round-tr: 12.500% }
.rt-3\/8 { --round-tl: 37.500%; --round-tr: 37.500% }
.rt-5\/8 { --round-tl: 62.500%; --round-tr: 62.500% }
.rt-7\/8 { --round-tl: 87.500%; --round-tr: 87.500% }
.rt-1\/9 { --round-tl: 11.111%; --round-tr: 11.111% }
.rt-2\/9 { --round-tl: 22.222%; --round-tr: 22.222% }
.rt-4\/9 { --round-tl: 44.444%; --round-tr: 44.444% }
.rt-5\/9 { --round-tl: 55.556%; --round-tr: 55.556% }
.rt-7\/9 { --round-tl: 77.778%; --round-tr: 77.778% }
.rt-8\/9 { --round-tl: 88.889%; --round-tr: 88.889% }
.rt-1\/10 { --round-tl: 10.000%; --round-tr: 10.000% }
.rt-3\/10 { --round-tl: 30.000%; --round-tr: 30.000% }
.rt-7\/10 { --round-tl: 70.000%; --round-tr: 70.000% }
.rt-9\/10 { --round-tl: 90.000%; --round-tr: 90.000% }
.rt-1\/12 { --round-tl: 8.333%; --round-tr: 8.333% }
.rt-5\/12 { --round-tl: 41.667%; --round-tr: 41.667% }
.rt-7\/12 { --round-tl: 58.333%; --round-tr: 58.333% }
.rt-11\/12 { --round-tl: 91.667%; --round-tr: 91.667% }
.rt-1\/16 { --round-tl: 6.250%; --round-tr: 6.250% }
.rt-3\/16 { --round-tl: 18.750%; --round-tr: 18.750% }
.rt-5\/16 { --round-tl: 31.250%; --round-tr: 31.250% }
.rt-7\/16 { --round-tl: 43.750%; --round-tr: 43.750% }
.rt-9\/16 { --round-tl: 56.250%; --round-tr: 56.250% }
.rt-11\/16 { --round-tl: 68.750%; --round-tr: 68.750% }
.rt-13\/16 { --round-tl: 81.250%; --round-tr: 81.250% }
.rt-15\/16 { --round-tl: 93.750%; --round-tr: 93.750% }